#divAgentes {
  color: #663333;
  width: 100%;
}

#inicioAgentes {
  padding: 40px;
  width: 100%;
  background-color: #ffcccc;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#tablaAgentes {
  border: 1px;
  border-style: solid;
  border-color: #ff6699;
  margin-left: auto;
  margin-right: auto;
}

#tablaAgentes .celda {
  font-size: 0.8em;
  border: 1px;
  border-style: solid;
  border-color: #ff6699;
  padding: 5px;
  color: #663333;
}

.bordeado {
  border-spacing: 1px;
  border: 1px;
  border-style: solid;
  border-collapse: separate;
  vertical-align: middle;
  border-color: #666699;
}

#listaAgentes {
  text-align: center;
  padding: 10px;
  color: #e6e1ec;
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 10px;
  color: white;
  font-family: Tahoma;
  border-color: white;
  border-style: double;
  padding: 9px;
  font-weight: normal;
}

#listaAgentes a {
  color: white;
  text-decoration: none;
}

.agenteSelect {
  color: #9999CC !important;
}

.tabla {
  display: table;
}

.contenidoTexto {
  vertical-align: top;
  padding: 10px;
}

.agente {
  text-align: center;
  padding: 10px;
  min-height: 437px;
}

.headerAgente {
  font-size: 1.3em;
  text-decoration: underline;
  font-weight: normal;
}

#coronelGinny {
  color: #e6e1ec;
  font-size: 1.5em;
  background: black url("/vatar/src/assets/images/f_100.gif") repeat;
  font-family: julius_thysen;
}

#generalSummers {
  color: #e6e1ec;
  font-size: 1em;
  background-color: black;
  font-family: Courier New;
}

#comandanteNaya {
  background: black url("/vatar/src/assets/images/f_100.gif") repeat;
  color: #78a4fb;
  font-size: 1.5em;
  font-family: naya;
}

#comandanteNaya .contenidoTexto {
  padding: 30px;
}

#comandanteNaya .caja {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#comandanteNaya .negrita {
  font-size: 1.8em;
  font-weight: normal;
}

#tenienteCassie {
  color: #0099ff;
  font-size: 1.2em;
  background: black url("/vatar/src/assets/images/cielo1.jpg") repeat;
  font-family: lucida_handwriting;
}

.tituloCasie {
  width: 53%;
  margin-left: auto;
  margin-right: auto;
  border: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  border-color: #0099ff;
}

#mayorAndrella {
  padding: 10px;
  color: #ccffff;
  font-size: 1.2em;
  background: black;
  font-family: Courier new;
}

#mayorAndrella .contenidoTexto {
  text-align: justify;
}

#agenteLeonita {
  color: #66ffff;
  font-size: 1.2em;
  background: black url("/vatar/src/assets/images/Sol.jpg") repeat;
  font-family: Courier new;
}

#agenteDanielle {
  color: #cccccc;
  font-family: Times New Roman;
  font-size: 1.2em;
  background-color: black;
}

#agenteDanielle .padding {
  padding: 40px;
}

#agenteCookie {
  color: #ccffff;
  font-size: 1.2em;
  background: black url("/vatar/src/assets/images/cielo.jpg") repeat;
}

#agenteMarina {
  color: #ccffff;
  font-size: 1.2em;
  background: black url("/vatar/src/assets/images/cielo1.jpg") repeat;
}

#agenteRory {
  text-align: center;
  padding: 10px;
  color: #ccffff;
  font-size: 1.2em;
  background-color: black;
  font-family: Times New Roman;
  font-weight: bold;
}

#agenteRory .headerAgente {
  font-size: 1.5em;
  font-weight: bolder;
  color: #ff6699;
  font-family: Garamond;
  font-style: italic;
  text-decoration: none;
}

#agenteRory .contenidoTexto {
  font-size: 0.8em;
  text-align: justify;
}

#agenteAchus {
  color: #ccffff;
  font-size: 1.2em;
  background: black url("/vatar/src/assets/images/cielo.jpg") repeat;
}

#agenteCrysania {
  color: #ffffff;
  font-size: 1.3em;
  background: black url("/vatar/src/assets/images/cielo.jpg") repeat;
  font-family: monospace;
}

#agenteCrysania .headerAgente {
  font-size: 1.4em;
  text-decoration: underline;
  font-weight: normal;
}

#agenteMirelle {
  color: black;
  font-size: 1em;
  background-color: #ff33ff;
  font-family: Times New Roman;
}
/*# sourceMappingURL=agentes.component.css.map */