<div id="divAgentes">
    <div id="inicioAgentes">
        <div class="negrita">
            Las agentes inscritas en la misi&oacute;n son las siguientes, ordenadas de mayor a menor rango. <br>
            <br> Los rangos de cada una aparecen a su izquierda, y a la derecha se indica el comando al que pertenecen: <br />
            <br />
            <br />
        </div>
        <div id="tablaAgentes" class="tabla centrar bordeado ">
            <div class="header fila">
                <div class="celda bordeado">Agente</div>
                <div class="celda bordeado">Rango</div>
                <div class="celda bordeado">Comando</div>
            </div>
            <div class="fila">
                <div class="celda bordeado">
                    <a href="/vatar/agentes/perfilginny.html">^Ginny^</a>
                </div>
                <div class="celda bordeado">Coronel - L&iacute;der C</div>
                <div class="celda bordeado">Cobra</div>
            </div>
            <div class="fila">
                <div class="celda bordeado">
                    <a href="/vatar/agentes/perfilbuffy.html">Buffy</a>
                </div>
                <div class="celda bordeado">Teniente Coronel - L&iacute;der H</div>
                <div class="celda bordeado">Halc&oacute;n</div>
            </div>
            <div class="fila">
                <div class="celda bordeado">
                    <a href="/vatar/agentes/perfilnaya.html">Naya</a>
                </div>
                <div class="celda bordeado">Comandante - L&iacute;der T</div>
                <div class="celda bordeado">Thestral</div>
            </div>
            <div class="fila">
                <div class="celda bordeado">
                    <a href="/vatar/agentes/perfilcassie.html">*Cassie*</a>
                </div>
                <div class="celda bordeado">Capit&aacute;n - L&iacute;der F</div>
                <div class="celda bordeado">F&eacute;nix</div>
            </div>
            <div class="fila">
                <div class="celda bordeado">
                    <a href="/vatar/agentes/perfilandrella.html">Andrella</a>
                </div>
                <div class="celda bordeado">Teniente</div>
                <div class="celda bordeado">Thestral</div>
            </div>
            <div class="fila">
                <div class="celda bordeado">
                    <a href="/vatar/agentes/perfilleonita.html">Leonita</a>
                </div>
                <div class="celda bordeado">Brigada</div>
                <div class="celda bordeado">Cobra</div>
            </div>
            <div class="fila">
                <div class="celda bordeado">
                    <a href="/vatar/agentes/perfildanielle.html">Danielle</a>
                </div>
                <div class="celda bordeado">Sargento</div>
                <div class="celda bordeado">Halc&oacute;n</div>
            </div>
            <div class="fila">
                <div class="celda bordeado">Lady Angelina</div>
                <div class="celda bordeado">Sargento</div>
                <div class="celda bordeado">Thestral</div>
            </div>
            <div class="fila">
                <div class="celda bordeado">
                    <a href="/vatar/agentes/perfilcookie.html">Cookie</a>
                </div>
                <div class="celda bordeado">Cabo Primera</div>
                <div class="celda bordeado">Thestral</div>
            </div>
            <div class="fila">
                <div class="celda bordeado">Ariel</div>
                <div class="celda bordeado">Cabo</div>
                <div class="celda bordeado">Cobra</div>
            </div>
            <div class="fila">
                <div class="celda bordeado">
                    <a href="/vatar/agentes/perfilmarina.html">Marina</a>
                </div>
                <div class="celda bordeado">Agente</div>
                <div class="celda bordeado">Halc&oacute;n</div>
            </div>
            <div class="fila">
                <div class="celda bordeado">Miaka</div>
                <div class="celda bordeado">Agente</div>
                <div class="celda bordeado">Halc&oacute;n</div>
            </div>
            <div class="fila">
                <div class="celda bordeado">
                    <a href="/vatar/agentes/perfilrory.html">Rory</a>
                </div>
                <div class="celda bordeado">Agente</div>
                <div class="celda bordeado">F&eacute;nix</div>
            </div>
            <div class="fila">
                <div class="celda bordeado">
                    <a href="/vatar/agentes/perfilachus.html">Achus</a>
                </div>
                <div class="celda bordeado">Agente</div>
                <div class="celda bordeado">F&eacute;nix</div>
            </div>
            <div class="fila">
                <div class="celda bordeado">
                    <a href="/vatar/agentes/perfilcrysania.html">Crysania</a>
                </div>
                <div class="celda bordeado">Agente</div>
                <div class="celda bordeado">Cobra</div>
            </div>
            <div class="fila">
                <div class="celda bordeado">
                    <a href="/vatar/agentes/perfilmirelle.html">Mirelle</a>
                </div>
                <div class="celda bordeado">Agente</div>
                <div class="celda bordeado">F&eacute;nix</div>
            </div>
            <div class="fila">
                <div class="celda bordeado">Kate</div>
                <div class="celda bordeado">Agente</div>
                <div class="celda bordeado">No especificado</div>
            </div>
        </div>
    </div>
</div>