#contenidoEscuelas {
	display: flex;
	justify-content: space-around;
	background-color: black;
	width: 100%;
}

#escuelasIzq {
	display: flex;
	flex-direction: column;	
	padding: 60px;
	justify-content: space-around;
	text-align: center;
}

#escuelasDer {
	display: flex;
	flex-direction: column;
	padding: 60px;
	justify-content: space-around;
	text-align: center;
}

.escudo {
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}

.enlace {
	cursor: pointer;
}

#content {
    width: 89%;
}

.escuela {
	padding: 40px;
	text-align: center;
}


#listaEscuelas {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 10px;
	font-family: Tahoma;
	border-color: white;
    border-style: double;
    padding: 9px;
    background-color: transparent;
    color: white;
    margin-top: -20px;
    margin-bottom: 20px;
}

#listaEscuelas a {
	text-decoration: none;
	font-family: Tahoma;
    font-size: small;
    color: white;
}

.contenidoLista {
	margin-top: -20px;
}

#villamarin {
	background: #8ab87e url("../escuelas/villamarin_fondo.gif") repeat;
	font-family: mtcorsva;
	font-size: 1.3em;
}

#villamarin .caja {
	padding: 30px;
}

.texto {
	vertical-align: middle;
	padding: 20px;
	padding-top: 10%;
}

.listado {
	padding-left: 35%;
	text-align: left;
}

#morgana {
	font-family: naya;	
	background-color: black;
	color: #3399cc;
	text-align: center;
}

#morgana .encabezado {
	margin-left: auto;
	margin-right: auto;
	font-family: kagothic;
	color: #99ffff;
	text-decoration: underline;
	font-size: 2em;
}

#morgana .caja {
	padding: 30px;
}


#morgana .texto {
	font-size: 1.7em;
	text-align: left;
}

#morgana .omega {
	color: white;
}

#morgana .epsilon {
	color: #006633;
}

#morgana .alfa {
	color: #ff9966;
}

.cerrar {
	text-align: right;
    padding: 20px;
    text-decoration: underline;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 25px;
    background-origin: content-box;
    background-position-x: 95%;
}

#uniformesMorgana {
	color: black;
	text-align: center;
	font-size: 2em;
	background: #8ab87e url("../escuelas/morgana_uni_fondo.gif") repeat;
}

#uniformesMorgana .tabla {
	display: table;
	margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-style: solid;
    border-width: 1px;
    border-collapse: separate;
    border-spacing: 1px;
}

#uniformesMorgana .celda {
	border-style: solid;
	border-width: 0.5px;
}

#uniformesMorgana .cerrar {
	color: black;
	font-weight: bold;
    background-image: url("/vatar/escuelas/cerrar_negro.png");
    background-position-x: 435px;
    background-position-y: 10px;
} 

#morganaFotos {
	background: #8ab87e url("/vatar/escuelas/morgana_fotos_fondo.gif") repeat;
}

#morganaFotos .cerrar { 
	color: white;
	background-image: url("/vatar/escuelas/cerrar_blanco.png");
}

#villamarin .escuelaSelect {
	color: #023119;
}

#morgana .escuelaSelect {
	color: #3399cc;
}

#circerius {
	background-color: #6699ff;
   	font-size: small;
   	width: 100%;
}

#circerius .escuelaSelect {
	color: #000080;
}

#circerius .encabezado {
	font-size: medium;
	font-weight: bold;
	text-decoration: underline;
}

