#panelMensajes {
	background-color: white;
	width: 100%;
	padding-left: 5px;
}

#panelMensajes .header {
	color: #CC6600;
    font-size: medium;
    font-family: Arial, Helvetica, "Sans Serif";
    font-weight: bold;
    padding: 5px;
    background-color: #F1F1F1;
}

#panelMensajes .cajaColumna {
	box-sizing: border-box;
    padding: 0px;
}

#panelMensajes .encabezado {
	background-color: #9999CC;
	color: #FFFFFF!important;
    font-size: x-small!important;
    font-family: Verdana!important;
    font-weight: bold!important;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    border-bottom-color: #4f3461;
}

#panelMensajes .caja {
	font: normal small Arial, Helvetica, Sans Serif;
	color: #003366;
	justify-content: space-between;
	width: 100%;
	padding: 0.7em 1.2em 0.8em 1.2em;
}


#panelMensajes .asunto {
	width: 40%;
	font-weight: bold;
}

#panelMensajes .mensajes {
	width: 10%;
}

#panelMensajes .iniciada {
	width: 30%;
	font-weight: bold;
}

#panelMensajes .iniciada img {
	vertical-align: middle;
	white-space: nowrap;
}

#panelMensajes .ultimaRespuesta {
	width: 20%;
}

#panelMensajes .impar {
	background-color: #ECF1F6;
}

#panelMensajes .caja a {
	text-decoration: none;
	color: #003366;
}

.paginadorMensajes {
    justify-content: flex-start;
    display: flex;
    font-size: 0.8em;
    padding-top: 8px;
}

.paginadorMensajes .actual {
    margin-top: 5px;
}

.paginadorMensajes .Command a {
	FONT: bold x-small Verdana, Arial, Helvetica, Sans Serif;
	text-decoration: underline;
	color: #003366;
	cursor: pointer;
}

.paginadorMensajes .flechaNav {
	display: flex;
    padding-top: 5px;
}

.paginadorMensajes .flechaNav img {
    padding: 0px 5px;
}

.paginadorMensajes .ThmFgInactiveText {
	font-size: 0.8em;
	font-family: verdana;
    font-weight: bold;
}

.paginadorMensajes .ThmFgInactiveText.navigator.actual {
    padding: 0px 8px;
}

.msg {
    width: 99.8%;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-color: grey;
    border-spacing: 0px;
    border-style: double;
}

.msg .filaTop {
	display: flex;
	justify-content: space-between;
}

.msg .msgRespuesta {
	width: 115px;
	min-width: 115px;
	height: 25px;
    background-image: url(../images/reply_bg.gif);
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 4px;
    color: #003366;
    text-decoration: underline;
    font-size: x-small;
    font-family: verdana;
    font-weight: bold;
    border-style: solid;
    border-width: 0.5px;
    border-color: #2d2d2d;
}

.msg .msgNum {
	width: 92%;
    margin-left: auto;
    padding-top: 5px;
    padding-right: 5px;
    background-color: #ECF1F6;
    text-align: right;
    font-size: x-small;
    border-style: solid;
    border-width: 0.5px;
    border-color: #2d2d2d;
}

.msg .filaCont {
	border-style: solid;
    border-width: 0.5px;
    border-color: #2d2d2d;
    padding: 5px;
    font-family: Arial;
    background-color: #FFFFE8;
}

.msg .filaInfo {
	display: flex;	
	justify-content: space-between;
	font-size: x-small;
	padding: 5px;
}

.msg .msgDe {
}

.msg .msgContenido {
	font-size: small;
	padding: 10px;
}

.msg .fondoMsgPpal {
	background-color: #FFFFCC;
}

#mensajesContent {
	background-color: white;
}

.tablaMensaje {
	display: flex;
	flex-direction: column;
	border: 1px solid gray;
	width: 99%;
}


.tablaMensaje .headerMensaje {
	display: flex;
	width: 100%;
    vertical-align: middle;
    color: #003366;
    height: 2.5em;
    font-size: 0.7em;
}

.tablaMensaje .headerMensaje .respuesta {
	background-image: url("../images/reply_bg.gif");
	width: 11em;
	font-weight: bold;
    text-decoration: underline;
    text-align: center;
    padding-top: 5px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top: 1px solid #2c2c2c;
    border-left: 1px solid #2c2c2c;
}

.tablaMensaje .headerMensaje .numMensajes {
   	width: 100%;
	text-align: right;
	padding-top: 5px;
	background-color: #ECF1F6;
	border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top: 1px solid #2c2c2c;
    border-left: 1px solid #2c2c2c;
}

.tablaMensaje .bodyMensajeDe {
	display: flex;
	justify-content: space-between;
	border-right: 1px solid gray;
    border-top: 1px solid #2c2c2c;
    border-left: 1px solid #2c2c2c;
    padding: 10px 5px;
    font-size: 0.7em;
    background-color: #FFFFE8;
}

.tablaMensaje .bodyMensajeDe.fondoMsgPpal, .tablaMensaje .bodyMensaje.fondoMsgPpal  {
	background-color: #FFFFCC;
}

.tablaMensaje .bodyMensajeDe .de {
	width: 40%;
}

.tablaMensaje .bodyMensajeDe .de img {
    margin-bottom: -4px;
}

.tablaMensaje .bodyMensajeDe .enviado {
}

.tablaMensaje .bodyMensaje {
	padding: 10px;
	border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid #2c2c2c;
    font-size: 0.8em;
    background-color: #FFFFE8;
}

.tablaMensaje .bodyMensaje .Estilo1 {
    padding-top: 6px;
}

.tablaMensaje .bodyMensaje .ginny {
	font-family: Geneva, Arial, sans-serif;
}

.tablaMensaje .bodyMensaje .naya {
	font-family: Arial, sans-serif;
}

.tablaRangos {
	text-align: center;
	margin: 0px auto;
	border: 0.5px solid gray;
}

.tablaRangos th,.tablaRangos td {
	padding: 0.5em 1em;
	border: 0.5px solid gray;
}

.tablaComandos {
	margin: 0px auto;
	border: 0.5px solid gray;
}

.tablaComandos th {
	text-align: center;
	border: 0.5px solid gray;
	padding: 0.5em 1em;
}

.tablaComandos td {
	padding: 8px;
	border: 0.5px solid gray;
}

.tablaComandos td span {
	padding-top: 5px;
}

.tablaComandos li {
    margin-left: -24px;
}


.textoBuffy {
	font-size: 15px;
}

.fontGeneva {
	font-family: Geneva, Arial, sans-serif;	
}

.firmaGinny {
	color: #cc33ff;
	font-size: 2em;
	font-style: italic;
}

.firmaAndrella {
	color: #ccccff;
    padding-left: 90px;
}

.fuenteIrene {
	color: #66cc00;
	font-style: italic;
	font-weight: bold;
}

.firmaIrene {
	font-size: 2em;
	font-weight: bold;
}

.firmaLadyAngelina {
	color: #9900cc;
	font-size: 2em;
	font-family: lucida_handwriting;
}

.firmaNaya {
	color: #006699;
}

.irPerfil {
	cursor: pointer;
}