/* MSN Framing - Header Footer Leftnav Colors */
BODY {
	BACKGROUND: #503562;
}

#header .izq {
	margin-right: auto;
	padding-top: 5px;
	padding-left: 10px;
	color: white;
	font-size: 11px;
}

#header img {
	margin-top: 10px;
	padding-right: 0px;
}

.FRHdSFB {
	background-color: #9c9db1;
}

.FRHdBGTop {
	font-family: tahoma;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: normal;
	font-size-adjust: none;
	font-stretch: normal;
	color: rgb(255, 255, 255);
	white-space: nowrap;
	vertical-align: middle;
	width: 450px;
}

.FRSf {
	margin-bottom: -3px;
}

.FRSf A {
	COLOR: white;
	text-decoration: none;
}

.FRSf A:hover {
	text-decoration: underline;
}

.FRSfL {
	FONT-SIZE: 24px;
	WHITE-SPACE: nowrap
}

.FRSfM {
	BORDER-BOTTOM: #9884a7 1px solid
}

.FRSfR {
	FONT-SIZE: 1px
}

.FRSfI {
	BORDER-RIGHT: #4f395f 1px solid;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #856999 1px solid;
	PADDING-LEFT: 0px;
	BACKGROUND: #6b4f80;
	PADDING-BOTTOM: 9px;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #9884a7 1px solid
}

.FRSfLb {
	FONT-SIZE: 1px;
	BACKGROUND: #6b4f80;
	BORDER-BOTTOM: #9884a7 1px solid
}

.FRtb {
	display: flex;
	BACKGROUND: #846a9f;
	COLOR: #ffffff;
	width: 100%;
}

.FRtbTdI {
	font-weight: bold;
	font-size: 115%;
	padding-left: 12px;
	padding-right: 6px;
	width: 20%;
	height: 35px;
	vertical-align: middle;
}

.FRtbTdD {
	width: 20%;
	padding-left: 0px;
	padding-right: 10px;
	width: 80%;
	white-space: nowrap;
	text-align: right;
	vertical-align: middle;
	margin-left: auto;
}

.FRtb A {
	COLOR: #ffffff;
	text-decoration: none;
}

.FRtb A:visited {
	COLOR: #ffffff
}

.FRtb A:hover {
	COLOR: #ffffff;
	text-decoration: underline;
}

.FRtb Table {
	padding: 0px;
	border: 1px;
	border-spacing: 0px;
	width: 100%;
	height: 49px;
}

.FRtb td {
	vertical-align: middle;
}

.FRnav {
	background: #e6e1ec;
}

.FRvnav {
	color: black;
	margin-top: 6px;
}

.FRvnav a {
	color: #000000;
	text-decoration: none;
}

.FRvnav a:hover {
	color: #503562;
	text-decoration: underline
}

.FRvnav td {
	border-bottom: 1px solid #c8bcd4;
	height: 20px;
	padding-left: 7px;
}

.FRvnav .FRtds {
	background: #ffffff
}

.FRvnav .FRtdsi {
	background: #f2f0f5;
	padding-left: 7px
}

.FRvnav .FRtdsh {
	background: white;
	padding-left: 7px
}

.FRvnav .FRtdsub {
	padding-left: 14px;
}

.tablaTitulo {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.imgCentrada {
	vertical-align: middle;
}

.flechaNav {
	vertical-align: middle;
	border: 0px;
	margin-left: 3px;
	margin-right: 3px;
}

table#idCommandBarMB_Message0 {
	width: 100%;
	padding-bottom: 5px;
	padding-top: 2px;
}

.table100 {
	width: 100%;
	padding: 0px;
}

.table104 {
	width: 100%;
	padding: 4px;
}

.table110 {
	width: 100%;
	padding: 10px;
}

.table100 {
	width: 100%;
	padding: 0px;
}

.table104 {
	width: 100%;
	padding: 4px;
}

.table110 {
	width: 100%;
	padding: 10px;
}

/* Foreground colors */
.ThmFgColumnHeader, A.FrameLink, A.HeaderLink, A.FooterLink, A.LgtCmd, A.MSNLink
	{
	color: #FFFFFF;
}

.ThmFgTitleLightBk {
	color: #FF6600;
}

.ThmFgSmallLight {
	color: #ff0000;
}

.ThmFgNavLink, A.NavLink, A.ChildLink:hover {
	color: #666699;
}

.ThmBgHeader a.NavLink {
	color: white;
	font-weight: normal;
}

.ThmFgInactiveText, A.SystemLink {
	color: #666666;
}

.ThmFgFrameTitle {
	color: #FFFFCC;
}

.ThmFgTitleDarkBk, A.NavLink:hover, A.TitleLink {
	color: #CC6600;
}

.ThmFgMiscText, A.Cat, A.SubCat {
	color: #336699;
}

.ThmFgCommand, A.Command, A.LargeCommand, A.MsgLink {
	color: #003366;
}

.ThmFgHeader {
	color: #333333;
}

.ThmFgStandard, A.SystemLink:hover, A.SubLink, A.ChildLink, A.StdLink,
	SELECT.Standard {
	color: #000000;
}

.ThmFgDivider {
	color: #CCCCCC;
} /* primarily for HR tags */

/* Background colors */
.ThmBgStandard {
	background-color: #FFFFE8;
}

.ThmBgUnknown1 {
	background-color: #FF6600;
}

.ThmBgFraming {
	background-color: #666699;
}

.ThmBgUnknown2 {
	background-color: #666666;
}

.ThmBgHighlightDark {
	background-color: #FFFFCC;
}

.ThmBgHighlightLight, #idToolbar, #tbContents {
	background-color: #FFFFE8;
}

.ThmBgTitleDarkBk {
	background-color: #F1F1F1;
}

.ThmBgAlternate {
	background-color: #ECF1F6;
	height: 25px;
}

.ThmBgAlternateMsj td {
	padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 5px;
}

.ThmBgUnknown3 {
	background-color: #CCCCFF;
}

.ThmBgDivider {
	background-color: #CCCCCC;
}

.ThmBgHeader {
	background-color: #9999CC;
}

.ThmBgLinks {
	background-color: #8696C9;
}

.ThmBgSharkBar {
	background-color: #8696C9;
}

.ThmBgGlobalNick {
	background-color: #9394A9;
}

/* Calendar styles */
.calfgndcolor {
	color: #E00505;
}

.calbgndcolor {
	color: #E00505;
}

A.SystemLink {
	FONT: bold small Arial, Helvetica, Sans Serif;
}

A.FrameLink {
	FONT: small Arial, Helvetica, Sans Serif;
}

A.SubLink {
	FONT: x-small Arial, Helvetica, Sans Serif;
}

A.NavLink {
	FONT: bold small Arial, Helvetica, Sans Serif;
}

A.ChildLink {
	FONT: small Arial, Helvetica, Sans Serif;
}

A.Command {
	FONT: bold x-small Verdana, Arial, Helvetica, Sans Serif;
}

A.LargeCommand {
	FONT: bold small Arial, Helvetica, Sans Serif;
}

A.MsgLink {
	FONT: bold small Arial, Helvetica, Sans Serif;
	TEXT-DECORATION: none;
}

A.MsgLink:hover {
	TEXT-DECORATION: underline;
}

A.MsgLink:visited {
	FONT-WEIGHT: normal;
}

A.TitleLink {
	FONT: bold medium Arial, Helvetica, Sans Serif;
}

A.StdLink {
	FONT: small Arial, Helvetica, Sans Serif;
}

A.HeaderLink {
	FONT: small Arial, Helvetica, Sans Serif;
	TEXT-DECORATION: none;
}

A.HeaderLink:hover {
	TEXT-DECORATION: underline;
}

A.FooterLink {
	FONT: x-small Arial, Helvetica, Sans Serif;
}

A.Cat {
	FONT: bold small Arial, Helvetica, Sans Serif;
}

A.SubCat {
	FONT: x-small Arial, Helvetica, Sans Serif;
}

A.LgtCmd {
	FONT: bold x-small Verdana, Arial, Helvetica, Sans Serif;
}

A.MSNLink {
	FONT: bold 9pt Tahoma, Arial, Helvetica, Sans Serif;
	TEXT-DECORATION: none;
}

SELECT.Standard {
	FONT: x-small Arial, Helvetica, Sans Serif;
}

BODY {
	font-family: Tahoma, arial, verdana, ms sans serif;
}

.FRHdTitle {
	font: bold 18px Arial, verdana, times, sans serif;
	color: #ffffff;
}

.FRHdLink {
	font: 11px Tahoma, arial, verdana, ms sans serif;
	text-decoration: none;
	color: #ffffff
}

.FRHdLink:hover {
	text-decoration: underline
}

.FRHdLeft {
	font: Tahoma, arial, verdana, ms sans serif;
	color: #ffffcc;
}

.FRHdName {
	font: medium Tahoma, arial, verdana, ms sans serif;
	color: #ffffff;
}

.FRHdPgTitle {
	font: bold 13px Tahoma, arial, verdana, ms sans serif;
	color: #ffffff;
}

.FRHdUser {
	font: x-small Tahoma, arial, verdana, ms sans serif;
	color: #ffffcc;
}

.FRHdTop7 {
	font: bold 8pt Tahoma, arial, verdana, ms sans serif;
	color: #ffffff;
	text-decoration: none;
}

.FRHdTop7:hover {
	text-decoration: underline;
}

A.FRFtrLink {
	color: #ffffff;
	font: xx-small Tahoma, arial, verdana, ms sans serif;
	text-decoration: none;
}

A.FRFtrLink:hover {
	text-decoration: underline;
}

.FRMore {
	font-weight: bold;
	font-size: 11px;
	COLOR: #ffffff;
	FONT-FAMILY: Tahoma, arial, verdana, ms sans serif;
	text-decoration: none
}

.FRMore:hover {
	text-decoration: underline;
}

.FRGoBtn {
	font-size: 11px;
	font-family: Tahoma, arial, verdana, ms sans serif;
}

.FRSm {
	font-size: xx-small;
	font-family: Tahoma, arial, verdana, ms sans serif;
	COLOR: #ffffff;
}

.FRBr {
	font-size: 10px;
	color: #bdbebd;
	font-family: Tahoma, arial, verdana, ms sans serif;
	text-decoration: none;
}

.FRtb {
	font-size: x-small;
}

.FRvnav td {
	font-size: 71%;
}

.frLeftNavTopLinkFont {
	FONT: bold 71% Tahoma, arial, verdana, ms sans serif;
}

.enlaceTop1 {
	color: white;
}

A.Command {
	FONT: bold x-small Verdana, Arial, Helvetica, Sans Serif;
	text-decoration: underline
}

A.SystemLink {
	FONT: bold small Arial, Helvetica, Sans Serif;
}

A.FrameLink {
	FONT: small Arial, Helvetica, Sans Serif;
}

A.SubLink {
	FONT: x-small Arial, Helvetica, Sans Serif;
}

A.NavLink {
	FONT: bold small Arial, Helvetica, Sans Serif;
}

A.ChildLink {
	FONT: small Arial, Helvetica, Sans Serif;
}

A.LargeCommand {
	FONT: bold small Arial, Helvetica, Sans Serif;
}

A.MsgLink {
	FONT: bold small Arial, Helvetica, Sans Serif;
	TEXT-DECORATION: none;
}

A.MsgLink:hover {
	TEXT-DECORATION: underline;
}

A.MsgLink:visited {
	FONT-WEIGHT: normal;
}

A.TitleLink {
	FONT: bold medium Arial, Helvetica, Sans Serif;
}

A.StdLink {
	FONT: small Arial, Helvetica, Sans Serif;
}

A.HeaderLink {
	FONT: small Arial, Helvetica, Sans Serif;
	TEXT-DECORATION: none;
}

A.HeaderLink:hover {
	TEXT-DECORATION: underline;
}

A.FooterLink {
	FONT: x-small Arial, Helvetica, Sans Serif;
}

A.Cat {
	FONT: bold small Arial, Helvetica, Sans Serif;
}

A.SubCat {
	FONT: x-small Arial, Helvetica, Sans Serif;
}

A.LgtCmd {
	FONT: bold x-small Verdana, Arial, Helvetica, Sans Serif;
}

A.MSNLink {
	FONT: bold 9pt Tahoma, Arial, Helvetica, Sans Serif;
	TEXT-DECORATION: none;
}

SELECT.Standard {
	FONT: x-small Arial, Helvetica, Sans Serif;
}

BODY {
	font-family: Tahoma, arial, verdana, ms sans serif;
}

.FRHdTitle {
	font: bold 18px Arial, verdana, times, sans serif;
	color: #ffffff;
}

.FRHdLink {
	font: 11px Tahoma, arial, verdana, ms sans serif;
	text-decoration: none;
	color: #ffffff
}

.FRHdLink:hover {
	text-decoration: underline
}

.FRHdLeft {
	font: Tahoma, arial, verdana, ms sans serif;
	color: #ffffcc;
}

.FRHdName {
	font: medium Tahoma, arial, verdana, ms sans serif;
	color: #ffffff;
}

.FRHdPgTitle {
	font: bold 13px Tahoma, arial, verdana, ms sans serif;
	color: #ffffff;
}

.FRHdUser {
	font: x-small Tahoma, arial, verdana, ms sans serif;
	color: #ffffcc;
}

.FRHdTop7 {
	color: white;
}

A.FRHdTop7 {
	font: 8pt Tahoma, arial, verdana, ms sans serif;
	color: #ffffff;
	text-decoration: none;
}

A.FRHdTop7:hover {
	text-decoration: underline;
	font: 8pt Tahoma, arial, verdana, ms sans serif;
	color: #ffffff;
	text-decoration: none;
}

A.FRFtrLink {
	color: #ffffff;
	font: xx-small Tahoma, arial, verdana, ms sans serif;
	text-decoration: none;
}

A.FRFtrLink:hover {
	text-decoration: underline;
}

.FRMore {
	font-weight: bold;
	font-size: 11px;
	COLOR: #ffffff;
	FONT-FAMILY: Tahoma, arial, verdana, ms sans serif;
	text-decoration: none
}

.FRMore:hover {
	text-decoration: underline;
}

.FRGoBtn {
	font-size: 11px;
	font-family: Tahoma, arial, verdana, ms sans serif;
}

.FRSm {
	font-size: xx-small;
	font-family: Tahoma, arial, verdana, ms sans serif;
	COLOR: #ffffff;
}

.FRBr {
	font-size: 10px;
	color: #bdbebd;
	font-family: Tahoma, arial, verdana, ms sans serif;
	text-decoration: none;
}

.FRvnav td {
	font-size: 71%;
}

.frLeftNavTopLinkFont {
	FONT: bold 71% Tahoma, arial, verdana, ms sans serif;
}

.ThmBgStandard {
	font-size: 13px; 
}

.tablaMensajesMsn {
	width: 100%;
	padding: 0px;
	border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-color: grey;
    border-spacing: 0px;
    border-style: double;
}

.subtablaMensajesMsj {
	width: 100%;
	padding: 0px;
}

.noborder {
	border: none;
}