<input type="hidden" id="primera" value="perfiles/perfiles01.html" />
<input type="hidden" id="anterior" value="perfiles/perfiles01.html" />
<input type="hidden" id="siguiente" value="perfiles/perfiles02.html" />
<input type="hidden" id="ultima" value="perfiles/perfiles08.html" />
<div class="paginadorMensajes">
	<div class="ThmFgInactiveText">
		<img src="../images/1arrow_back_b.gif" class="flechaNav">
		Primer
	</div>
	<div class="ThmFgInactiveText">
		<img src="../images/1arrow_back_b.gif" class="flechaNav">
		Anterior
	</div>
	<div class="ThmFgInactiveText actual">&nbsp;&nbsp;1 a 31 de 232&nbsp;&nbsp;</div>
	<div class="Command">
		<a href="javascript:siguiente()" title="Ir a los 15 mensajes siguientes">Siguiente<img
				src="../images/1arrow_forward_1.gif" class="flechaNav"></a>&nbsp;
	</div>
	<div class="Command">
		<a href="javascript:ultima()" title="Ir a los &uacute;ltimos 15 mensajes de esta discusi&oacute;n">&Uacute;ltimo<img
				src="../images/1arrow_forward_1.gif" class="flechaNav"></a>&nbsp;
	</div>
</div>

<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 1 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightDark">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									&nbsp;&nbsp;(Mensaje original) </span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 15/06/2005 4:26</span></td>
						</tr>
					</tbody>
				</table>
				<table class="noborder">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<font face="Geneva">
												Como se mencion&oacute; en el SBFC, estar&iacute;a bien eso de crear perfiles individuales. En la
												secci&oacute;n <a target="_top" href="../agentes.html">Agentes</a> podr&iacute;amos poner los
												v&iacute;nculos a la p&aacute;gina personal de cada una. Por ejemplo, la m&iacute;a
												quedar&iacute;a <a target="_top" href="../agentes/perfilginny.html">as&iacute;</a>. </span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												<font face="Geneva">
													</span>&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													<font face="Geneva">
														<img src="../images/Ginny3.png" width="139" height="80">
														&nbsp;</span></span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br />
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a>
				<br> <img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 2 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Leonita1981
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 16/06/2005 23:44</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>Ginny, aunque tarde, te prometo que me har&eacute; mi profile. Lo que pasa es que ando
										estresada ultimamente y no puedo pero lo har&eacute;. LA tuya est&aacute; mu mona, Me quiero hacer
										una dollz y ponerla as&oacute; como t&uacute;. Muchos besos</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 3 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Casie4194
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 19/06/2005 6:47</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>Ginny:</div>
									<div>&nbsp;</div>
									<div>Ya puse mi profile en la secci&oacute;n de Agentes. Me permit&iacute; la libertad de
										copiar el cuadro donde dice "Misi&oacute;n V.A.T.A.R." y ponerlo en mi profile, espero que no te
										moleste, pero si no est&aacute;s de acuerdo, puedes borrarlo o decirme para que lo borre yo.</div>
									<div>&nbsp;</div>
									<div>Besos</div>
									<div>&nbsp;</div>
									<div>Casie</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 4 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 19/06/2005 16:50</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<font face="Geneva">
												Guau, te ha quedao mu bien. Por supuesto que no me importa que uses el r&oacute;tulo, en parte
												para eso lo puse ah&iacute;. Est&aacute; a disposici&oacute;n de todas, s&oacute;lo espero que no
												lo hayas copiao y vuelto a subir pudiendo usarlo directamente
												<img src="../images/emwink.gif" width="19" height="19">
												.&nbsp;Pero tengo una pega, y es que me chocan mucho tus dolls porque tienen el fondo blanco. Tal
												vez si se lo quitaras quedar&iacute;a mucho m&aacute;s mono&nbsp;(si t&uacute; no sabes,
												aqu&iacute; me tienes), pero vamos que si a t&iacute; te gusta as&iacute;, pues as&iacute;
												est&aacute; bien.&nbsp; </span><span></span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												<font face="Arial">
													</span>&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													<font face="Arial">
														<img src="../images/Ginny3.png" width="139" height="80">
														&nbsp;</span></span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right"><font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 5 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 19/06/2005 18:04</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<font color="red">
										Este mensaje ha sido eliminado por el administrador o el administrador adjunto.</span></span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 6 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Casie4194
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 20/06/2005 4:10</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											Mi Ginny:</span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													Admito mi ignorancia, a m&iacute; tampoco me gustan los fondos blancos pero no tengo la menor
													idea de c&oacute;mo quitarlos. Si t&uacute; puedes echarme una mano te lo voy a agradecer. Que
													bueno que te gust&oacute; el profile y gracias por el cuadro del grupo.</span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span>
												<div>
													<font face="Arial,Helvetica,Sans Serif">
														&nbsp;</span>
												</div>
												<font face="Arial,Helvetica,Sans Serif">
													</span>
													<div>
														<font face="Arial,Helvetica,Sans Serif">
															Besos</span>
													</div>
													<font face="Arial,Helvetica,Sans Serif">
														</span>
														<div>
															<font face="Arial,Helvetica,Sans Serif">
																&nbsp;</span>
														</div>
														<font face="Arial,Helvetica,Sans Serif">
															</span>
															<div>
																<font face="Arial,Helvetica,Sans Serif">
																	Casie</span>
															</div>
															<font face="Arial,Helvetica,Sans Serif">
																</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 7 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 20/06/2005 16:57</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<font face="Geneva">
												Casie, las he subido a la carpeta Dollz, ya puedes usarlas donde quieras. No te asustes porque
												salgan los fondos negros, en realidad el fondo es transparente
												<img src="../images/emteeth.gif" width="19" height="19">
												&nbsp; </span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												<font face="Geneva">
													</span>&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													<font face="Geneva">
														&nbsp;
														<img src="../images/Ginny3.png" width="139" height="80">
														</span></span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right"><font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 8 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 20/06/2005 17:00</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<font color="red">
										Este mensaje ha sido eliminado por el autor.</span></span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 9 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 20/06/2005 17:04</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<div>
											<span style="font-family: Geneva">Ostras, acabo de darme cuenta de que se me ha olvidao
												ponerle esa especie de sol amarillo y la firma. Vaya, pues ahora no puedo pero luego te la
												termino, &iquest;vale?</span>
										</div>
										<div>&nbsp;</div>
										<div>
											<img src="../images/Ginny3.png" width="139" height="80">
											&nbsp;
										</div>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 10 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 20/06/2005 21:46</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<font face="Geneva">
												&nbsp;Ginny, ak esta mi perfil: Capaz q si ma&ntilde;ana vengo con time puedo hacerlo, la dollz la
												voy a hacer pronto. Gracias por todo!</span> </span>
												<p>
													<font face="Arial,Helvetica,Sans Serif">
														<font face="Geneva">
															Soy la Agente Naya de Gin&oacute;bili, ex &ndash; de Christensen. </span></span>
												</p>
												<font face="Arial,Helvetica,Sans Serif">
													</span>
													<p>
														<font face="Arial,Helvetica,Sans Serif">
															<font face="Geneva">
																<font>
																	Soy originaria de Argentina, exactamente de la&nbsp;Capital Federal. <span>Tengo
																		sangre mestiza, mi madre era bruja, mientras que mi padre era muggle. Por lo que llevo una
																		vida como bruja y otra como muggle.</span> </span></span></span>
													</p>
													<font face="Arial,Helvetica,Sans Serif">
														</span>
														<p>
															<font face="Arial,Helvetica,Sans Serif">
																<font face="Geneva">
																	Mis padres estan bastante orgullosos de q haya nacido bruja: por el hecho de que mi padre es
																	muggle, temian que yo lo fuera tambi&eacute;n. Me recib&iacute; de Hogwarts, con un promedio
																	de 9.15, y no fui premio anual. Mi primer trabajo, fue en el banco Gringotts, estuve
																	all&iacute; por tan solo unos meses: cuando empece a estudiar pociones los horarios no
																	coincid&iacute;an, por lo que prioric&eacute; el estudio y dej&eacute; ese trabajo.</span></span>
														</p>
														<font face="Arial,Helvetica,Sans Serif">
															</span>
															<p>
																<font face="Arial,Helvetica,Sans Serif">
																	<font face="Geneva">
																		Hice el profesorado de Pociones M&aacute;gicas, y sustent&eacute; mi segunda carrera,
																		Periodismo M&aacute;gico, con un trabajo en el Ministerio M&aacute;gico ingl&eacute;s,
																		utilizando mis conocimientos acerca de pociones.</span></span>
															</p>
															<font face="Arial,Helvetica,Sans Serif">
																</span>
																<p>
																	<span><font face="Arial,Helvetica,Sans Serif">
																			<span><font face="Geneva">
																					Actualmente trabajo de mi verdadera vocaci&oacute;n: soy la redactora principal que tiene
																					el diario m&aacute;gico &ldquo;<i>El Profeta</i>&rdquo;. </span></span></span></span>
																</p>
																<font face="Arial,Helvetica,Sans Serif">
																	</span>
																	<p>
																		<font face="Arial,Helvetica,Sans Serif">
																			<font face="Geneva">
																				Mis puntos fuertes son las Pociones, Defensa Contra las Artes Oscuras, Occlumancia,
																				Legeremancia, Encantamientos y Hechizos.</span></span>
																	</p>
																	<font face="Arial,Helvetica,Sans Serif">
																		</span>
																		<p>
																			<font face="Arial,Helvetica,Sans Serif">
																				<font face="Geneva">
																					Amo Historia de la Magia, (si est&aacute; dada por un buen profesor) una materia que fue
																					constante en la carrera&nbsp;como periodista.</span></span>
																		</p>
																		<font face="Arial,Helvetica,Sans Serif">
																			</span>
																			<p>
																				<font face="Arial,Helvetica,Sans Serif">
																					<font face="Geneva">
																						Tuve la oportunidad de conocer mucha gente, entre ellos: Ollivander, viejo amigo, Jack
																						un &ldquo;amigo&rdquo; de la General que trabaja conmigo en el <span class="cursiva">Profeta</span>,
																						Yamila, directora de T.O.T.F. (Te Organizamos Tu Fiesta), Fudge, algo de lo que no me
																						enorgullezco, los due&ntilde;os de Zonko, a quienes hace un a&ntilde;o les hice una
																						entrevista, particularmente divertida, entre otros. </span></span>
																			</p>
																			<font face="Arial,Helvetica,Sans Serif">
																				<span>
																					<p>
																						<span style="font-family: Geneva">Actualmente, soy miembro activo del equipo
																							V.A.T.A.R. e integro el grupo S, encargado de secuestrar a JK Rowling, resguardado por
																							el grupo R y liderado por la General Buffy.</span>
																					</p>
																				</span> </span>
																				<p>
																					<font face="Arial,Helvetica,Sans Serif">
																						<font face="Geneva">
																							Para la misi&oacute;n V.A.T.A.R., he aportado: capas para la invisibilidad, escobas,
																							motos m&aacute;gicas, pociones de todo tipo y unos mapas del merodeador, exactamente de
																							Hogsmeade, del Ministerio de Inglaterra, y de la Casa de Rowling. </span></span>
																				</p>
																				<font face="Arial,Helvetica,Sans Serif">
																					</span>
																					<p>
																						<font face="Arial,Helvetica,Sans Serif">
																							<font face="Geneva">
																								Como muggle, los deportes no son mi aficion, por lo que me dedique al estudio, hice
																								Publicidad y Marketing, licenciatura en Qu&iacute;mica, y secretamente trabaj&eacute;
																								para la SIDE (Servicio de Inteligencia del Estado, argentino), trabajo que dej&eacute;
																								por la cantidad de corrupci&oacute;n. Luego me reclut&oacute; un hombre para trabajar
																								en la C&iacute;A, y lo hice, fui una gran espia, mi especialidad era el espionaje,
																								pero la misi&oacute;n V.A.T.A.R. y el diario, que era lo que yo realmente
																								quer&iacute;a, fueron mas importantes, adem&aacute;s de que no me gustaba favorecer el
																								estado norteamericano, nunca me lleve bien, pero claro, es una posici&oacute;n
																								personal.</span></span>
																					</p>
																					<font face="Arial,Helvetica,Sans Serif">
																						</span>
																						<p>
																							<font face="Arial,Helvetica,Sans Serif">
																								<font face="Geneva">
																									Naya de Ginobili.</span></span>
																						</p>
																						<font face="Arial,Helvetica,Sans Serif">
																							</span>
																							<p>
																								<font face="Arial,Helvetica,Sans Serif">
																									&nbsp;</span>
																							</p>
																							<font face="Arial,Helvetica,Sans Serif">
																								</span>
																								<p>
																									<font face="Arial,Helvetica,Sans Serif">
																										&nbsp;</span>
																								</p>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 11 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 20/06/2005 22:28</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<font face="Geneva">
												Bueno, Naya, he creado tu perfil pero s&oacute;lo he inclu&iacute;do tu "curr&iacute;culum". Como
												no me has dicho nada de los colores le he puesto un fondo rosita. Cuando me indiques la doll o
												dolls que vas a subir pues me indicas qu&eacute; combinaci&oacute;n de colores quieres y te hago
												un cartel m&aacute;s bonito de la misi&oacute;n, es que el azul no le ven&iacute;a nada
												bien.&nbsp;De todas formas eres libre de modificar cuanto quieras
												<img src="../images/emsmile.gif" width="19" height="19">
												. Click <a target="_top" href="../agentes/comandantenaya.htm">aqu&iacute;</a> para verlo
												directamente </span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												<font face="Arial">
													</span>&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													<img src="../images/Ginny3.png" width="139" height="80">
													&nbsp;</span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 12 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 21/06/2005 1:46</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											Muchas gracias Ginny, a mi me gusta igual, esta muy lindo, aunque cuando pueda t digo o lo hago y
											vemos como hacemos para q qde mas bonito, pero muchas gracias, y eso si:</span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													QUE RAPIDEEEEZ!! por Diosss!! fue geniaal, hace tres horas me conecte nada mas y cuando vuelvo ya
													tengo perfil! jajajaja, buenisimo! </span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span>
												<div>
													<font face="Arial,Helvetica,Sans Serif">
														&nbsp;</span>
												</div>
												<font face="Arial,Helvetica,Sans Serif">
													</span>
													<div>
														<font face="Arial,Helvetica,Sans Serif">
															Bueno, besos Ginny, chuaz! y gracias!</span>
													</div>
													<font face="Arial,Helvetica,Sans Serif">
														</span>
														<div>
															<font face="Arial,Helvetica,Sans Serif">
																&nbsp;</span>
														</div>
														<font face="Arial,Helvetica,Sans Serif">
															</span>
															<div>
																<font face="Arial,Helvetica,Sans Serif">
																	Naya de Gin&oacute;bili.</span>
															</div>
															<font face="Arial,Helvetica,Sans Serif">
																</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 13 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 21/06/2005 2:28</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">Ya est&aacute;, Casie, ya tienes las dos im&aacute;genes
											subidas y listas para usar.</span>
									</div>
									<div>&nbsp;</div>
									<div>
										<span style="font-family: Geneva">Naya, t&uacute; tranquila, cuando tengas algo decidido pues
											me lo dices. Mientras tanto.. &iquest;Me dejas que la decore yo un poco? </span>
									</div>
									<div>&nbsp;</div>
									<div>
										<span style="font-family: Geneva"><img src="../images/Ginny3.png" width="139" height="80">&nbsp;</span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 14 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Casie4194
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 21/06/2005 4:39</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>Gracias Ginny, quedaron estupendas, ma&ntilde;ana que se me&nbsp;desengarroten las manos
										de tanto trapear, modificio mi profile. Gracias otra vez. Lo que es con estas in&uacute;tiles
										agentes que tienes, te has echado un mont&oacute;n de trabajo encima.</div>
									<div>&nbsp;</div>
									<div>Besos</div>
									<div>&nbsp;</div>
									<div>Casie</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 15 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 22/06/2005 1:06</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>Claro Ginny, hace lo que quieras, mientras qde lindo, todo okas, despuesyo veo si le
										cambio algo, pero por lo gral. tu gusto es muy bueno, asi q confio en vos, jejeje, bechoss, chuaz!</div>
									<div>&nbsp;</div>
									<div>Naya de Gin&oacute;bili.&nbsp;</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 16 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 22/06/2005 1:09</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>Ginny, acabo de ver a la doll, es geniaaaal!! encima tiene el pelo muy parecido al mio,
										jajajaja, ta muy buena, graciasss!! sos una idola!</div>
									<div>&nbsp;</div>
									<div>Naya de Gin&oacute;bili.</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 17 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 24/06/2005 5:40</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">A ver... Buffy, &iquest;has a&ntilde;adido t&uacute; el
											perfil de Danielle? Es que el nombre de la p&aacute;gina es "generalsummers". Si es as&iacute;,
											&iquest;te importa que copie el contenido en una nueva con el nombre de Danielle? Es para llevar un
											orden en la p&aacute;gina. Adem&aacute;s as&iacute; cuando hagas&nbsp;el tuyo podr&aacute;s usar
											ese nombre. &iquest;o es que la sargento Danielle es en realidad un desdoble de tu personalidad?
											A&uacute;n as&iacute;, creo que es mejor que cada cosa lleve su nombre <img
												src="../images/emwink.gif" width="19" height="19">
										</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<font color="#cc33ff" size="5" face="Arial">
											<span class="cursiva">^Ginny^</span></span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 18 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 24/06/2005 5:43</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<font face="Geneva">
												&iexcl;Ah! Y gracias, Naya, me acord&eacute; de ti y de Gin&oacute;bili cuando vi la animadora de
												Argentina y digo: ea, pues esta pa su perfil (si ella quiere, claro) Por cierto, estoy viendo el
												7&ordm; partido de los Spurs, van 65 a 72 pa los San Antonio jeje. A ver c&oacute;mo acaba.</span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												<font face="Geneva">
													</span>&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													<font color="#cc33ff" size="5" face="Geneva">
														<span class="cursiva">^Ginny^</span></span></span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 19 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Casie4194
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 24/06/2005 5:57</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>Ginny:</div>
									<div>&nbsp;</div>
									<div>La Sargento Danielle es una personalidad secreta de nuestra General, una especie de
										desdoblamiento. Ahora, el perfil de la general es tan secreto, tan secreto, tan secreto, que no se
										ve.</div>
									<div>&nbsp;</div>
									<div>Ya puse mis dollz y quedaron s&uacute;per, gracias otra vez Ginny.</div>
									<div>&nbsp;</div>
									<div>Besos</div>
									<div>&nbsp;</div>
									<div>Casie</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 20 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 24/06/2005 21:59</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>De nada Ginny!! gracias por la dollz, esta genial!!</div>
									<div>&nbsp;</div>
									<div>Ah y viste el partido anoche??? Yo lo vi enterisimo, = q el resto, y siiiiiiii!!! GANO SAN
										ANTOOOONIIOOO!!! no te imaginas lo feliz q estooooooooooooooooooooooyyyyyyyyyy!!! estaba saltando y
										gritando a eso de la 1 de la madrugada de ak cuando termino el partidoo, jajajaja, desperte a todo
										el mundo y no me importo nadaaaaaa!! a parte al final pasaron a manu festejando con la bandera de
										Argentina&nbsp;enganchada en la&nbsp;cintura fue re lindo y cuando le dieron la copa y a Duncan el
										trofeo de MVP, q para mi era para manu, obvio, pero bue... igual timmy d es un capo, asi q bue, ya
										esta&nbsp;sufri, pero estoy feliz, maaaaaaaaaal!! jajajaja, se nota?</div>
									<div>&nbsp;</div>
									<div>Naya de Gin&oacute;bili.</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 21 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 25/06/2005 3:29</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<font face="Geneva">
												S&iacute;, lo vi hasta el final y la verdad es que cada vez que sal&iacute;a Gin&oacute;bili me
												acordaba de ti, jejeje. Luego tambi&eacute;n vi la celebraci&oacute;n y a &eacute;l con la bandera
												de Argentina, aunque aqu&iacute; eran las 6 y pico de la ma&ntilde;ana, pero estaba estudiando
												para mi &uacute;ltimo examen que era hoy as&iacute; que.. &iexcl;&iexcl;&iexcl;Por fin estoy de
												vacaciones!!! Qu&eacute; alegr&iacute;a, despu&eacute;s de 3 a&ntilde;os sin tenerlas. As&iacute;
												que ahora ya soy toda o&iacute;dos para todas las peticiones que quer&aacute;is hacerme de lo que
												sea, tengo mucho tiempo libre jejeje. </span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												<font face="Arial">
													</span>&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													<img src="../images/Ginny3.png" width="139" height="80">
													&nbsp;</span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 22 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Buffy Ane Summers
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 25/06/2005 3:32</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr height="100%">
												<td background="" valign="top" width="100%">
													<div>
														Cof...cof, normalmente es un alago quedar como la lo
														<font face="Arial,Helvetica,Sans Serif">
															c</span>a de la familia, pero lamento informarles q la "Sargento Danielle" de hech
															<font face="Arial,Helvetica,Sans Serif">
																o</span> SI existe, es una muy buena amiga mia a la que hemos bautizado asi (y si,&nbsp;Teniente
																Casie, de hecho si hablo asi de ella, aun q parte de un juego XP) en realidad la mayoria de
																veces q <span class="cursiva">ella</span> interviene ha sido mi amiga misma la que me ha dicho
																que lo ponga &iquest;por q no nunca a intervenido en las discusiones ella sola? &not; &not;
																por q es
																<font face="Arial,Helvetica,Sans Serif">
																	v</span>aaaga la mendiga, pero habria jurado q habia cambiado el nombre del profile, es q aun no
																	encuentro una imagen para el mio. 
													</div>
													<div>&nbsp;</div>
													<div>
														&not; &not; Ya q la personalidad de la sargento Danielle les ha hecho un enredo, pues le dire
														(muajajaj! torturare a alguien..cof..cof, sorry, es q me tienen encerrada en la casa y tengo
														energia retenida) que entre aqui, teniente Ginny &iquest;le manda usted la invitacion o se la
														mando yo?, el mail es <a target="_top" href="mailto:lucyblack_tejaur_pures@hotmail.com">lucyblack_tejaur_pures@hotmail.com</a>
													</div>
													<div>&nbsp;</div>
													<div align="right">General Buffy Ane Summers</div>
													<div align="right">Miembro de la Orden Siriusiana</div>
												</td>
											</tr>
											<tr>
												<td height="1">
													<div></div>
												</td>
											</tr>
										</tbody>
									</table></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 23 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 25/06/2005 3:38</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<font face="Geneva">
												Ya le he mandao la invitaci&oacute;n, pa qu&eacute; esperar m&aacute;s jejeje. </span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												<font face="Geneva">
													</span>&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													<font face="Geneva">
														El nombre de la p&aacute;gina dentro del grupo no se puede cambiar una vez que la p&aacute;gina
														est&aacute; creada, por eso la soluci&oacute;n es crear una p&aacute;gina nueva con el nombre
														correcto, copiar el contenido y borrar la vieja. Si quieres lo hago yo. </span></span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span>
												<div>
													<font face="Arial,Helvetica,Sans Serif">
														<font face="Geneva">
															</span>&nbsp;</span>
												</div>
												<font face="Arial,Helvetica,Sans Serif">
													</span>
													<div>
														<font face="Arial,Helvetica,Sans Serif">
															<font face="Geneva">
																&iquest;Qu&eacute; tipo de imagen buscas para el tuyo? lo digo porque las Dolls son mu
																apa&ntilde;&aacute;s pa estas cosas, puedes poner una que te guste y que se parezca a ti
																mientras que encuentras una imagen que te llene. Bueno, si necesitas algo p&iacute;demelo sin
																problemas, me encanta ser &uacute;til (y me encanta juguetear con las dolls jeje)</span></span>
													</div>
													<font face="Arial,Helvetica,Sans Serif">
														</span>
														<div>
															<font face="Arial,Helvetica,Sans Serif">
																<font face="Arial">
																	</span>&nbsp;</span>
														</div>
														<font face="Arial,Helvetica,Sans Serif">
															</span>
															<div>
																<font face="Arial,Helvetica,Sans Serif">
																	<img src="../images/Ginny3.png" width="139" height="80">
																	&nbsp;</span>
															</div>
															<font face="Arial,Helvetica,Sans Serif">
																</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 24 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Buffy Ane Summers
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 25/06/2005 4:27</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr height="100%">
												<td background="" valign="top" width="100%">
													<div>Naa...tranquila, o si no pongo solo el texto y luego me busco la imagen...&not; &not;
														espero encontrarla, _ _U</div>
													<div>&nbsp;</div>
													<div align="right">G B A S</div>
													<div align="right">MOS</div>
												</td>
											</tr>
											<tr>
												<td height="1">
													<div></div>
												</td>
											</tr>
										</tbody>
									</table></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 25 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Danielle_DeLionzee
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 25/06/2005 5:02</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr height="100%">
												<td background="" valign="top" width="100%">
													<p>
														<font face="Times New Roman, Times, Serif">
															Me han mandado a presentarme, segun he leido...soy el alter-ego de Buffy, Emm....yo soy su
															sargento?</span>
													</p>
													<p>
														<span style="font-family: Times New Roman">Ba, ya me habreis conocido por los mensajes q
															deja la ni&ntilde;a aqui...(si, me da flojera dejarlos yo) sooo....ui! Luzbelle(Buffy) me manda
															a decirle algo a Casie! Si, todo lo queha dicho de mi en el msn es cierto _ _, te haria una
															reverecnia del siglo XV y decirle a su servicio mi merced, peeero &not; &not; has insultado mi
															mimica de mi mano, &iexcl;ESTO ES LA GUERRA!</span>
													</p>
													<p align="center">
														<span style="font-family: Times New Roman"><span class="cursiva">Danielle de
																Lionzee</span></span>
													</p>
													<p align="center">
														<span style="font-family: Times New Roman"><span class="cursiva">Proud to be your
																nightmare</span></span>
													</p>
												</td>
											</tr>
											<tr>
												<td height="1">
													<div></div>
												</td>
											</tr>
										</tbody>
									</table></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 26 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Casie4194
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 25/06/2005 7:15</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											&iexcl;Tranquila Sargento Danielle! No me he burlado... realmente el que lo hizo fue Sirius, pero
											as&iacute; es &eacute;l, le encanta andarse cargando a todos, ya lo conocer&aacute; mejor y no
											podr&aacute; dejar de adorarlo.</span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													Ha sido una sopresa para m&iacute; que usted llegara, sea bienvenida, uno de mis mejores amigos
													es lic&aacute;ntropo, aunque no por herencia, sino porque un hombre lobo lo pesc&oacute; cuando
													era peque&ntilde;o. En fin, la guerra no la hago contra ninguna de mis compa&ntilde;eras, se la
													hago al maldito infeliz de Voldemort y ahora a Rowling, as&iacute; que mejor trate de controlar
													su esp&iacute;ritu y &uacute;nase a la lucha, le puedo asegurar que Sirius solo le hizo una
													broma.</span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span>
												<div>
													<font face="Arial,Helvetica,Sans Serif">
														&nbsp;</span>
												</div>
												<font face="Arial,Helvetica,Sans Serif">
													</span>
													<div>
														<font face="Arial,Helvetica,Sans Serif">
															Besos</span>
													</div>
													<font face="Arial,Helvetica,Sans Serif">
														</span>
														<div>
															<font face="Arial,Helvetica,Sans Serif">
																&nbsp;</span>
														</div>
														<font face="Arial,Helvetica,Sans Serif">
															</span>
															<div>
																<font face="Arial,Helvetica,Sans Serif">
																	Casie</span>
															</div>
															<font face="Arial,Helvetica,Sans Serif">
																</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 27 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 26/06/2005 1:11</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>Asi q ya tas de vacas, ginny? q copaaadooo, para q entre en vacas de invierno faltan 2
										largas semanas... pero bue, q bueno q ya terminaste de estudiar y que por eso pudiste ver el
										partido, que estuvo alucinante.</div>
									<div>La verdad es que ak, en buenos aires, casi nadie se preocupa por el basket todo es
										futbol&nbsp;hasta que sale algun capo que hace algo importante y ahi sabemos todos de basket. Pero
										con gino es distinto. Yo empece a mirar las finales y termine aprendiendo un montonazo del deporte,
										ademas de q me termino gustando el basket. Es un idolo y es re increible lo que esta logrando, por
										ak no se puede creer q gente q siempre hable de futbol este hablando de basket. Es grandioso y me
										alegra mucho que cada vez q lo veas t acuerdes de mi, no se porke, me hace sentir bien.</div>
									<div>&nbsp;</div>
									<div>Naya de Gin&oacute;bili.</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 28 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 28/06/2005 15:30</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">Buffy, ya he puesto el v&iacute;nculo a tu perfil en la
											p&aacute;gina de Agentes. Tambi&eacute;n he corregido algunas faltas de ortograf&iacute;a, espero
											que no te importe.</span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 29 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 11/07/2005 22:03</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<font face="Geneva">
												Bien, bien, veo que Cookie ya ha subido su perfil. Genial. Cookie,&nbsp;he corregido algunas
												faltas, espero que no te importe. Por cierto, veo que est&aacute;s familiarizada con los grupos de
												msn, has sabido ponerle fondo. Perfecto. Oye, &iquest;si&nbsp;hago tu doll exactamente igual pero
												sin fondo la pondr&iacute;as en lugar de esa? Lo digo porque quedar&iacute;a mejor que con el
												fondo blanco. Bueno, despu&eacute;s actualizar&eacute; la tabla de agentes y los v&iacute;nculos y
												subir&eacute; la doll para que la veas. Vamos, las dem&aacute;s, &iquest;a qu&eacute;
												esper&aacute;is?
												<img src="../images/emwink.gif" width="19" height="19">
												</span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												<font face="Arial">
													</span>&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													<img src="../images/Ginny3.png" width="139" height="80">
													&nbsp;</span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 30 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 12/07/2005 18:27</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<p>
											<font face="Arial,Helvetica,Sans Serif">
												<font face="Geneva">
													Bueno, Gaby y Andrella, necesito vuestras descripciones para haceros una doll. Si pod&eacute;is,
													decidme color y forma de pelo y ojos, forma de&nbsp;nariz, boca, cejas, etc. Si lo
													prefer&iacute;s, haced una doll de vosotras <a target="_top"
														href="http://elouai.com/doll-makers/candybar-doll-maker.php">aqu&iacute;</a> y me la
													ense&ntilde;&aacute;is, as&iacute; podr&eacute; incluiros en el retrato. Buffy, la tuya y la de
													Danielle tampoco las tengo, as&iacute; que si&nbsp;puedes hacerlas o describiros, mejor. De todas
													formas a ti te he puesto como Buffy Summers y a Danielle como Kate Beckinsale en Underworld (la
													foto de su perfil). <br> <br>Si no pod&eacute;is no&nbsp;importa, yo me invento vuestro
													aspecto f&iacute;sico
													<img src="../images/emsmile.gif" width="19" height="19">
													<br> <br> </span><span style="font-family: Geneva"><img src="../images/Ginny3.png"
															width="139" height="80">&nbsp;</span></span>
										</p>
										<font face="Arial,Helvetica,Sans Serif">
											</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 31 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Buffy Ane Summers
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 13/07/2005 3:03</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<table class="noborder">
										<tbody>
											<tr height="100%"></tr>
										</tbody>
									</table>
									H </span>
									<font face="Arial,Helvetica,Sans Serif">
										i hi</span>
										<p>
											<font face="Arial,Helvetica,Sans Serif">
												Como no soporto que nadie piense que soy rubia (em..algo extra&ntilde;amente personal e
												irracional) me dedique a hacer la doll, la adjunto </span>
										</p>
										<p align="right">
											<font face="Arial,Helvetica,Sans Serif">
												G B A S </span>
										</p>
										<p align="right">
											<font face="Arial,Helvetica,Sans Serif">
												M O S</span>
										</p></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgDivider">
			<td colspan="3"></td>
		</tr>
	</tbody>
</table>



<br>
<div class="paginadorMensajes">
	<div class="ThmFgInactiveText">
		<img src="../images/1arrow_back_b.gif" class="flechaNav">
		Primer
	</div>
	<div class="ThmFgInactiveText">
		<img src="../images/1arrow_back_b.gif" class="flechaNav">
		Anterior
	</div>
	<div class="ThmFgInactiveText actual">&nbsp;&nbsp;1 a 31 de 232&nbsp;&nbsp;</div>
	<div class="Command">
		<a href="javascript:siguiente()" title="Ir a los 15 mensajes siguientes">Siguiente<img
				src="../images/1arrow_forward_1.gif" class="flechaNav"></a>&nbsp;
	</div>
	<div class="Command">
		<a href="javascript:ultima()" title="Ir a los &uacute;ltimos 15 mensajes de esta discusi&oacute;n">&Uacute;ltimo<img
				src="../images/1arrow_forward_1.gif" class="flechaNav"></a>&nbsp;
	</div>
</div>