<input type="hidden" id="primera" value="perfiles/perfiles01.html" />
<input type="hidden" id="anterior" value="perfiles/perfiles01.html" />
<input type="hidden" id="siguiente" value="perfiles/perfiles03.html" />
<input type="hidden" id="ultima" value="perfiles/perfiles08.html" />
<div class="paginadorMensajes">
	<div class="Command">
		<a href="javascript:primera();" title="Ir a los primeros 15 mensajes de esta discusi&oacute;n."><img
				src="../images/1arrow_back_1.gif" class="flechaNav">Primer</a>
	</div>
	<div class="Command">
		<a href="javascript:anterior();" title="Ir a los 15 mensajes anteriores de esta discusi&oacute;n."><img
				src="../images/1arrow_back_1.gif" class="flechaNav">Anterior</a>
	</div>
	<div class="ThmFgInactiveText actual">&nbsp;&nbsp;32 a 61 de 232&nbsp;&nbsp;</div>
	<div class="Command">
		<a href="javascript:siguiente()" title="Ir a los 15 mensajes siguientes">Siguiente<img
				src="../images/1arrow_forward_1.gif" class="flechaNav"></a>&nbsp;
	</div>
	<div class="Command">
		<a href="javascript:ultima()" title="Ir a los &uacute;ltimos 15 mensajes de esta discusi&oacute;n">&Uacute;ltimo<img
				src="../images/1arrow_forward_1.gif" class="flechaNav"></a>&nbsp;
	</div>
</div>

<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									r class="ThmBgHighlightLight">
									<td colspan="2" width="100%"></span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 13/07/2005 3:27</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">Much&iacute;simas gracias, tomo nota <img
												src="../images/emwink.gif" width="19" height="19">. A Danielle la he puesto morena con los
											ojos negros. &iquest;Va bien?
										</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<img src="../images/Ginny3.png" width="139" height="80">
										&nbsp;
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 33 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 13/07/2005 16:54</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<font color="red">
										Este mensaje ha sido eliminado por el administrador o el administrador adjunto.</span></span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 34 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 13/07/2005 17:07</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<span>&nbsp;</span> </span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													<span>&iexcl;Naya! Soldado, venga aqu&iacute; que se lo explico. Por cierto, su fondo no
														es liso &iquest;no?&nbsp;Creo que le puse una imagen. En fin, para a&ntilde;adir una imagen al
														fondo hay varias t&eacute;cnicas, pero la m&aacute;s directa creo que es esta, tome nota:</span></span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span>
												<div>
													<font face="Arial,Helvetica,Sans Serif">
														&nbsp;</span>
												</div>
												<font face="Arial,Helvetica,Sans Serif">
													</span>
													<div>
														<font face="Arial,Helvetica,Sans Serif">
															<span style="font-family: Geneva">1&ordm;) La imagen que quiere poner tiene que
																est&aacute;r en internet. Una vez que&nbsp;est&aacute; subida, haga click en el bot&oacute;n
																derecho encima de ella y d&eacute;le a propiedades. Entonces, copie TODO lo que dice en <span
																class="cursiva">Direcci&oacute;n (URL)</span>, tenga cuidado porque son varias l&iacute;neas
																aunque no se vean todas.
															</span></span>
													</div>
													<font face="Arial,Helvetica,Sans Serif">
														</span>
														<div>
															<font face="Arial,Helvetica,Sans Serif">
																&nbsp;</span>
														</div>
														<font face="Arial,Helvetica,Sans Serif">
															</span>
															<div>
																<font face="Arial,Helvetica,Sans Serif">
																	<span style="font-family: Geneva">2&ordm;) Cuando est&eacute;&nbsp;trabajando
																		con&nbsp;su p&aacute;gina, tiene que activar la casilla <span class="cursiva">Usar
																			html para crear la p&aacute;gina</span>, justo debajo de la ventana que est&aacute; modificando.
																	</span></span>
															</div>
															<font face="Arial,Helvetica,Sans Serif">
																</span>
																<div>
																	<font face="Arial,Helvetica,Sans Serif">
																		&nbsp;</span>
																</div>
																<font face="Arial,Helvetica,Sans Serif">
																	</span>
																	<div>
																		<font face="Arial,Helvetica,Sans Serif">
																			<span style="font-family: Geneva">3&ordm;) Al principio de la p&aacute;gina, tiene
																				que copiar este trozo de c&oacute;digo:<br>
																			</span></span>
																	</div>
																	<font face="Arial,Helvetica,Sans Serif">
																		</span>
																		<div align="center">
																			<font face="Arial,Helvetica,Sans Serif">
																				<span style="font-family: Geneva">&lt;html&gt;<br>&lt;CENTER&gt;<br>&lt;TABLE
																					background="<font color="#cc0033">______"</span> border=2 cellPadding=40 cellSpacing=0
																				width="100%"&gt;<br>&lt;TBODY&gt;<br>&lt;TR&gt;<br>&lt;TD width="98.5%"&gt;<br>&lt;P&gt;<br>&lt;CENTER&gt;</span></span>
																		</div>
																		<font face="Arial,Helvetica,Sans Serif">
																			</span>
																			<div>
																				<font face="Arial,Helvetica,Sans Serif">
																					<span><br>y donde est&aacute; la l&iacute;nea roja debe poner la
																						direcci&oacute;n de la imagen. Con este c&oacute;digo concreto, la imagen ocupar&aacute;
																						la p&aacute;gina entera. </span></span>
																			</div>
																			<font face="Arial,Helvetica,Sans Serif">
																				</span>
																				<blockquote>
																					<font face="Arial,Helvetica,Sans Serif">
																						</span>
																						<div>
																							<font face="Arial,Helvetica,Sans Serif">
																								<span>* Si cambia el 100% por otro n&uacute;mero menor, la imagen
																									ocupar&aacute; ese tanto por ciento de la anchura de la p&aacute;gina. </span></span>
																						</div>
																						<font face="Arial,Helvetica,Sans Serif">
																							</span>
																							<div>
																								<font face="Arial,Helvetica,Sans Serif">
																									<span>* El n&uacute;mero de cellSpacing es el espaciado de
																										celdas,&nbsp;a&ntilde;ade un peque&ntilde;o marco de ese grosor.</span></span>
																							</div>
																							<font face="Arial,Helvetica,Sans Serif">
																								</span>
																								<div>
																									<font face="Arial,Helvetica,Sans Serif">
																										<span>* El cellPadding es el margen de celdas, es decir, el espacio que deja
																											la tabla entre los bordes de &eacute;sta y lo que se escribe dentro.</span></span>
																								</div>
																								<font face="Arial,Helvetica,Sans Serif">
																									</span>
																									<div>
																										<font face="Arial,Helvetica,Sans Serif">
																											<span>*Si se a&ntilde;ade "border color=___" y un n&uacute;mero, se
																												a&ntilde;adir&aacute; un borde del color que le hayamos se&ntilde;alado. </span></span>
																									</div>
																				</blockquote>
																				<font face="Arial,Helvetica,Sans Serif">
																					</span>
																					<div>
																						<font face="Arial,Helvetica,Sans Serif">
																							<span>Una vez hecho esto, desactive la casilla de <span class="cursiva">Usar
																									html</span>.. y tendr&aacute; la tabla con el fondo lista para contener lo que quiera. Si lo
																								hace despu&eacute;s de haber hecho la p&aacute;gina, tendr&aacute; la p&aacute;gina
																								que ya ten&iacute;a pero con ese fondo. Como cualquier tabla, la de fondo
																								tambi&eacute;n puede manejarse haciendo doble click sobre ella y modificando los
																								elementos que nos interesen (salvo la anchura de la tabla)
																							</span></span>
																					</div>
																					<font face="Arial,Helvetica,Sans Serif">
																						</span>
																						<div>
																							<font face="Arial,Helvetica,Sans Serif">
																								<span>&nbsp;</span></span>
																						</div>
																						<font face="Arial,Helvetica,Sans Serif">
																							</span>
																							<div>
																								<font face="Arial,Helvetica,Sans Serif">
																									<span>Por cierto, Naya, tenga cuidado porque su perfil ya tiene una imagen,
																										s&oacute;lo tiene que sustituir la direcci&oacute;n actual por la nueva.</span></span>
																							</div>
																							<font face="Arial,Helvetica,Sans Serif">
																								</span>
																								<div>
																									<font face="Arial,Helvetica,Sans Serif">
																										<span>&nbsp;</span></span>
																								</div>
																								<font face="Arial,Helvetica,Sans Serif">
																									</span>
																									<div>
																										<font face="Arial,Helvetica,Sans Serif">
																											<span><span class="subrayado">Nota</span>: Para rellenar una tabla con un
																												fondo, al hacer la tabla pongan como fondo la direcci&oacute;n de la imagen que
																												quieren.</span></span>
																									</div>
																									<font face="Arial,Helvetica,Sans Serif">
																										</span>
																										<div>
																											<font face="Arial,Helvetica,Sans Serif">
																												<span>&nbsp;</span></span>
																										</div>
																										<font face="Arial,Helvetica,Sans Serif">
																											</span>
																											<div>
																												<font face="Arial,Helvetica,Sans Serif">
																													<span><img src="../images/Ginny3.png" width="139" height="80">&nbsp;</span></span>
																											</div>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 35 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Buffy Ane Summers
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 13/07/2005 19:46</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>Emm...de Danielle no se nada, aunq por ak tengo un dibujo q hiso ella en manga, pero esta
										en etapa de hibrido asi q no creo q no funca, bueno intentare ponerme en contacto con ella, lo mas
										seguro es q si se conecte por q esta en Reino Unido ( me come la envidia) y con lo que ha pasado
										seguro q no la dejan salir ni a la esquina, pero en fin...</div>
									<div>&nbsp;</div>
									<div align="right">G Buffy Ane Summers</div>
									<div align="right">Miembro de la Orden Siriusiana</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 36 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Cookie
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 13/07/2005 20:47</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>Todo Ok Ginny...hace lo que kierasssssss.</div>
									<div>Ah y adjunte la otra foto... que es la que generalmente uso..la otra la uso solo aca si
										keres modifica las 2....</div>
									<div>byez!</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 37 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Cookie
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 13/07/2005 20:58</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>Ahhhhhhhhhh buffy dijiste funca si si si no estoy lok!!!!!</div>
									<div>Vamos ole ole ole Buffy buffy!!!!!!</div>
									<div>&nbsp;</div>
									<div>Chaito</div>
									<div>Pd: aclaor yo hablo raro y me dicen loca..pero Buffy dijo una palabra que digo muy seguido
										"funca"---no funca= no anda!!</div>
									<div>&nbsp;</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 38 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 13/07/2005 21:03</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<span style="font-family: Geneva">Supongo que lo de funca ser&aacute; el equivalente
												sevillano de "furula": "Esto no furula" = Esto no anda, no funciona, no va, etc.</span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												<span></span>&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													<img src="../images/Ginny3.png" width="139" height="80">
													&nbsp;</span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>

<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 40 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Buffy Ane Summers
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 16/07/2005 2:14</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>Ginny, sip, yo conosco a Danielle en persona, pero la se&ntilde;orita esta loka, suele
										hacer cosas muy raras, asi q no sabria, estos tres ultimos meses.... ha teido el cabello negro y un
										poco largo, pero...en realidad no se q sea ahora, esperare a verla el lunes q vuelve</div>
									<div>&nbsp;</div>
									<div>Cookie, SI! DIJE FUNCA! Es q funca es la contraccion de FUNCionA Ves?</div>
									<div>&nbsp;</div>
									<div align="right">G Buffy Ane Summers</div>
									<div align="right">Miembro de la Orden Siriusiana</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 41 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Cookie
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 16/07/2005 2:29</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>Ben Ben Buffy!!...ah habalndo de perfiles... puedo poner el dicionario Cookieano??</div>
									<div>Deberian tenerlo para ententerme ..calro que aca no uso mis palabras pk seria otro lugar
										en el cual em dirian loca...pero considerando q Buffy dijo funca...</div>
									<div>Bueno</div>
									<div>byez</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 42 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 22/08/2005 2:07</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">Andrellaaaaaa ahora que tienes m&aacute;s tiempo
											&iquest;por qu&eacute; no haces tu perfil? Aish, a ver si nos aclaramos ya con las vidas de cada
											una jejeje</span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 43 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Andrella-de-Alfehim
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 23/08/2005 3:43</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">Jeje, me han descubierto que ando algo libre....Ok Ginny,
											en cuanto pueda pongo mi perfil, lo prometo.</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div align="right">
										<span class="cursiva"><span class="negrita"><font color="#009900"
													face="Lucida Handwriting, Cursiva">Andrella de Alfehim</span></span></span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 44 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Andrella-de-Alfehim
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 27/08/2005 3:25</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">Ah...s&iacute; bueno...esto...yo estaba por crear mi perfil
											cuando...bueno...pues me d&iacute; cuenta que no s&eacute; c&oacute;mo!<img
												src="../images/emembarrassed.gif" width="19" height="19"> jeje <img
												src="../images/emsmilep.gif" width="19" height="19">&nbsp;&iquest;Podr&iacute;as ayudarme
											Ginny, por favor?
										</span>
									</div>
									<div>&nbsp;</div>
									<div align="right">
										<span class="cursiva"><span class="negrita"><font color="#009900"
													face="Lucida Handwriting, Cursiva">Andrella de Alfehim</span></span> </span>
									</div>
									<div>&nbsp;</div>
									<div>&nbsp;</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 45 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 27/08/2005 6:16</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<span style="font-family: Geneva">Pues claro... a ver, hay varias formas. </span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													<span style="font-family: Geneva">1) Te vas a "Herramientas para administradoras",
														"Agregar una p&aacute;gina", "Una p&aacute;gina web personalizada", le pones de t&iacute;tulo
														Sargento Andrella (pa llevar un orden), y escribes to lo que quieras escribir. Lo de c&oacute;mo
														ponerle un fondo lo cont&eacute; por ah&iacute; arriba, en el mensaje 34. Despu&eacute;s te vas
														otra vez a "Herramientas para administradoras", "Administrar p&aacute;ginas", le das
														sangr&iacute;a y le das para arriba hasta colocarla donde est&aacute;n los dem&aacute;s
														perfiles.</span></span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span>
												<div>
													<font face="Arial,Helvetica,Sans Serif">
														<span></span>&nbsp;</span>
												</div>
												<font face="Arial,Helvetica,Sans Serif">
													</span>
													<div>
														<font face="Arial,Helvetica,Sans Serif">
															<span>2) Me dices lo que quieres poner en un mensaje y yo creo la p&aacute;gina.
																Modificarla despu&eacute;s es m&aacute;s f&aacute;cil.</span></span>
													</div>
													<font face="Arial,Helvetica,Sans Serif">
														</span>
														<div>
															<font face="Arial,Helvetica,Sans Serif">
																<span></span>&nbsp;</span>
														</div>
														<font face="Arial,Helvetica,Sans Serif">
															</span>
															<div>
																<font face="Arial,Helvetica,Sans Serif">
																	<img src="../images/Ginny3.png" width="139" height="80">
																	&nbsp;</span>
															</div>
															<font face="Arial,Helvetica,Sans Serif">
																</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 46 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Gabriela L&uacute;thien Black
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 28/08/2005 17:10</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>hola</div>
									<div>perdon por estar desaparecida, estube estudiando como loca porque cerraba el trimrestre y
										envarias materias esa preuba&nbsp; es la unica nota.</div>
									<div>Conrespecto a mi perfil le voy a cambia un par de coasa ademas de mi edad&nbsp; y la
										entrada a la SIDE por un cuestieno de dad que la primera vez tambien estab mal.</div>
									<div>ya dejare un mensaje en Jardin&nbsp; dando una explicacion con mi personaje</div>
									<div>Besos</div>
									<div>Gaby</div>
									<div>&nbsp;</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>

<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 47 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 29/12/2005 2:29</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">Clau, no estar&iacute;a mal que nos dijeras cosas de ti en
											un perfil. Te pongo de administradora adjunta como las dem&aacute;s para que tengas libertad pa
											crearte un perfil (si no sabes, dime lo que quieres poner y yo lo har&eacute; por ti, luego
											t&uacute; puedes modificar lo que quieras, que ya es m&aacute;s f&aacute;cil que crear de cero).</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<img src="../images/Ginny3.png" width="139" height="80">
										&nbsp;&nbsp;
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 48 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 30/01/2006 6:34</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<table class="noborder">
										<tbody>
											<tr height="100%">
												<td background="" valign="top" width="100%">
													<div>
														<font>
															Bueno, estaba leyendo mi perfil y me pareci&oacute; q el trabajo de la SIDE estaba muy muy
															descolocado, m&aacute;s que lo de la ESPN+!! jajaja, as&iacute; que cambi&eacute; eso y puse
															que Naya s&oacute;lo hizo un curso peque&ntilde;o mientras estaba en Hogwarts,
															recibi&eacute;ndose de Esp&iacute;a en primer grado, que no es profesional. </span>
													</div>
													<div>
														<font>
															Tambi&eacute;n lo acort&eacute; porque no me dejaba poner una doll m&aacute;s, pero bueh, eso
															es otro tema! jajaja</span>
													</div>
													<div>
														<font>
															</span>&nbsp; 
													</div>
													<div>
														<font>
															Si les parece que no deber&iacute;a cambiar as&iacute; la vida de Naya de un d&iacute;a para el
															otro, entonces, lo volver&eacute; a poner no tengo problemas, s&oacute;lo quer&iacute;a
															consultarles. </span>
													</div>
													<div>
														<font>
															</span>&nbsp; 
													</div>
													<div>
														<font color="#006699">
															<span class="subrayado"><span class="negrita"><span class="cursiva">Comandante
																		Naya de Gin&oacute;bili.</span></span></span></span>
													</div>
												</td>
											</tr>
											<tr>
												<td height="1">
													<div></div>
												</td>
											</tr>
										</tbody>
									</table></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 49 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Andrella-de-Alfehim
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 11/03/2006 4:58</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<span style="font-family: Geneva">Y bueno...luego de muchos siglos de decir que lo
												har&iacute;a, por fin lo hice. Se&ntilde;oritas (y futura se&ntilde;ora Black), he agregado mi
												perfil. Aunque a&uacute;n pienso en hacer un par de cambios y recortarlo un poco (no me pude
												controlar al momento de escribirlo <img src="../images/emsmilep.gif" width="19" height="19">).
												Espero no este muy exagerado...
											</span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div align="right">
												<font face="Arial,Helvetica,Sans Serif">
													<font color="#009900" face="Courier New, Courier, Monospace">
														<span class="negrita">Andrella de Alfehim&nbsp;</span></span></span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 50 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Andrella-de-Alfehim
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 11/03/2006 5:06</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">De acuerdo, acabo de re-observar mi perfil y me he dado
											cuenta de que no es s&oacute;lo grande, es ENORME! jajajaja prometo recortarlo luego, por ahora
											tengo sue&ntilde;o. Creo que no es necesario que lo lean todo si no quieren...jeje</span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 51 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Leonita1981
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 11/03/2006 17:22</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											SIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII, SIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII.&iexcl;&iexcl;&iexcl;LO
											HICE!! Acabo de colgar mi p&aacute;gina personal. Es un churro pero al meno est&aacute;.
											Intentar&eacute; mejorarla con el tiempo</span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 52 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 12/03/2006 19:32</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<span style="font-family: Geneva">Vi los perfiles!! Est&aacute;n muy buenos los doss!!
												Leonita, me encant&oacute; tu doll!</span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												<span></span>&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													<span>Andrella, &iquest;no quer&eacute;s ponerle una doll? Haciendo nada el otro
														d&iacute;a hice dollz de algunas de nosotras, mir&aacute; si te gusta pod&eacute;s poner esta q
														es la tuya, pero no se... todav&iacute;a soy novata en esto, Ginny me sigue ense&ntilde;ando,
														jajaja fij&aacute;te: Ahh!! una cosa, todav&iacute;a no la hice gif, je, pero avis&aacute;me y t
														la pongo con fondo transparente, como quieras. Beshoo!! Chaooo!!</span></span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span>
												<div>
													<font face="Arial,Helvetica,Sans Serif">
														<span></span>&nbsp;</span>
												</div>
												<font face="Arial,Helvetica,Sans Serif">
													</span>
													<div>
														<font face="Arial,Helvetica,Sans Serif">
															&nbsp;</span>
													</div>
													<font face="Arial,Helvetica,Sans Serif">
														</span>
														<div>
															<font face="Arial,Helvetica,Sans Serif">
																&nbsp;</span>
														</div>
														<font face="Arial,Helvetica,Sans Serif">
															</span>
															<div>
																<font face="Arial,Helvetica,Sans Serif">
																	<span class="negrita"><span class="cursiva"><span class="subrayado"><font
																					color="#006699" face="Geneva">Comandante Naya de Gin&oacute;bili.</span></span></span></span></span>
															</div>
															<font face="Arial,Helvetica,Sans Serif">
																</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgDivider">
			<td colspan="3"></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 53 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Andrella-de-Alfehim
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 13/03/2006 1:25</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">Jeje &iexcl;Est&aacute; bien mona! Aunque yo ya estoy
											trabajando en la m&iacute;a. De todas formas, &iexcl;creo que pondr&eacute; las dos! jeje <img
												src="../images/emsmilep.gif" width="19" height="19">
										</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div align="right">
										<span class="negrita"><font color="#009900" face="Courier New, Courier, Monospace">Andrella
												de Alfehim</span></span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 54 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 13/03/2006 4:15</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">Me alegro q t haya gustaado!! Fue una de las primeras que
											hice, as&iacute; q si tiene alg&uacute;n error o algo, perodon&aacute; en ese momento, era 0
											experiencia! jajajajaja, dsp t la paso con el fondo transparente! beeshoo! Chaooo!!</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<font color="#006699" face="Arial">
											<span class="negrita"><span class="cursiva"><span class="subrayado">Comandante
														Naya de Gin&oacute;bili.</span></span></span></span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 55 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Andrella-de-Alfehim
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 13/03/2006 5:00</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<span style="font-family: Geneva">Lo &uacute;nico que no le cuadrar&iacute;a ser&iacute;a
												que Andrella no usa mucho maquillaje ni faldas, pero por ser el uniforme eso no es problema. De
												todas formas la mona s&iacute; me gust&oacute;!! jeje<img src="../images/emteeth.gif" width="19"
													height="19">. Por cierto, ya puse la doll en el perfil. Agregale esa tambi&eacute;n&nbsp;si
												puedes, por favor.
											</span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												<span></span>&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div align="right">
												<font face="Arial,Helvetica,Sans Serif">
													<font color="#009900" size="4" face="Courier New, Courier, Monospace">
														<span class="negrita">Andrella de Alfehim</span></span></span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 56 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 14/03/2006 5:42</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<span style="font-family: Geneva">S&iacute;, ya s&eacute; que no usa maquillaje, pero bueh,
												ya la ten&iacute;a hecha! je</span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												<span></span>&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													<span>Bueno Andrella, ya est&aacute;, le hice una modificaci&oacute;n nada m&aacute;s, a
														tu doll la puse en gif para que no le quede el fondo blanco sino uno transparente,
														peque&ntilde;o secreto que me ha ense&ntilde;ado mi buena maestra, Ginny, es decir, Pilar!
														jajaja, as&iacute; que tu doll ya no tiene el fondo blanco, si es que lo hiciste a
														prop&oacute;sito para que as&iacute; quede, avis&aacute;me que te lo vuelvo a poner, o no
														s&eacute;, pon&eacute;lo vos, como quieras, todo bien!!</span></span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span>
												<div>
													<font face="Arial,Helvetica,Sans Serif">
														<span></span>&nbsp;</span>
												</div>
												<font face="Arial,Helvetica,Sans Serif">
													</span>
													<div>
														<font face="Arial,Helvetica,Sans Serif">
															<span>Rory! Vi tu perfil est&aacute; muy lindo!! Una cosa no m&aacute;s, Casie y Sirius
																no se han casado a&uacute;n, est&aacute;n en eso. Lo digo por esta frase:</span></span>
													</div>
													<font face="Arial,Helvetica,Sans Serif">
														</span>
														<div>
															<font face="Arial,Helvetica,Sans Serif">
																<span></span>&nbsp;</span>
														</div>
														<font face="Arial,Helvetica,Sans Serif">
															</span>
															<div>
																<font face="Arial,Helvetica,Sans Serif">
																	<font color="#000000" face="Geneva">
																		(...) "<span class="cursiva">por lo que Rory lo acompa&ntilde;&oacute;, motivo por el
																			cual no asisti&oacute; a la boda de su primo Sirius (de ah&iacute; el Black) con Casie</span>"
																		(...)</span></span>
															</div>
															<font face="Arial,Helvetica,Sans Serif">
																</span>
																<div>
																	<font face="Arial,Helvetica,Sans Serif">
																		<span></span>&nbsp;</span>
																</div>
																<font face="Arial,Helvetica,Sans Serif">
																	</span>
																	<div>
																		<font face="Arial,Helvetica,Sans Serif">
																			<span>Eso s&oacute;lo!!</span></span>
																	</div>
																	<font face="Arial,Helvetica,Sans Serif">
																		</span>
																		<div>
																			<font face="Arial,Helvetica,Sans Serif">
																				<span></span>&nbsp;</span>
																		</div>
																		<font face="Arial,Helvetica,Sans Serif">
																			</span>
																			<div>
																				<font face="Arial,Helvetica,Sans Serif">
																					<font color="#006699" face="Arial">
																						<span class="negrita"><span class="cursiva"><span class="subrayado">Comandante
																									Naya de Gin&oacute;bili.</span></span></span></span></span>
																			</div>
																			<font face="Arial,Helvetica,Sans Serif">
																				</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 57 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 14/03/2006 13:40</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>S&iacute;, est&aacute; muy bien, s&oacute;lo tengo una duda: &iquest;sali&oacute; de
										Hogwarts a los 17 y se gradu&oacute; como medimaga a los 18?</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 58 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Leonita1981
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 14/03/2006 19:41</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<span class="negrita"><font color="#000000">
													11 de enero de 1981.---&gt; Rory &iquest;es tu fecha de nacimiento real? Lo digo porque si es
													as&iacute; eres de mi quinta (ups, palabra muy espa&ntilde;ola) de m generaci&oacute;n. Yo
													nac&iacute; en 1981
													<img src="../images/emwink.gif" width="19" height="19"></span></span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 59 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Rory Black
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 14/03/2006 22:28</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<span style="font-family: Geneva">Jeje, no, no soy de 1981, soy de1991, pero me
												pareci&oacute; que 15 era una edad muy corta para entrar en el ej&eacute;rcito <img
													src="../images/emsmilep.gif" width="19" height="19">. &iquest;No se han casado? <img
													src="../images/emcrook.gif" width="19" height="19">, bueno, es que me fui con la finta de
												las invitaciones eran para el 12 de marzo, gracias por la aclaraci&oacute;n Naya <img
													src="../images/emwink.gif" width="19" height="19">, y en cuanto a la pregunta de Ginny, se
												supone que sal&iacute; de <span class="negrita">Hogwarts </span>a los 18, no 17, pero (a lo mejor
												alucino n_nU) ten&iacute;a entendido que al graduarse de Hogwarts uno sal&iacute;a ya con la
												carrera que quer&iacute;a, es decir, no se requer&iacute;a de Universidad ni nada por el estilo; y
												bueno, repecto a lo del a&ntilde;o de internado y lo dem&aacute;s, como en la vida real yo quiero
												ser m&eacute;dico, tengo entendido que despu&eacute;s&nbsp;de la carrera (lo que hice durante el
												EXTASIS&nbsp;en Hogwarts) se hace un a&ntilde;o de internado y luego, ya que se es m&eacute;dico
												general,&nbsp;se hacen&nbsp;tres o cuatro de especialidad (ginecolog&iacute;a, pediatr&iacute;a,
												cardiolog&iacute;a, neurolog&iacute;a, etc.).
											</span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												<span></span>&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													<span>Bueno, espero haber aclarado sus dudas n_n (o al menos no haberlas confundido
														m&aacute;s XP), cualquier otra cosa no duden en preguntar <img src="../images/emwink.gif"
															width="19" height="19">.
													</span></span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span>
												<div>
													<font face="Arial,Helvetica,Sans Serif">
														<span></span>&nbsp;</span>
												</div>
												<font face="Arial,Helvetica,Sans Serif">
													</span>
													<div>
														<font face="Arial,Helvetica,Sans Serif">
															<span>Saludos.</span></span>
													</div>
													<font face="Arial,Helvetica,Sans Serif">
														</span>
														<div>
															<font face="Arial,Helvetica,Sans Serif">
																<span>Agente Rory.</span></span>
														</div>
														<font face="Arial,Helvetica,Sans Serif">
															</span>
															<div>
																<font face="Arial,Helvetica,Sans Serif">
																	<span>Miembro de la Orden Siriusana.</span></span>
															</div>
															<font face="Arial,Helvetica,Sans Serif">
																</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 60 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 15/03/2006 1:33</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											Creo que no, yo tengo entendido que el a&ntilde;o de EXTASIS es como el &uacute;ltimo a&ntilde;o de
											escuela antes de elegir carrera, los aurores van a una academia y supongo que para ser medimago se
											requiere algo m&aacute;s de un a&ntilde;o de estudio. </span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 61 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 15/03/2006 1:39</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">Sisi, es como dice Ginny, los EXTASIS es el &uacute;ltimo
											a&ntilde;o antes de elegir la carrera.</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<span>Bueno, tengo q publicar algo: Ma&ntilde;ana es mi cumpleeeeeeeee!! Si!! al fiiinn!! los
											18 a&ntilde;os tan anheladosssssssss!!!!!!!!!!!!!!!!!!!!!! <img src="../images/emteeth.gif"
												width="19" height="19">&nbsp;Soy la mujer m&aacute;s feliz de la Tierra!! (Y &iquest;por
											qu&eacute; no?, la persona m&aacute;s feliz de la Tierra!!)
										</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<font color="#006699" face="Arial">
											<span class="negrita"><span class="cursiva"><span class="subrayado">Comandante
														Naya de Gin&oacute;bili.</span></span></span></span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<div class="paginadorMensajes">
	<div class="Command">
		<a href="javascript:primera();" title="Ir a los primeros 15 mensajes de esta discusi&oacute;n."><img
				src="../images/1arrow_back_1.gif" class="flechaNav">Primer</a>
	</div>
	<div class="Command">
		<a href="javascript:anterior();" title="Ir a los 15 mensajes anteriores de esta discusi&oacute;n."><img
				src="../images/1arrow_back_1.gif" class="flechaNav">Anterior</a>
	</div>
	<div class="ThmFgInactiveText actual">&nbsp;&nbsp;32 a 61 de 232&nbsp;&nbsp;</div>
	<div class="Command">
		<a href="javascript:siguiente()" title="Ir a los 15 mensajes siguientes">Siguiente<img
				src="../images/1arrow_forward_1.gif" class="flechaNav"></a>&nbsp;
	</div>
	<div class="Command">
		<a href="javascript:ultima()" title="Ir a los &uacute;ltimos 15 mensajes de esta discusi&oacute;n">&Uacute;ltimo<img
				src="../images/1arrow_forward_1.gif" class="flechaNav"></a>&nbsp;
	</div>
</div>