<input type="hidden" id="primera" value="perfiles/perfiles01.html" />
<input type="hidden" id="anterior" value="perfiles/perfiles03.html" />
<input type="hidden" id="siguiente" value="perfiles/perfiles05.html" />
<input type="hidden" id="ultima" value="perfiles/perfiles08.html" />
<div class="paginadorMensajes">
	<div class="Command">
		<a href="javascript:primera();" title="Ir a los primeros 15 mensajes de esta discusi&oacute;n."><img
				src="../images/1arrow_back_1.gif" class="flechaNav">Primer</a>
	</div>
	<div class="Command">
		<a href="javascript:anterior();" title="Ir a los 15 mensajes anteriores de esta discusi&oacute;n."><img
				src="../images/1arrow_back_1.gif" class="flechaNav">Anterior</a>
	</div>
	<div class="ThmFgInactiveText actual">&nbsp;&nbsp;92 a 121 de 232&nbsp;&nbsp;</div>
	<div class="Command">
		<a href="javascript:siguiente()" title="Ir a los 15 mensajes siguientes">Siguiente<img
				src="../images/1arrow_forward_1.gif" class="flechaNav"></a>&nbsp;
	</div>
	<div class="Command">
		<a href="javascript:ultima()" title="Ir a los &uacute;ltimos 15 mensajes de esta discusi&oacute;n">&Uacute;ltimo<img
				src="../images/1arrow_forward_1.gif" class="flechaNav"></a>&nbsp;
	</div>
</div>

<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 92 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Andrella-de-Alfehim
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 20/03/2006 18:01</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">*S&oacute;lo un comentario*</span>
									</div>
									<div>
										<span style="font-family: Geneva">Jeje, creo que el uniforme de mi doll no parece pecisamente
											un uniforme...jejeje. Bueno, creo que igual no importa, de todas formas as&iacute; me gust&oacute;
											jeje...<img src="../images/emsmilep.gif" width="19" height="19">
										</span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 93 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Cookie
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 20/03/2006 22:11</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<font size="1" face="Verdana, Geneva, Arial, Sans-serif">
												Andrella me encanta la ropa de tu doll...!!! Me encanta ese estilo.. juro que por mi me vestiria
												asi ^-^... me encanta los colores... ya boina con ese toque.. me ENCANTAA!!</span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												<font size="1" face="Verdana, Geneva, Arial, Sans-serif">
													Bueno cree mi colegio "La Academia de la Magia para Jovenes Circerius" o simplemente "Circerius"
													o "AMJC". ^.^ Es como Hogwarts iba a hacerlo como Beauxbatons... pero no se como Cookieie no es
													asi... no iba biien</span></span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													<span style="font-size: 10px"></span>&nbsp;</span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span>
												<div>
													<font face="Arial,Helvetica,Sans Serif">
														<span style="font-size: 10px">besos</span></span>
												</div>
												<font face="Arial,Helvetica,Sans Serif">
													</span>
													<div>
														<font face="Arial,Helvetica,Sans Serif">
															&nbsp;</span>
													</div>
													<font face="Arial,Helvetica,Sans Serif">
														</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 94 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Andrella-de-Alfehim
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 20/03/2006 23:07</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">&iexcl;Qu&eacute; bueno que te gust&oacute;!&nbsp;Por
											ahora&nbsp;yo ya estoy trabajando en la escuela de Andrella,&nbsp;y el nombre ya est&aacute;, pero
											me falta la ubicaci&oacute;n y las materias, adem&aacute;s de uno que otro detalle misterioso &not;
											&not;....Ya veremos c&oacute;mo queda.</span>
									</div>
									<div>&nbsp;</div>
									<div align="right">
										<span class="negrita"><font color="#009900" size="4" face="Courier New, Courier, Monospace">Andrella
												de Alfehim&nbsp;</span></span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 95 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 21/03/2006 0:04</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">Me encanta que estemos todas trabajando en nuestras
											escuelas, jejeje, se&ntilde;al de que os ha gustao la idea <img src="../images/emwink.gif"
												width="19" height="19">&nbsp;Ariel, Leonita y yo ya tenemos casi el plan docente completo,
											faltan los retoques y los profesores. Andrella, exp&oacute;n la propuesta que me comentaste ayer,
											me parece muy interesante.
										</span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 96 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Andrella-de-Alfehim
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 21/03/2006 0:16</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<span style="font-family: Geneva">Con mucho gusto Ginny. Ver&aacute;n, a lo largo de la
												historia del VATAR han surgido peque&ntilde;os agujeros con relaci&oacute;n a nuestros personajes,
												como por ejemplo la forma en c&oacute;mo Marina se volvi&oacute; media vampira, c&oacute;mo
												conocieron a sus respectivos novios, algunas batallas que hallan sido significativas en la vida de
												los personajes, sus vidas en el colegio, etc. Entonces se me ocurri&oacute; la idea de hacer una
												secci&oacute;n aparte en el VATAR donde pudieramos escribir lo que podr&iacute;amos llamar fanfics
												de ellas, y as&iacute; de paso las conocemos mejor. &iquest;Qu&eacute; les parece la idea?</span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												<span></span>&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div align="right">
												<font face="Arial,Helvetica,Sans Serif">
													<font color="#009900" size="4" face="Courier New, Courier, Monospace">
														<span class="negrita">Andrella de Alfehim</span></span></span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 97 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Casie4194
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 21/03/2006 0:56</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											&iexcl;Uy! &iexcl;La idea de Andrella me encanta! Hacer fics de nuestros personajes. Est&aacute;
											s&uacute;per la idea.&nbsp; As&iacute; podr&iacute;amos conocernos m&aacute;s (digo, los
											personajes) y saber de que pie cojea cada una y d&oacute;nde est&aacute; la fortaleza. Me gusta,
											definitivamente, me encanta, doy mi amplio voto por la idea, es maravillosa, simplemente
											sensacional...</span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													Todas - &iexcl;YA BASTA DE ADJETIVOS CASIE! Ya entendimos que te gust&oacute; la propuesta de
													Andrella, no tienes que seguir con tus demostraciones.</span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span>
												<div>
													<font face="Arial,Helvetica,Sans Serif">
														&nbsp;</span>
												</div>
												<font face="Arial,Helvetica,Sans Serif">
													</span>
													<div>
														<font face="Arial,Helvetica,Sans Serif">
															Casie - &iexcl;Oh! Lo siento... &iquest;Entonces s&iacute; qued&oacute; claro que me
															gust&oacute; la propuesta?</span>
													</div>
													<font face="Arial,Helvetica,Sans Serif">
														</span>
														<div>
															<font face="Arial,Helvetica,Sans Serif">
																&nbsp;</span>
														</div>
														<font face="Arial,Helvetica,Sans Serif">
															</span>
															<div>
																<font face="Arial,Helvetica,Sans Serif">
																	(Una serie de hechizos salen de las varitas de las agentes, mientras Casie se oculta
																	detr&aacute;s de una silla y aparece una banderita blanca agit&aacute;ndose)</span>
															</div>
															<font face="Arial,Helvetica,Sans Serif">
																</span>
																<div>
																	<font face="Arial,Helvetica,Sans Serif">
																		&nbsp;</span>
																</div>
																<font face="Arial,Helvetica,Sans Serif">
																	</span>
																	<div>
																		<font face="Arial,Helvetica,Sans Serif">
																			Besos</span>
																	</div>
																	<font face="Arial,Helvetica,Sans Serif">
																		</span>
																		<div>
																			<font face="Arial,Helvetica,Sans Serif">
																				&nbsp;</span>
																		</div>
																		<font face="Arial,Helvetica,Sans Serif">
																			</span>
																			<div>
																				<font face="Arial,Helvetica,Sans Serif">
																					Casie</span>
																			</div>
																			<font face="Arial,Helvetica,Sans Serif">
																				</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 98 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Rory Black
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 21/03/2006 2:13</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">&iexcl;&iexcl;Pero qu&eacute; buena idea Andrella!!
											&iexcl;a m&iacute; tambi&eacute;n me encant&oacute;!, yo tambi&eacute;n estoy completamente a
											favor, porque creo que a&nbsp;todas o muchas de nosotras (al menos yo s&iacute;) nos
											gustar&iacute;a ampliar mucho nuestras historias para darnos m&aacute;s a conocer, cosa que no
											hacemos en el perfil por cuesti&oacute;n de espacio y para que no se vea una p&aacute;gina
											kilom&eacute;trica n_nU, de hecho creo que ahora mismo voy a empiezar a escribir, no soy muy buena
											haciendo fics porque por lo general no encuentro un buen t&iacute;tulo o/y una buena trama (cuando
											vuelvo a leer lo que escribo ya no me gusta &not;&not;), pero ahora los tengo ^o^.</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<span>Gracias por la idea Andrella.</span>
									</div>
									<div>
										<span>Besos y saludos.</span>
									</div>
									<div>
										<span>Rory.</span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 99 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 21/03/2006 2:18</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">Jajajaja, Andrella tu idea es genial! Me encanta!! Yo hoy
											estaba por empezar con el fic del VATAR en s&iacute;, &iquest;se acuerdan que una vez
											hab&iacute;amos dicho que lo &iacute;bamos a hacer? Bueno, si hago este fic no voy a tener tiempo
											para el de Naya, por lo que se me ocurri&oacute; que tal vez yo podr&iacute;a hacer el primer
											cap&iacute;tulo del VATAR y el segundo lo har&iacute;a otra integrante y as&iacute;, hacemos una
											lista para tener el orden y nos vamos turnando, eso s&iacute;, a la que le siga a mi
											cap&iacute;tulo por ejemplo le tocar&aacute; corregir el anterior, as&iacute; no hay muchas
											imperfecciones (ortograf&iacute;a y eso)... se me ocurri&oacute; no m&aacute;s, como gusten. Y mi
											fic... ya me conocen, va a ser largu&iacute;simo, jajajajaja es toda una vida para contar!
											Seguramente me cuelgo en el medio y tardo 5 a&ntilde;os, pero prometo tenerlo hecho para un
											d&iacute;a de estos! jajajaja Bueno un besoo!! me voy! Aiozz!!</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<font color="#006699" face="Arial">
											<span class="negrita"><span class="cursiva"><span class="subrayado">Comandante
														Naya de Gin&oacute;bili.</span></span></span></span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 100 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 21/03/2006 2:22</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">S&oacute;lo una pregunta... &iquest;C&oacute;mo se supone
											que dimos con el VATAR? &iquest;S&oacute;lamente la General nos llam&oacute; porque s&iacute;?...
											no s&eacute;, yo podr&iacute;a decir q conozco a algunas de ustedes de alg&uacute;n lado, aunque me
											tiro m&aacute;s por la idea de que la General haga las veces de George Clooney en la Gran Estafa
											y&nbsp;nos haya, de alguna manera, "convocado" para esta dif&iacute;cil misi&oacute;n debido a las
											diferentes habilidades que poseemos, y como mencionamos una vez Andrella y yo, &eacute;sas
											habilidades que nos complementar&iacute;an en forma de equipo. </span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<span>Yo opto porque la General nos haya buscado y encontrado. Y ahi nos conocimos, aunque
											muchas nos podr&iacute;amos conocer de antes y as&iacute;, es relativo eso.</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<span>&iquest;Qu&eacute; dicen?</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<font color="#006699" face="Arial">
											<span class="negrita"><span class="cursiva"><span class="subrayado">Comandante
														Naya de Gin&oacute;bili.</span></span></span></span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 101 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Buffy Ane Summers
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 21/03/2006 2:46</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									Me encantan las dos ideas, de ff tengo bastantes pedasos de la vida de La General.. eso por q yo de
									pronto me aburro y lo unico que hallo es escribir fics, igual necesito q alguien revise la ortografia
									XP<br> <br>Emm... tengo una pregunta, por cuestiones de la General y el pasado, ella
									tecnicamente nunca habla de eso por una razon, y yo lo pondria terriblemente explisito por q... Me
									encanta el pasado d la general XP, pero, los personajes no tendrian q saber d este pasado, no es asi?
									<br> <br>Con lo de Naya, primero.. Me encanta esa peli XD... y segundo, See, me parece una
									idea genial.<br> <br>G Buffy Ane Summers</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 102 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Rory Black
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 21/03/2006 2:48</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<span style="font-family: Geneva">Pues yo s&iacute; estoy de acuerd ^^. Es que francamente
												no se me&nbsp;ocurre otra manera en que se haya podido dar con un lugar secreto sin haber sido
												conovados a &eacute;l n_nU.</span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 103 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Casie4194
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 21/03/2006 3:21</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											(Casie levanta una mano desde atr&aacute;s de la silla que la protege y la agita vigorosamente)</span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													Casie - &iexcl;Hey! &iexcl;Yo s&iacute; recuerdo c&oacute;mo comenz&oacute; el V.A.T.A.R</span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span>
												<div>
													<font face="Arial,Helvetica,Sans Serif">
														Todas - &iexcl;Pues su&eacute;ltalo!</span>
												</div>
												<font face="Arial,Helvetica,Sans Serif">
													</span>
													<div>
														<font face="Arial,Helvetica,Sans Serif">
															Casie - &iquest;Me puedo levantar? Ya se me entumieron las rodillas</span>
													</div>
													<font face="Arial,Helvetica,Sans Serif">
														</span>
														<div>
															<font face="Arial,Helvetica,Sans Serif">
																Todas - Adelante, lev&aacute;ntate y habla</span>
														</div>
														<font face="Arial,Helvetica,Sans Serif">
															</span>
															<div>
																<font face="Arial,Helvetica,Sans Serif">
																	&nbsp;</span>
															</div>
															<font face="Arial,Helvetica,Sans Serif">
																</span>
																<div>
																	<font face="Arial,Helvetica,Sans Serif">
																		(Casie se incorpora y las mira a todas)</span>
																</div>
																<font face="Arial,Helvetica,Sans Serif">
																	</span>
																	<div>
																		<font face="Arial,Helvetica,Sans Serif">
																			&nbsp;</span>
																	</div>
																	<font face="Arial,Helvetica,Sans Serif">
																		</span>
																		<div>
																			<font face="Arial,Helvetica,Sans Serif">
																				Casie - Bien, para m&aacute;s detalles, pueden ir al SBFC, porque ah&iacute; quedaron
																				muchos mensajes, pero para que los encuentren s&oacute;lo les digo que todo comenz&oacute;
																				cuando Asariel y yo decidimos ir al departamento de los misterios a rescatar a Sirius del
																				velo. La General se uni&oacute; a nosotras y se qued&oacute; como la suprema comandante de
																				la incursi&oacute;n. Logramos rescatar a Sirius y de ah&iacute; se comenzarona unir
																				m&aacute;s, entre ellas t&uacute; Naya, quien insist&iacute;a en ahogar a Sirius con
																				respiraci&oacute;n de boca a boca &iquest;te acuerdas? Luego no recuerdo si fue Ariel o la
																				misma General, la que le dio el nombre al grupo, para hacer que la rubia apestosa
																				regresara a Sirius y se hizo una discusi&oacute;n aparte con ese nombre, porque al
																				principio, s&oacute;lo eran mensajes sueltos siguiendo nuestra incursi&oacute;n. Me parece
																				que Ginny es la que podr&iacute;a ubicar m&aacute;s facilmente estos mensajes.</span>
																		</div>
																		<font face="Arial,Helvetica,Sans Serif">
																			</span>
																			<div>
																				<font face="Arial,Helvetica,Sans Serif">
																					&nbsp;</span>
																			</div>
																			<font face="Arial,Helvetica,Sans Serif">
																				</span>
																				<div>
																					<font face="Arial,Helvetica,Sans Serif">
																						(Todas las agentes comienzan a hablar entre ellas, algunas recordando, otras
																						enter&aacute;ndose de lo que ocurri&oacute; en aquella ocasi&oacute;n)</span>
																				</div>
																				<font face="Arial,Helvetica,Sans Serif">
																					</span>
																					<div>
																						<font face="Arial,Helvetica,Sans Serif">
																							&nbsp;</span>
																					</div>
																					<font face="Arial,Helvetica,Sans Serif">
																						</span>
																						<div>
																							<font face="Arial,Helvetica,Sans Serif">
																								Casie - &iquest;Voy mal o me regreso?</span>
																						</div>
																						<font face="Arial,Helvetica,Sans Serif">
																							</span>
																							<div>
																								<font face="Arial,Helvetica,Sans Serif">
																									&nbsp;</span>
																							</div>
																							<font face="Arial,Helvetica,Sans Serif">
																								</span>
																								<div>
																									<font face="Arial,Helvetica,Sans Serif">
																										Besos</span>
																								</div>
																								<font face="Arial,Helvetica,Sans Serif">
																									</span>
																									<div>
																										<font face="Arial,Helvetica,Sans Serif">
																											&nbsp;</span>
																									</div>
																									<font face="Arial,Helvetica,Sans Serif">
																										</span>
																										<div>
																											<font face="Arial,Helvetica,Sans Serif">
																												Casie</span>
																										</div>
																										<font face="Arial,Helvetica,Sans Serif">
																											</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 104 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 21/03/2006 3:43</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<span style="font-family: Geneva">Aprovechando mi total ausencia de sue&ntilde;o (lo cual es
												grave teniendo en cuenta que me tengo q levantar dentro de menos de cuatro horas), he dado una
												vuelta por el SBFC y he rescatado el post al que te refieres, Casie, </span><a target="_top"
												href="../La motocicleta de Sirius/01.htm"><span style="font-family: Geneva">La
													motocicleta de Sirius Black</span></a><span style="font-family: Geneva">, ah&iacute; empez&oacute;
												(creo) todo esto de las agentes, las misiones, etc, aunque reconozco que yo no particip&eacute;
												ah&iacute; porque acababa de unirme al grupo y no ten&iacute;a ni idea de lo que pasaba (pero
												s&iacute; recuerdo que en principio yo hab&iacute;a puesto que me llegasen todos los mensajes a mi
												bandeja de entrada y como en un d&iacute;a me llegaron m&aacute;s de 80 quit&eacute; la
												opci&oacute;n jeje)</span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												<span></span>&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													<span>El post del que parti&oacute; la idea del VATAR en s&iacute;, es <a target="_top"
														href="../Agentes!/01.htm?action=get_message&mview=0&ID_Message=4705&LastModified=467555pili062526460&all_topics=1">Agentes!</a>,
														pero supongo que ese s&iacute; que lo conocemos todas.
													</span></span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span>
												<div>
													<font face="Arial,Helvetica,Sans Serif">
														<span></span>&nbsp;</span>
												</div>
												<font face="Arial,Helvetica,Sans Serif">
													</span>
													<div>
														<font face="Arial,Helvetica,Sans Serif">
															<span>En cuanto al reclutamiento, Ariel, Leonita y Ginny se conoc&iacute;an del colegio,
																supongo que una se enter&oacute; y propuso&nbsp;a las dem&aacute;s. Tambi&eacute;n me parece
																bien la idea de que la General nos fuese escogiendo por nuestras habilidades.</span></span>
													</div>
													<font face="Arial,Helvetica,Sans Serif">
														</span>
														<div>
															<font face="Arial,Helvetica,Sans Serif">
																<span></span>&nbsp;</span>
														</div>
														<font face="Arial,Helvetica,Sans Serif">
															</span>
															<div>
																<font face="Arial,Helvetica,Sans Serif">
																	<span>Y por &uacute;ltimo, ni que decir tiene que me gusta la idea de Andrella de los
																		fics, en cuanto acabe (acabemos)&nbsp;con las caracter&iacute;sticas del colegio, me pongo a
																		escribir mi vida (jejeje, ah&iacute; meter&eacute; la historia con Sawyer).</span></span>
															</div>
															<font face="Arial,Helvetica,Sans Serif">
																</span>
																<div>
																	<font face="Arial,Helvetica,Sans Serif">
																		<span></span>&nbsp;</span>
																</div>
																<font face="Arial,Helvetica,Sans Serif">
																	</span>
																	<div>
																		<font face="Arial,Helvetica,Sans Serif">
																			<span>Y na, a ver si puedo dormirme ya de una buena vez. Besos.</span></span>
																	</div>
																	<font face="Arial,Helvetica,Sans Serif">
																		</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 105 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Andrella-de-Alfehim
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 21/03/2006 21:52</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<span style="font-family: Geneva">Me alegra que les gustara la idea. Aunque hay que ver que
												los personajes no comiecen a hablar de la vida de nosotros sin que &eacute;stos la hallan
												mencionado, quiero decir, si en el fic digo que Andrella alguna vez tuvo el pelo verde, pero no se
												lo ha comentado a las dem&aacute;s del VATAR, no vale que alguien lo mencione de pronto
												&iquest;ok?. Y en fin. Igual que Ginny, primero acabo lo de la ecuela y luego voy con el fic jeje
												<img src="../images/emwink.gif" width="19" height="19">
											</span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												<span></span>&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div align="right">
												<font face="Arial,Helvetica,Sans Serif">
													<span class="negrita"><font color="#009900" size="4"
															face="Courier New, Courier, Monospace">Andrella de Alfehim</span></span></span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 106 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Rory Black
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 21/03/2006 23:04</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">S&iacute; tienes raz&oacute;n Andrella, ser&iacute;a un
											poco il&oacute;gico decir algo como "&iquest;recuerdas cuando tuviste el pelo verde?" si es algo
											que hemos visto &uacute;nicamente en tu fic, pero no aparece que nos lo hayas mencionado
											"personalmente".</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<span>Oigan chicas, ya estoy trabaando en mi fic, pero me emocion&eacute; un poco
											escribiendo, as&iacute; que cuando est&eacute; listo, por favor perdonen&nbsp;si lo ven de
											tama&ntilde;o kilom&eacute;trico.</span>
									</div>
									<hr>
									<p>
										<font face="Arial,Helvetica,Sans Serif">
											</span><span style="font-family: Geneva">Y una peque&ntilde;a aclaraci&oacute;n: &iquest;ya ven que
												sal&iacute; con eso de que Casie es mi cu&ntilde;ada? pues s&oacute;lo son inventos, las esposas
												de los primos no son cu&ntilde;adas, son primas pol&iacute;ticas, pero yo le digo as&iacute;
												porque yo quiero a Sirius casi como a un hermano (digo casi porque no nos peleamos tanto como si
												lo fu&eacute;ramos) pero no es porque realmete lo seamos <img src="../images/emwink.gif"
													width="19" height="19">.
											</span>
									</p>
									<p>
										<span>P.D: puede que eso no venga mucho al caso pero quer&iacute;a coment&aacute;rselo.</span>
									</p>
									<p>
										<span>Saludos.</span>
									</p>
									<p align="right">
										<span class="cursiva"><font color="#ff6699" face="Times New Roman, Times, Serif">
												<span class="negrita">Rory Black.</span></span></span>
									</p>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 107 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 22/03/2006 10:50</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<span style="font-family: Geneva">Bueno Casie, en realidad no me refer&iacute;a a
												d&oacute;nde empez&oacute; el VATAR sino a c&oacute;mo dimos con la General, o sea, Naya es una
												periodista que poco tiene que ver con asosiaciones secretas dedicadas a torturar gente,
												&iquest;c&oacute;mo es que se enter&oacute; del VATAR?, Andrella es una mujer &eacute;lfica,
												&iquest;Qu&eacute; es lo que tiene que ver con los Aurores como para enterarse de que una chica,
												de nombre Buffy que era General, quer&iacute;a torturar a Rowling?, por eso Ginny aclar&oacute;
												que ella se conoc&iacute;a con Ariel y Leonita desde la secundaria, de todas formas no queda claro
												c&oacute;mo es que una de ellas di&oacute; con la General cuando a &eacute;sta se le
												ocurri&oacute; hacer el VATAR, Ginny pudo conocerla en las oficinas del Ministerio dado que ambas
												son aurores y dsp decirle a Leonita y Ariel, a&uacute;n as&iacute;, son s&oacute;lo 4 personas,
												nosotras somos muchas m&aacute;s, es raro que todas nos conozcamos porque s&iacute; siendo tan
												diferentes. Por eso propuse que la General nos haya reclutado de acuerdo a nuestras habilidades,
												&iquest;qu&eacute; pens&aacute;s? me interesa tu opini&oacute;n, che! jajajajajaja</span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												<span></span>&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													<span>Ahh! A m&iacute; se me hab&iacute;a ocurrido empezar a hacer el fic del VATAR en
														General (&iquest;se acuerdan que una vez hab&iacute;amos dicho de hacer un fic?), bueno, la cosa
														es que entre los dos fics, el cole nuevo y todo eso, estoy ocupad&iacute;sima! jajaja, por eso
														hab&iacute;a pensado que estar&iacute;a bueno que yo haga el primer cap&iacute;tulo y otra siga
														y haga el segundo y as&iacute;. Podr&iacute;amos hacer una lista para ir en orden,
														tambi&eacute;n se me ocurri&oacute; que la que le toque hacer el segundo cap&iacute;tulo revise
														el primero para corregir las faltas de ortograf&iacute;a o gram&aacute;tica, y a la que le toque
														el tercero, revisar&aacute; el segundo y as&iacute;,&nbsp;es para que&nbsp;est&eacute;n todos
														los cap&iacute;tulos m&aacute;s o menos iguales. Bueno, me fui un poco por las ramas,
														&iquest;no? jajaja, no s&eacute;, f&iacute;jense qu&eacute; les parece, sino lo hacemos
														despu&eacute;s m&aacute;s tranquilas, por m&iacute; es lo mismo. <img src="../images/emwink.gif"
															width="19" height="19">
													</span></span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span>
												<div>
													<font face="Arial,Helvetica,Sans Serif">
														<span></span>&nbsp;</span>
												</div>
												<font face="Arial,Helvetica,Sans Serif">
													</span>
													<div>
														<font face="Arial,Helvetica,Sans Serif">
															<font color="#006699" face="Arial">
																<span class="negrita"><span class="cursiva"><span class="subrayado">Comandante
																			Naya de Gin&oacute;bili.</span></span></span></span></span>
													</div>
													<font face="Arial,Helvetica,Sans Serif">
														</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 108 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Leonita1981
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 22/03/2006 12:31</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											La idea del fic en s&iacute; no me parece mala pero yo, por ejemplo, cuento con tiempo libre a
											empujones, esto es, que si tengo mucho trabajo no puedo ni respirar y cuando tengo poco hago las
											cosas. Resumiendo, que yo puedo tardar la tira en hacer mi cap&iacute;tulo. No te digo que no lo
											vaya a hacer a la larga pero no me puedo comprometer.</span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													Con respecto a los inicios de la Misi&oacute;n Vatar, como muy bien t&uacute; dices, Ginny es un
													auror como la general y ella pudo&nbsp;decirnos a Ariel y a m&iacute; de la misi&oacute;n. Creo
													que el boca a boca es la mejor forma de reclutar&nbsp;</span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 109 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Casie4194
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 22/03/2006 21:22</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>Hola, hola. Pues no creo que haya problema, y de hecho, la General s&iacute; nos
										convoc&oacute;. Miren, la cosa estuvo as&iacute;. Despu&eacute;s de "rescatar" a Sirius del arco,
										Buffy abri&oacute; una discusi&oacute;n donde dec&iacute;a "&iexcl;AGENTES!" y ya en su mensaje
										dec&iacute;a la misi&oacute;n de torturar&nbsp;a Rowling. Ese fue el comienzo del grupo, porque
										antes, no era un grupo, grupo, lo que se dice... grupo (&iquest;Mucho grupo?)</div>
									<div>&nbsp;</div>
									<div>Realmente el c&oacute;mo, d&oacute;nde y por qu&eacute; conocimos a la General,
										podr&iacute;a ser parte de la historia personal o como dice Leonita, de boca en boca. Por mi parte,
										yo trabajo en el Ministerio, como Diplom&aacute;tica, y aunque no soy auror, quiz&aacute; la General
										vio en m&iacute; alguna habilidad especial, inclusive tener contactos en el mundo muggle, para
										llamarme. Pero eso lo dejo s&oacute;lo como una idea. Si Naya est&aacute; escribiendo el fic del
										grupo, creo que ella podr&iacute;a darle un entorno mejor porque ella est&aacute; desarrollando la
										idea. En todo caso, cada una podr&iacute;a aportar algo para que ella pudiera utilizarlo en el fic y
										adecuarlo, adem&aacute;s que no habr&iacute;a contradicciones con la historia que cada una escriba
										de su personaje.</div>
									<div>&nbsp;</div>
									<div>Besos</div>
									<div>&nbsp;</div>
									<div>Casie</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 110 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 22/03/2006 22:28</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<span style="font-family: Geneva">Se me ocurre que la General y Ginny pod&iacute;an haber
												coincidido en alguna misi&oacute;n internacional en la que colaborasen el Ministerio ingl&eacute;s
												y el espa&ntilde;ol, no tiene porqu&eacute; haber sido gran cosa: tr&aacute;fico internacional de
												escobas de madera protegida, protecci&oacute;n en un congreso internacional de la magia, etc.
												Despu&eacute;s, a la hora de reclutar, s&oacute;lo tendr&iacute;a que mirar&nbsp;su expediente y
												decidir que Ginny pod&iacute;a aportar cosas interesantes a la misi&oacute;n. A partir de
												ah&iacute;, Ginny hablar&iacute;a a la General de Leonita y Ariel y se pondr&iacute;a en contacto
												con ellas. </span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													<span style="font-family: Geneva">Cada una podr&iacute;a describir su forma de contactar
														con la misi&oacute;n, jeje, es divertido.</span></span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span>
												<div>
													<font face="Arial,Helvetica,Sans Serif">
														<span></span>&nbsp;</span>
												</div>
												<font face="Arial,Helvetica,Sans Serif">
													</span>
													<div>
														<font face="Arial,Helvetica,Sans Serif">
															<img src="../images/Ginny3.png">
															&nbsp;</span>
													</div>
													<font face="Arial,Helvetica,Sans Serif">
														</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 111 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Rory Black
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 22/03/2006 23:45</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<span style="font-family: Geneva">Mmmmm...veamos...yo pordr&iacute;a haber conocido a la
												General en alguna visita que &eacute;sta haya hecho al hospital, quiz&aacute; un simple chequeo de
												rutina (no es necesario poner que lleg&oacute; medio muerta XP) y ah&iacute; me vio trabajando y
												pens&oacute; que necesitaban medimagos (XD) o me vio haciendo o diciendo que hice algo que
												requiera mucha habilidad, no s&eacute;, entablamos conversaci&oacute;n y le coment&eacute; de
												manera casual que fui de las &uacute;nicas alumnas que se gradu&oacute; con exelencia de la clase
												de Snape porque soy realmente buena en ello(aunque no modesta XD) o sencillamente me vio hacerle
												un hechizo que requiriera bastante agilidad mental&nbsp;y f&iacute;sica (si, claro) a alg&uacute;n
												paciente fuera de control o bueno...ya se me ocurrir&aacute; algo mejor cuando llegue a esa parte
												de mi fic.</span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												<span></span>&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													<span>Saludos.</span></span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span>
												<div>
													<font face="Arial,Helvetica,Sans Serif">
														<font color="#ff6699" face="Times New Roman, Times, Serif">
															<span class="cursiva"><span class="negrita">Rory Black.</span></span></span></span>
												</div>
												<font face="Arial,Helvetica,Sans Serif">
													</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 112 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Andrella-de-Alfehim
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 22/03/2006 23:57</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<span style="font-family: Geneva">Jeje, Bueno, pues yo en mi perfil puse que la General y yo
												nos conocimos en un pub, que yo entr&eacute; (seg&uacute;n yo) y me la top&eacute; en la barra, me
												enter&eacute; de la supuesta muerte de Sirius y me un&iacute; a la General...pero puedo cambierle
												si no les parece, por m&iacute; no hay problema.</span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												<span></span>&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div align="right">
												<font face="Arial,Helvetica,Sans Serif">
													<font color="#009900" size="4" face="Courier New, Courier, Monospace">
														<span class="negrita">Andrella de Alfehim</span></span></span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 113 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Buffy Ane Summers
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 23/03/2006 2:33</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									Me gustan las ideas, sobre todo la de Andrella (no se por q me encanta la idea d conocer gente rara
									en y util un pub). Solo q les pido q dejen a mi personaje,.. emm, dentro del personaje? Bue.. eso
									era.<br> <br>La q me parece rara de conectar es Naya, solo por el hecho de ser periodista
									XP, no se, es q al ser auror supongo q mas bien tendria a repeler periodistas, no se.<br> <br>G
									Buffy Ane Summers</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 114 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 23/03/2006 12:03</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">Mi problema es que me parece raro que una persona conozca
											tanta gente &uacute;til para una misi&oacute;n tan rebuscada como esta. Es decir, sabemos que la
											General tiene poca memoria, y &iquest;record&oacute; a todas? No s&eacute; por qu&eacute; hay algo
											que no me va, yo lo hab&iacute;a pensado as&iacute;:</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<span>Buffy conoce a Ginny en alg&uacute;n lugar y entablan conversaci&oacute;n, surge la
											idea del VATAR y Ginny le comenta que conoce dos chicas que podr&iacute;an ser &uacute;tiles. Estas
											dos chicas (Ariel y Leonita), al poco tiempo se unen a la misi&oacute;n y juntas las cuatro, se dan
											cuenta de que necesitar&aacute;n bastante m&aacute;s gente. Por lo que deciden mirar los legajos
											internacionales del Ministerio y buscan as&iacute;:</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<span>-Una duquesa&nbsp;diplom&aacute;tica y mujer de la alta sociedad, que sirve para
											mantener las buenas apariencias&nbsp;(Casie)</span>
									</div>
									<div>
										<span>-Una periodista (para manejar la opini&oacute;n p&uacute;blica), que trabaj&oacute;
											para el Ministerio siendo&nbsp;implacable en Pociones (Naya)</span>
									</div>
									<div>
										<span>-Una lic&aacute;ntropa habilidosa, que siempre es buena para la ofensa (Danielle)</span>
									</div>
									<div>
										<span>-Una mujer con descendencia &eacute;lfica que lleva muchos a&ntilde;os encima, lo que
											aporta experiencia y un buen caudal en magias desconocidas (Andrella)</span>
									</div>
									<div>
										<span>-Una mujer experta en derecho, para manejar asuntos legales (Leonita)</span>
									</div>
									<div>
										<span>-Una experta en Alquimia y Adivinaci&oacute;n, por si se necesitaba averiguar el futuro
											(Cookie)</span>
									</div>
									<div>
										<span>-Una historiadora, para averiguar alg&uacute;n que otro enigma, ya que es sabido que a
											Rowling le encanta escarbar en el pasado (Gabriela)</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<span>Las dem&aacute;s agentes poco a poco se fueron uniendo, (y ahora s&iacute;) gracias al
											"de boca en boca" que surgi&oacute; una vez armada la misi&oacute;n.</span>
									</div>
									<div>
										<span>No puse a Rory porque me parece que ella puede decir que conoci&oacute; la
											misi&oacute;n gracias a Casie, ya que ella se uni&oacute; despu&eacute;s y pudo ser de las que se
											enteraron una vez que la misi&oacute;n estuvo armada. </span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<span>&iquest;Qu&eacute; les parece? Es mi idea, pero todav&iacute;a no empec&eacute; el fic
											as&iacute; que ustedes d&iacute;ganme y se har&aacute; lo que me pidan.<img
												src="../images/emwink.gif" width="19" height="19">
										</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<font color="#006699" face="Arial">
											<span class="negrita"><span class="cursiva"><span class="subrayado">Comandante
														Naya de Gin&oacute;bili.</span></span></span></span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 115 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Rory Black
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 23/03/2006 22:01</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<table class="noborder">
										<tbody>
											<tr height="100%">
												<td background="" valign="top" width="100%">
													<div>
														<span style="font-family: Geneva">Mmmm...podr&iacute;a ser...por mi parte puede ser que
															me haya unido, como dices Naya, gracias a Casie, quien como sab&iacute;a que al igual que ella
															siento un profundo amor por Sirius (en una forma totalmente distinta a ella, claro est&aacute;)
															me coment&oacute; lo de la misi&oacute;n y su objetivo...pero hay algo que no me cuadra en esa
															parte: se supone que Ginny es la Guardiana de los Secretos, por lo que s&oacute;lo ella puede
															decir algo sobre &eacute;sta. A menos que Casie me haya presentado con ella y despu&eacute;s de
															entrevistarme me haya dado la hubicaci&oacute;n...aunque para ser honestos me gustaba un poco
															m&aacute;s como cuadraba en la historia el que la General nos reclutara, pero bueno, es mi
															opini&oacute;n n_nU. De cualquier modo la idea de Naya tamib&eacute;n es bastante buena ^^.</span>
													</div>
													<div>
														<font>
															</span>&nbsp; 
													</div>
													<div>
														<font>
															Saludos.</span>
													</div>
													<div>
														<font color="#ff6699" size="4" face="Times New Roman, Times, Serif">
															<span class="negrita"><span class="cursiva">Rory Black. </span></span>
															<font color="#000000" face="Geneva">
																(tengo que pensar en una firma un d&iacute;a de estos &not;&not;U)</span></span>
													</div>
												</td>
											</tr>
											<tr>
												<td height="1">
													<div></div>
												</td>
											</tr>
										</tbody>
									</table></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 116 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 24/03/2006 0:31</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<span style="font-family: Geneva">S&iacute;, Rory, se supone que Ginny entrevista a las
												candidatas que quieran unirse una vez que se ha formado el grupo y, si son aceptadas, les indica
												la ubicaci&oacute;n del cuartel. De hecho, no dista mucho de lo que realmente ocurri&oacute; ya
												que habl&eacute; contigo antes de que te unieses, <img src="../images/emsmilep.gif" width="19"
													height="19">&nbsp;jejeje.
											</span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													<span style="font-family: Geneva">La idea de que Rory se uniera m&aacute;s tarde casa
														mejor con lo que ha ido ocurriendo en el grupo, porque realmente no ha estado en las otras
														ocasiones.&nbsp;Aunque eso&nbsp;no es impedimento para que se integre totalmente en el grupo, es
														cuesti&oacute;n de tiempo que conozca a las dem&aacute;s lo suficiente para coger confianza con
														ellas <img src="../images/emwink.gif" width="19" height="19">.
													</span></span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span>
												<div>
													<font face="Arial,Helvetica,Sans Serif">
														<span></span>&nbsp;</span>
												</div>
												<font face="Arial,Helvetica,Sans Serif">
													</span>
													<div>
														<font face="Arial,Helvetica,Sans Serif">
															<img src="../images/Ginny3.png" width="139" height="80">
															</span>
													</div>
													<font face="Arial,Helvetica,Sans Serif">
														</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 117 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Casie4194
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 24/03/2006 4:49</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											Bueno, de hecho, Cassandra no conoc&iacute;a a Rory, porque en uno de los mensajes de cuando se
											uni&oacute;, Casie la mir&oacute; sobresaltada y le pregunt&oacute; que qui&eacute;n era y
											qu&eacute; hac&iacute;a ah&iacute;. Quiz&aacute; s&oacute;lo hay que cuadrar detalles, porque,
											Cassandra no s&oacute;lo ser&iacute;a &uacute;til por ser una duquesa diplom&aacute;tica y mujer de
											alta sociedad y sirviera para despistar. Aunque es distra&iacute;da, tambi&eacute;n es una bruja
											poderosa.</span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													Tambi&eacute;n, seg&uacute;n algunas pl&aacute;ticas con la General, ella hab&iacute;a estado en
													Hogwarts y conoc&iacute;a a Sirius, James, Remus y Peter, por lo que, tambi&eacute;n pudo conocer
													a Cassandra porque ella estuvo estudiando ah&iacute; en ese tiempo, pero eso es la historia de la
													General y no s&eacute; si ella quiera que se quede as&iacute;. En fin, como dije, habr&aacute;
													que afinar algunas cosas. Esto tambi&eacute;n s&oacute;lo es una idea.</span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span>
												<div>
													<font face="Arial,Helvetica,Sans Serif">
														&nbsp;</span>
												</div>
												<font face="Arial,Helvetica,Sans Serif">
													</span>
													<div>
														<font face="Arial,Helvetica,Sans Serif">
															Besos</span>
													</div>
													<font face="Arial,Helvetica,Sans Serif">
														</span>
														<div>
															<font face="Arial,Helvetica,Sans Serif">
																&nbsp;</span>
														</div>
														<font face="Arial,Helvetica,Sans Serif">
															</span>
															<div>
																<font face="Arial,Helvetica,Sans Serif">
																	Casie</span>
															</div>
															<font face="Arial,Helvetica,Sans Serif">
																</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 118 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 24/03/2006 10:18</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">Bueno, no tengo mucho para decir, s&oacute;lo q pienso
											mejor que Rory se haya inclu&iacute;do despu&eacute;s porque, al hacer el fic las primeras partes
											ella no va a estar, en realidad es m&aacute;s real que la General la haya inclu&iacute;do
											despu&eacute;s, pero, como gusten.</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<span>Casie! Vamos, mujer no te me ofendas q no dije que no fueras poderosa, s&oacute;lamente
											que resalt&eacute; las caracter&iacute;sticas que nos distinguen. Si no fu&eacute;semos poderosas,
											la General no nos habr&iacute;a reclutado por m&aacute;s habilidades que tengamos en otras cosas.
											No creo que haya una integrante del VATAR m&aacute;s poderosa que la otra, creo que somos todas
											poderosas y listo. Por eso no lo puse, porke no hay diferencia, ah&iacute; somos todas iguales,
											marqu&eacute; las diferencias en habilidades.</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<span>Bueno, hagan como Casie, Ginny y Rory t&iacute;renme ideas que el fic es de todas, de
											acuerdo a lo que la mayor&iacute;a quiera lo vamos armando, &iquest;les parece?</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<font color="#006699" face="Arial">
											<span class="negrita"><span class="cursiva"><span class="subrayado">Comandante
														Naya de Gin&oacute;bili.</span></span></span></span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 119 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Casie4194
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 24/03/2006 20:37</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											&iexcl;Pues s&iacute;! &iexcl;Estoy ofendida! &iexcl;Haber insinuado que Cassandra es un coco
											hueco! &iexcl;Una Pendleton un coco hueco! &iexcl;Qu&eacute; esc&aacute;ndalo!</span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													Anda Naya, que no me he ofendido... &iquest;no?... vamos s&eacute; sincera contigo misma...
													<img src="../images/emsad.gif" width="19" height="19">
													... No, no estoy ofendida, realmente Naya s&oacute;lo estaba haciendo una breve
													descripci&oacute;n del porqu&eacute; hab&iacute;amos sido convocadas... &iexcl;No seas amarra
													navajas!</span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span>
												<div>
													<font face="Arial,Helvetica,Sans Serif">
														&nbsp;</span>
												</div>
												<font face="Arial,Helvetica,Sans Serif">
													</span>
													<div>
														<font face="Arial,Helvetica,Sans Serif">
															Lo he entendido mujer, s&oacute;lo me pareci&oacute; que deb&iacute;a hacer la menci&oacute;n.
															No problem.</span>
													</div>
													<font face="Arial,Helvetica,Sans Serif">
														</span>
														<div>
															<font face="Arial,Helvetica,Sans Serif">
																&nbsp;</span>
														</div>
														<font face="Arial,Helvetica,Sans Serif">
															</span>
															<div>
																<font face="Arial,Helvetica,Sans Serif">
																	Besos</span>
															</div>
															<font face="Arial,Helvetica,Sans Serif">
																</span>
																<div>
																	<font face="Arial,Helvetica,Sans Serif">
																		&nbsp;</span>
																</div>
																<font face="Arial,Helvetica,Sans Serif">
																	</span>
																	<div>
																		<font face="Arial,Helvetica,Sans Serif">
																			Casie</span>
																	</div>
																	<font face="Arial,Helvetica,Sans Serif">
																		</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 120 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 25/03/2006 4:48</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">Bueno che, a mi me pareci&oacute; q insinuabas que el resto
											era menos poderoso!!! jajajajajaja as&iacute; q tmb cre&iacute; q deb&iacute;a mencionarlo, jajaja,
											todo bien, aunq todav&iacute;a no entiendo esta frase&nbsp; "se sincera contigo misma" &iquest;?
											&iquest;eh? Jajajajajaja, bueh, en fin, es lo mismo, se entendi&oacute; la buena intenci&oacute;n!
											jajaja Bsooo! Aiozz!</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<font color="#006699" face="Arial">
											<span class="negrita"><span class="cursiva"><span class="subrayado">Comandante
														Naya de Gin&oacute;bili.</span></span></span></span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 121 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Buffy Ane Summers
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 25/03/2006 5:26</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									Casie:<br>Bueno, la General conocia a los Marauders de vista, por que digamos, cuando ella era
									un Sinior ellos (y tu) eran apenas unos crios en 3r a&ntilde;o, por mas alcanze que hallan tenido de
									popularidad en el colegio JAMAS llego a mis oidos, para ella ellos solo eran unos crios jugando a ser
									muy grandes.<br> <br>Igual la General no era como... el estudiandte del siglo, en ralidad
									no llegaba a estudiante promedio (y la respuesta del millon sera: como demonios se pudo graduar de
									Hogwarts?) Buee... tal vez cuando suba el ff se entienda mejor.<br> <br>By the way,
									ma'lady.. ya ya ya, q vas a hacer para eso, darnos el link d tu comu?... Mm... creo q me ire a
									entrarle a tu fic o a escribir al mio<br> <br>Adeus<br> <br>G Buffy Ane Summers</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>

<div class="paginadorMensajes">
	<div class="Command">
		<a href="javascript:primera();" title="Ir a los primeros 15 mensajes de esta discusi&oacute;n."><img
				src="../images/1arrow_back_1.gif" class="flechaNav">Primer</a>
	</div>
	<div class="Command">
		<a href="javascript:anterior();" title="Ir a los 15 mensajes anteriores de esta discusi&oacute;n."><img
				src="../images/1arrow_back_1.gif" class="flechaNav">Anterior</a>
	</div>
	<div class="ThmFgInactiveText actual">&nbsp;&nbsp;92 a 121 de 232&nbsp;&nbsp;</div>
	<div class="Command">
		<a href="javascript:siguiente()" title="Ir a los 15 mensajes siguientes">Siguiente<img
				src="../images/1arrow_forward_1.gif" class="flechaNav"></a>&nbsp;
	</div>
	<div class="Command">
		<a href="javascript:ultima()" title="Ir a los &uacute;ltimos 15 mensajes de esta discusi&oacute;n">&Uacute;ltimo<img
				src="../images/1arrow_forward_1.gif" class="flechaNav"></a>&nbsp;
	</div>
</div>