<input type="hidden" id="primera" value="perfiles/perfiles01.html" />
<input type="hidden" id="anterior" value="perfiles/perfiles02.html" />
<input type="hidden" id="siguiente" value="perfiles/perfiles04.html" />
<input type="hidden" id="ultima" value="perfiles/perfiles08.html" />
<div class="paginadorMensajes">
	<div class="Command">
		<a href="javascript:primera();" title="Ir a los primeros 15 mensajes de esta discusi&oacute;n."><img
				src="../images/1arrow_back_1.gif" class="flechaNav">Primer</a>
	</div>
	<div class="Command">
		<a href="javascript:anterior();" title="Ir a los 15 mensajes anteriores de esta discusi&oacute;n."><img
				src="../images/1arrow_back_1.gif" class="flechaNav">Anterior</a>
	</div>
	<div class="ThmFgInactiveText actual">&nbsp;&nbsp;62 a 91 de 232&nbsp;&nbsp;</div>
	<div class="Command">
		<a href="javascript:siguiente()" title="Ir a los 15 mensajes siguientes">Siguiente<img
				src="../images/1arrow_forward_1.gif" class="flechaNav"></a>&nbsp;
	</div>
	<div class="Command">
		<a href="javascript:ultima()" title="Ir a los &uacute;ltimos 15 mensajes de esta discusi&oacute;n">&Uacute;ltimo<img
				src="../images/1arrow_forward_1.gif" class="flechaNav"></a>&nbsp;
	</div>
</div>

<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 62 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>

		</tr>

		<tr class="ThmBgHighlightLight">

			<td colspan="2" width="100%"><table class="msgDeEnviado">

					<tbody>

						<tr>

							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>

										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Rory Black
									</nobr>

									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 15/03/2006 2:27</span></td>

						</tr>

					</tbody>

				</table>
				<table class="ThmBgStandard">

					<tbody>

						<tr>

							<td><font face="Arial,Helvetica,Sans Serif">

									<div>

										<span style="font-family: Geneva">Wow 18, &iexcl;&iexcl;&iexcl;felicidades Naya!!!, y gracias
											por la aclaraci&oacute;n, ahora mismo lo modifico (como que estoy medio confundida n_nU, demasiados
											ex&aacute;menes y demasiada presi&oacute;n&nbsp;<img src="../images/emcrook.gif" width="19"
												height="19">, o de plano ya me desquisi&eacute; XD).
										</span>

									</div>
									<div>&nbsp;</div>

									</span></td>

						</tr>

					</tbody>

				</table></td>

		</tr>

	</tbody>

</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 63 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 15/03/2006 2:28</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										Ejem, Naya, si miras en el SBFC ver&aacute;s que te felicit&eacute; antes de que pusieras nada
										<img src="../images/emsmilep.gif" width="19" height="19">
										&nbsp;(y no me pod&iacute;a conectar porque me iba&nbsp; ala cama, pero me ha podido la curiosidad y
										hevuelto, aunque no por mucho)
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 64 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Cookie
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 15/03/2006 2:40</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>Ya cumpliss 18??.. wowww.</div>
									<div>Rory niniaaa una muchachita de casi mi edad ( sos un a&ntilde;ito mas que iioo...)</div>
									<div>&nbsp;</div>
									<div>Ah modifique mii perfil... y agregue mi nuevo look</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 65 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 15/03/2006 2:49</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">Cookie, yo si, ya cumplo los 18 ma&ntilde;ana!! Rory tiene
											15, &iquest;no?</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<font color="#006699" face="Arial">
											<span class="negrita"><span class="cursiva"><span class="subrayado">Comandante
														Naya de Gin&oacute;bili.</span></span></span></span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 66 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Cookie
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 15/03/2006 2:59</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>Seeep....</div>
									<div>wennnn... vas a esperar hasta las doce??!!</div>
									<div>&nbsp;</div>
									<div>&nbsp;Cookieiie... ma&ntilde;ana matematicss con la loca de la feliii.. vieja de meeer
										pensar que la tuvo mi maam y la bochooo</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 67 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 16/03/2006 21:04</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>Tengo una duda, en la &eacute;poca de Harry, &iquest;cu&aacute;ntas personas hab&iacute;a
										de Argentina, M&eacute;xico o Costa Rica en Hogwarts? &iquest;No os parece algo raro? Digo, vale que
										Casie estudiase all&iacute;, al fin y al cabo es inglesa, pero &iquest;y las dem&aacute;s? En fin,
										yo lo dejo ah&iacute; pa que pens&eacute;is...</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 68 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 16/03/2006 23:42</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">Yo no taba en la &eacute;poca de Harry, creo, a ver, yo
											ahora supuestamente cumplo los "26", y Harry cumple los... 17, &iquest;no?, entonces yo no estaba,
											yo estuve en la &eacute;poca de charlie y bill me parece.</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<font color="#006699" face="Arial">
											<span class="negrita"><span class="cursiva"><span class="subrayado">Comandante
														Naya de Gin&oacute;bili.</span></span></span></span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 69 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 16/03/2006 23:56</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											A ver, si Harry existiese cumplir&iacute;a en julio 26 a&ntilde;os (31 julio pili), o sea, que eres
											exactamente de la quinta de Harry. De todas formas, no lo dec&iacute;a por eso (ya s&eacute; que se
											supone que Harry es a&uacute;n adolescente), mencion&eacute; la &eacute;poca de Harry como ejemplo
											de que los ni&ntilde;os y ni&ntilde;as que all&iacute; estudian son todos brit&aacute;nicos, no hay
											alumnos de intercambio ni nada, y seg&uacute;n vuestros perfiles todas fuisteis a Hogwarts
											a&uacute;n viviendo en la otra punta del mundo. &iquest;Es que es el &uacute;nico colegio de magia
											que existe o qu&eacute;? Eso es lo que quer&iacute;a hacer notar, que me parece que podr&iacute;ais
											hacer volar un ratito la imaginaci&oacute;n e inventar alg&uacute;n otro colegio, en Argentina, por
											ejemplo, ya que sois tres, o en M&eacute;xico, o en Costa Rica... Pero bueno, es s&oacute;lo una
											opini&oacute;n.</span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 70 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 17/03/2006 0:07</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">Es q yo qr&iacute;a ir a Hogwarts <img
												src="../images/emsmiled.gif" width="19" height="19">. Jaajajajaja, si, yo tmb lo
											pens&eacute;, pero dije: no importa, es Hogwarts, ficci&oacute;n, listo, fui alumna de Hogwarts!
											jajajajaja Uso un traslador y fue! jajajaja
										</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<font color="#006699" face="Arial">
											<span class="negrita"><span class="cursiva"><span class="subrayado">Comandante
														Naya de Gin&oacute;bili.</span></span></span></span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 71 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Casie4194
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 17/03/2006 2:38</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											Bueno, quiz&aacute; ni al caso mi comentario, porque, como muy atinadamente dijo Ginny, Cassandra
											era inglesa y hab&iacute;a asistido al colegio en la &eacute;poca de James, Sirius, Remus, Peter y
											Lily. Pero, debo decirles que aqu&iacute; en M&eacute;xico, existe un lugar de donde se supone,
											vienen muchos brujos o chamanes. Este lugar se encuentra en Veracruz y se llama Catemaco. Es un
											lugar precioso, lleno de vegetaci&oacute;n, monta&ntilde;as y un hermoso lago. Se le conoce como el
											lugar de los brujos, as&iacute; que, la que quiera, puede decir que viene de ah&iacute;, porque
											realmente existe. &iquest;El colegio? Bueno, creo que podr&iacute;a investigar alg&uacute;n nombre
											en la lengua de ah&iacute;, creo que es la totonaca, pero, no me crean mucho. Dej&eacute; de leer
											historia de M&eacute;xico hace rato y ya no recuerdo bien las diferentes culturas que hab&iacute;a
											(y en algunos lugares todav&iacute;a hay) en M&eacute;xico. Pero luego se los digo.</span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													Besos</span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span>
												<div>
													<font face="Arial,Helvetica,Sans Serif">
														&nbsp;</span>
												</div>
												<font face="Arial,Helvetica,Sans Serif">
													</span>
													<div>
														<font face="Arial,Helvetica,Sans Serif">
															Casie</span>
													</div>
													<font face="Arial,Helvetica,Sans Serif">
														</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 72 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Buffy Ane Summers
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 17/03/2006 3:28</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									Buee... segun el personaje d Buffy (see, se q es unn selfincert, pero q se le va a a hacer?) sus
									padres adoptivos son muggles ingleses, hice en el cambio para el perfiel por q bue.. en realidad no
									se por q, pero en teoria Buffy es inglesa, por eso fue a Hogwarts.<br> <br>De todos modos
									en mi perfil dice q de peque&ntilde;a se fueron a vivir a Londres, asi q esa es la razon del colegio.<br>
									<br>Con lo de las epocas, nee, toy lejos d la de Harry, no? XP La General esta 4 generaciones x
									encima d los marauders.<br> <br>G Buffy Ane Summers</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 73 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Andrella-de-Alfehim
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 17/03/2006 3:42</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<span style="font-family: Geneva">Rory!! Gusto de conocerte. Lamento no haberte saludado
												antes _ _<span style="font-size: 10px">sorry...</span>
											</span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												<span style="font-family: Geneva">Voy a aventurarme a preguntar... &iquest;te gusta ver
													Gilmore Girls? &iexcl;Porque a m&iacute; me encanta! jejeje. <img src="../images/emsmilep.gif"
														width="19" height="19">&nbsp;Lo digo por tu nombre.&nbsp;Un saludo.
												</span></span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													<span></span>&nbsp;</span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span>
												<div align="right">
													<font face="Arial,Helvetica,Sans Serif">
														<font color="#009900" size="4" face="Courier New, Courier, Monospace">
															<span class="negrita">Andrella de Alfehim</span></span></span>
												</div>
												<font face="Arial,Helvetica,Sans Serif">
													</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 74 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Buffy Ane Summers
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 17/03/2006 3:48</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									Buee.. conver off topic, solo q estoy asombrada: Se han dado cuenta q estamos juves y ya tenemos 100
									mensajes posteados en la comu?<br> <br>Buee.. 101 con el mio!<br> <br>Felicidades
									a Todas, revivimos el VATAR! XD<br> <br>G Buffy Ane Summers</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 75 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Andrella-de-Alfehim
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 17/03/2006 3:53</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<span style="font-family: Geneva">Ah! Por cierto Naya, gracias por ayudarme con la doll. Sin
												el fondo est&aacute; bien, te lo agradezco. Y tienen raz&oacute;n, est&aacute; raro que todas
												fueran a Hogwarts jeje. Aunque Andrella es de alguna parte del norte de Europa (Alfehim
												est&aacute; bien escondido je <img src="../images/emsmilep.gif" width="19" height="19">).
												Pero record&eacute; que antes ve&iacute;a un programa que no recuerdo bien, pero creo que se
												llamaba "La bruja desastrosa" o algo as&iacute;. Ah&iacute; mencionaban un colegio, no recuerdo
												como se escrib&iacute;a el nombre, pero he modificado mi perfil y ahora en vez de Hogwarts,
												est&aacute; ese nombre.
											</span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div align="right">
												<font face="Arial,Helvetica,Sans Serif">
													<font color="#009900" size="4" face="Courier New, Courier, Monospace">
														<span class="negrita">Andrella de Alfehim&nbsp;&nbsp;</span></span></span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 76 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Rory Black
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 17/03/2006 4:17</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">Hola Andrella, tambi&eacute;n es un gusto conocerte a
											t&iacute; y a las dem&aacute;s, perdona no haber posteado antes pero no estaba en mi casa n_nU.</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<span>S&iacute;, a m&iacute; tambi&eacute;n me fascina Gilmore Girls, es de mis dos series
											favoritas (la otra es Smallville), por eso el nombre, jeje. Saludos a t&iacute; tambi&eacute;n, y
											de nuevo, un gusto conocerlas chicas.</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div align="left">
										<span>A. Rory Black.</span>
									</div>
									<div align="left">
										<hr>
									</div>
									<p>
										<span style="font-family: Geneva">Otra cosa que siento me han estado preguntando, la
											m&aacute;s reciente fue Casie, mi parentesco Black (seg&uacute;n mis nervios <img
												src="../images/emsmilep.gif" width="19" height="19">) es que soy la prima hermana de Sirius,
											es decir, no s&eacute; cuantas de ustedes tengan la imagen del &aacute;rbol geneal&oacute;gico de
											la Noble y Ansestral Casa de los Black (y francamente no recuerdo de d&oacute;nde lo saqu&eacute;),
											pero de todos modos lo voy a adjuntar, cuando lo vean, se dar&aacute;n cuenta que en el cuadro hay
											peque&ntilde;os numeritos, y si buscan el 5 ver&aacute;n que est&aacute; tachado, pues bien,
											&eacute;se tachado vendr&iacute;a siendo hermano del padre de Sirius y del de Bellatrix y Narcissa,
											y &eacute;se (repito, seg&uacute;n mi imaginaci&oacute;n), es mi padre.
										</span>
									</p>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>

<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 77 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Rory Black
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 17/03/2006 4:21</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span>Vaya, no se adjunt&oacute; <img src="../images/emcrook.gif" width="19" height="19">&nbsp;(o
											por lo menos a&uacute;n no, no s&eacute; c&oacute;mo funcione esto, no hab&iacute;a ajuntado nada
											antes n_nU), bueno, mejor lo publico (no estoy segura, pero creo que lo encontr&eacute; en el SBFC,
											Ginny, &iquest;me lo podr&iacute;as confirmar por favor?).
										</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<div align="center">
											<img src="../images/arbolblack.jpg" width="750" height="454">
											&nbsp;
										</div>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgDivider">
			<td colspan="3"></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 78 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Casie4194
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 17/03/2006 5:44</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>&iexcl;Oh! &iexcl;Una cu&ntilde;ada!... por lo menos una que valga la pena, porque
										Bellatrix y Narcisa, &iexcl;Niaj!. Entonces t&uacute; tambi&eacute;n eres Black por l&iacute;nea
										directa &iquest;eh? Bien, ya tendremos alguna reuni&oacute;n familiar. Porque ahora, qui&eacute;n
										sabe lo que estar&aacute; pasando mi pobre Ginny... ojal&aacute; y regrese con &aacute;nimos para
										seguir escogiendo los vestidos de las damas de honor y organizando la despedida y...</div>
									<div>&nbsp;</div>
									<div>Todas - &iexcl;Cassandra!</div>
									<div>&nbsp;</div>
									<div>S&oacute;lo fue un comentario. Bienvenida querida Rory</div>
									<div>&nbsp;</div>
									<div>Besos</div>
									<div>&nbsp;</div>
									<div>Casie</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td><a class="Command"><img src="../images/recommend.gif" align="middle" border="0" width="16"
										height="16">Recomendar</a> <font size="1" face="Arial,Helvetica,Sans Serif">
									(1 recomendaci&oacute;n hasta el momento)</span></td>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 79 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Buffy Ane Summers
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 17/03/2006 5:48</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									Andrella:<br> <br>No era La Peor Bruja? (The Worst witch) Una serie q era ingles, yo la
									vaia hace unos a&ntilde;os, no recuerdo el nombre de la principal, recuerdo q Enid Sombra XD... no se
									por q, despues sakron la srgunda saga q es La Peor Bruja: La Facultad Avra Kadavra (The worts witch:
									The Wirdy Sister COllege) *Boffy enamorada d Nick Hopes XD*<br> <br>http://www.galafilm.com/galafilm/e/tv/worst_witch.php,
									ese es un link del programa, esta en ingles, es q me quede con la duda XP<br> <br>G Buffy
									Ane Summers</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 80 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Cookie
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 17/03/2006 17:37</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>Sii yo tambiien veia esa serie.., la principal es mildred embrollo no se si mildred esta
										biien xD</div>
									<div>Besooo</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 81 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Andrella-de-Alfehim
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 17/03/2006 23:33</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">Jajaja, bueno General, tiene usted raz&oacute;n! &Eacute;se
											es el nombre. Es que creo que ya hab&iacute;a dicho que hac&iacute;a mucho que no ve&iacute;a la
											serie, as&iacute; que no me acordaba bien. Y gracias por recordarme el nombre de la facultad, lo
											hab&iacute;a olvidado; aunque tambi&eacute;n v&iacute; esa segunda parte. Tal vez tambi&eacute;n
											use ese nombre...</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div align="right">
										<span class="negrita"><font color="#009900" size="4" face="Courier New, Courier, Monospace">Andrella
												de Alfehim</span></span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 82 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 18/03/2006 9:54</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">Bueno a mi perfil le cambie tonter&iacute;as, pero se las
											cambi&eacute;, jajaja, le puse q Naya trabaj&oacute; en el Ministerio de Argentina, en vez del
											ingl&eacute;s, q eso s&iacute; me pareci&oacute; era muy est&uacute;pido, je, tambi&eacute;n le
											cambi&eacute; la letra por una q me encanta, la re amo a esta letra! jajaja y los colores q ya me
											hab&iacute;an aburrido, jajaja! Bueno, eso! Aiozz!! (Como dir&iacute;a Ginny, jaja)</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<font color="#006699" size="6" face="inkburrow">
											<span class="subrayado">Comandante Naya de Gin&oacute;bili.</span></span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 83 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 18/03/2006 14:56</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											Yo he cambiado las dolls, una con el uniforme del colegio de Ginny y a la otra la expresi&oacute;n.
											Na, chorr&aacute;s, pero me gusta c&oacute;mo me ha quedao la colegiala
											<img src="../images/emteeth.gif" width="19" height="19">
											</span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 84 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Leonita1981
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 18/03/2006 15:03</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>Ginny, te ha quedado muy chula. Yo tambi&eacute;n he a&ntilde;adido una doll con el
										uniforme del colegio que me diste(gracias de nuevo)&nbsp;aunque no s&eacute; si la dejar&eacute;
										donde est&aacute; o la mover&eacute; y le a&ntilde;adir&eacute; algo</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 85 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 18/03/2006 20:57</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<span style="font-family: Geneva">Bueno, gracias a que Ginny me lo ha hecho notar pude ver
												que ustedes no pueden ver la letra bien de mi perfil simplemente porke es bajada de internet, me
												la pas&oacute; una amiga. As&iacute; q se las dejo en documentos, para q la bajen, si quieren y
												podr&aacute;n ver mi perfil con la letra que corresponde <img src="../images/emteeth.gif"
													width="19" height="19">. Bsoooooooooo!!
											</span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												<span></span>&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													<span>Ah bueh! Ginny creo q ya t lo dije por chat, pero lo vuelvo a poner, si voy a
														cambiar mi colegio y me parece una buena idea poner una page dando caracter&iacute;sticas de
														cada colegio, inventar&eacute; el de Argentina! <img src="../images/emwink.gif" width="19"
															height="19">
													</span></span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span>
												<div>
													<font face="Arial,Helvetica,Sans Serif">
														<span></span>&nbsp;</span>
												</div>
												<font face="Arial,Helvetica,Sans Serif">
													</span>
													<div>
														<font face="Arial,Helvetica,Sans Serif">
															<font color="#006699" face="Arial">
																<span class="negrita"><span class="cursiva"><span class="subrayado">Comandante
																			Naya de Gin&oacute;bili.</span></span></span></span></span>
													</div>
													<font face="Arial,Helvetica,Sans Serif">
														</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 86 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 19/03/2006 0:08</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<span style="font-family: Geneva">Bueno ya est&aacute; sub&iacute; la letra y cambi&eacute;
												el colegio, ahora fui a Morgana (Academia Morgana de Hechicer&iacute;a), colegio de renombre en
												Argentina... y famoso por ense&ntilde;ar mucho sobre artes oscuras, tiene la mala fama de
												Durmstrang, pero en latinoam&eacute;rica digamos, lo cierto es que el nombre... lo indica todo,
												pero de eso... shhh... no se habla. <img src="../images/emwink.gif" width="19" height="19">
											</span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												<span></span>&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													<font color="#006699" face="Arial">
														<span class="negrita"><span class="cursiva"><span class="subrayado">Comandante
																	Naya de Gin&oacute;bili.</span></span></span></span></span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 87 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Cookie
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 19/03/2006 0:21</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>che... yo me pongo el mismo cole q vs o me invento uno...</div>
									<div>Cookie..</div>
									<div>fiacosidad al maximoo</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 88 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 19/03/2006 4:23</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											Jeje, Naya, a&uacute;n te falta pr&aacute;ctica en esto de ser admi, lo suyo es poner el enlace a
											la descarga
											<img src="../images/emwink.gif" width="19" height="19">
											. Pa bajarse la letra, click <a target="_top"
												href="http://es.msnusers.com/misionvatar/Documentos/inkburro.ttf">aqu&iacute;</a>.</span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 89 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Cookie
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 19/03/2006 5:09</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>Me encanta esa letra Naya!!</div>
									<div>Esta barbieee xD</div>
									<div>Besotee</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 90 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 19/03/2006 23:05</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									</span>
									<div>
										<font face="Arial,Helvetica,Sans Serif">
											<span style="font-family: Geneva">Primero: Una aclaraci&oacute;n que ahora mismo la hago en
												mi perfil, cuando digo de "renombre" no estoy refiri&eacute;ndome a que el colegio tenga buena
												fama. S&eacute; que me expres&eacute; mal y por eso pido disculpas ahora voy a cambiar la frase.
												Quiero decir q es muy nombrado por tener mala fama. Tiene pocos alumnos para lo que es un colegio
												normal de magia, se inclina por las artes oscuras y de all&iacute; han salido muchos magos
												tenebrosos. A los padres de Naya les atra&iacute;an dichas artes y ella misma, con el tiempo,
												desarroll&oacute; el mismo gusto. Lo malo es que all&iacute; iban muchos "sangre puras" q la
												discriminaban por ser mestiza por lo que tuvo pocos amigos all&iacute; y aprendi&oacute; a
												defenderse de los sangre pura al estilo Malfoy, aunque la gran mayor&iacute;a de veces, las
												agresiones le resbalaban. </span></span>
									</div>
									<font face="Arial,Helvetica,Sans Serif">
										</span>
										<div>
											<font face="Arial,Helvetica,Sans Serif">
												<span></span>&nbsp;</span>
										</div>
										<font face="Arial,Helvetica,Sans Serif">
											</span>
											<div>
												<font face="Arial,Helvetica,Sans Serif">
													<span>Ahora s&iacute;, Cookie por m&iacute; es igual, s&oacute;lo que t aviso, el colegio
														tiene mala fama, tiene lujos, pero no es Beuxbatons. No debe haber muchos colegios por
														pa&iacute;s, supongo q como mucho habr&aacute; 2, pero no s&eacute;! Queda en la
														imaginaci&oacute;n de cada una. Pod&eacute;s inventar otro que se tire m&aacute;s a otra rama,
														pero si qr&eacute;s por m&iacute; es lo mismo! <img src="../images/emwink.gif" width="19"
															height="19">&nbsp;Toy inventando el uniforme, pr&oacute;ximamente... una doll con
														uniforme... jajajaja y dsp t paso las cosas as&iacute; tn&eacute;s el mismo uniforme, en caso de
														que decidas estar en Morgana, claro.
													</span></span>
											</div>
											<font face="Arial,Helvetica,Sans Serif">
												</span>
												<div>
													<font face="Arial,Helvetica,Sans Serif">
														<span></span>&nbsp;</span>
												</div>
												<font face="Arial,Helvetica,Sans Serif">
													</span>
													<div>
														<font face="Arial,Helvetica,Sans Serif">
															<span>Ginny... jajajajaja buehh!! S&iacute; me falta un poco de pr&aacute;ctica, pero
																bueh, me re olvid&eacute; de poner el link, gracias! :D </span></span>
													</div>
													<font face="Arial,Helvetica,Sans Serif">
														</span>
														<div>
															<font face="Arial,Helvetica,Sans Serif">
																<span></span>&nbsp;</span>
														</div>
														<font face="Arial,Helvetica,Sans Serif">
															</span>
															<div>
																<font face="Arial,Helvetica,Sans Serif">
																	<span>Q bueno q t guste la letra, sigue siendo mi preferida aunque ahora voy a ver "un
																		par" q me pas&oacute; cierta admi... jajajaja <img src="../images/emsmilep.gif" width="19"
																			height="19">
																	</span></span>
															</div>
															<font face="Arial,Helvetica,Sans Serif">
																</span>
																<div>
																	<font face="Arial,Helvetica,Sans Serif">
																		<span></span>&nbsp;</span>
																</div>
																<font face="Arial,Helvetica,Sans Serif">
																	</span>
																	<div>
																		<font face="Arial,Helvetica,Sans Serif">
																			<font color="#006699" face="Arial">
																				<span class="negrita"><span class="subrayado"><span class="cursiva">Comandante
																							Naya de Gin&oacute;bili.</span></span></span></span></span>
																	</div>
																	<font face="Arial,Helvetica,Sans Serif">
																		</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="../images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">
									&nbsp;Mensaje 91 de 232 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									De:
									<nobr>
										<img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">
										Andrella-de-Alfehim
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">
									Enviado: 20/03/2006 17:52</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font face="Arial,Helvetica,Sans Serif">
									<div>
										<span style="font-family: Geneva">Querida Naya! Vais a tener que disculparme. Tuve que
											cambiar la doll de Andrella con el uniforme, pues cambi&eacute; el nombre de la escuela y por lo
											tanto, le tuve que inventar uno nuevo. Espero que no te moleste. Saludos.</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div align="right">
										<font color="#009900" size="4" face="Courier New, Courier, Monospace">
											<span class="negrita">Andrella de Alfehim</span></span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>

<div class="paginadorMensajes">
	<div class="Command">
		<a href="javascript:primera();" title="Ir a los primeros 15 mensajes de esta discusi&oacute;n."><img
				src="../images/1arrow_back_1.gif" class="flechaNav">Primer</a>
	</div>
	<div class="Command">
		<a href="javascript:anterior();" title="Ir a los 15 mensajes anteriores de esta discusi&oacute;n."><img
				src="../images/1arrow_back_1.gif" class="flechaNav">Anterior</a>
	</div>
	<div class="ThmFgInactiveText actual">&nbsp;&nbsp;62 a 91 de 232&nbsp;&nbsp;</div>
	<div class="Command">
		<a href="javascript:siguiente()" title="Ir a los 15 mensajes siguientes">Siguiente<img
				src="../images/1arrow_forward_1.gif" class="flechaNav"></a>&nbsp;
	</div>
	<div class="Command">
		<a href="javascript:ultima()" title="Ir a los &uacute;ltimos 15 mensajes de esta discusi&oacute;n">&Uacute;ltimo<img
				src="../images/1arrow_forward_1.gif" class="flechaNav"></a>&nbsp;
	</div>
</div>