<input type="hidden" id="primera" value="bienvenidas/bienvenidas01.html" />
<input type="hidden" id="anterior" value="bienvenidas/bienvenidas02.html" />
<input type="hidden" id="siguiente" value="bienvenidas/bienvenidas03.html" />
<input type="hidden" id="ultima" value="bienvenidas/bienvenidas03.html" />
<div class="paginadorMensajes">
	<div class="Command">
		<a href="javascript:primera();" title="Ir a los primeros 15 mensajes de esta discusi&oacute;n."><img
				src="/vatar/images/1arrow_back_1.gif" class="flechaNav">Primer</a>
	</div>
	<div class="Command">
		<a href="javascript:anterior();" title="Ir a los 15 mensajes anteriores de esta discusi&oacute;n."><img
				src="/vatar/images/1arrow_back_1.gif" class="flechaNav">Anterior</a>
	</div>
	<div class="ThmFgInactiveText actual">&nbsp;&nbsp;62 a 78 de 78&nbsp;&nbsp;</div>
	<div class="ThmFgInactiveText">
		Siguiente
		<img src="/vatar/images/1arrow_forward_1.gif" class="flechaNav">
		&nbsp;
	</div>
	<div class="ThmFgInactiveText">
		&Uacute;ltimo
		<img src="/vatar/images/1arrow_forward_1.gif" class="flechaNav">
		&nbsp;
	</div>
</div>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 62 de 78 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" class="imgNick">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Danielle_DeLionzee
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 28/06/2005 5:59</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									<table class="noborder">
										<tbody>
											<tr height="100%">
												<td background="" valign="top" width="100%" height="250">
													<p>
														<font face="Times New Roman, Times, Serif">
															La Sargento Danielle entra a la sala donde se encuentra el resto, y se dirige a las ahi
															presentes.</span>
													</p>
													<p>
														<font face="Times New Roman, Times, Serif">
															- Buenas noches - le sonrie forzadamente a Black y sigue con tono serio - quisiera informarles
															que las reuniones efectivamente se reanudaran apartir de hoy, pasen a la sala de reuniones,
															y...Se&ntilde;or Black, me han delegado el plaser de sacarlo, asi que por favor
															-&nbsp;la&nbsp;licantropo&nbsp;se&ntilde;ala con la mano la salida - Ah! y agente Naya, cuando
															sea la reunion al menos por el momento no comente nada de su trabajo ni los que laboran ahi...
															que podria perecer alguien "y nadie quiere que eso pase" - sonrisa ironica - ahora,
															se&ntilde;or Black... I need to kick you out</span>
													</p>
													<p align="center">
														<span style="font-family: Times New Roman"><span class="cursiva">Danielle de
																Lionzee</span></span>
													</p>
													<p align="center">
														<span style="font-family: Times New Roman"><span class="cursiva">Proud to be your
																nightmare</span></span>
													</p>
													<p>&nbsp;</p>
													<div></div>
												</td>
											</tr>
											<tr>
												<td height="1">
													<div></div>
												</td>
											</tr>
										</tbody>
									</table></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 63 de 78 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" class="imgNick">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 28/06/2005 14:26</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									<div>
										<span style="font-family: Geneva">No, Sirius, no es necesario que te vayas, puedes quedarte
											pero no puedes ir a la sala de reuniones. Sargento, no entiendo la tirria que le tiene a Sirius,
											&iquest;no sabe aceptar una broma? &Eacute;l puede quedarse en el jard&iacute;n mientras estamos en
											la reuni&oacute;n.</span>
									</div>
									<div>&nbsp;</div>
									<div>
										<span style="font-family: Geneva"><img src="/vatar/images/Ginny3.png" width="139" height="80">&nbsp;</span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 64 de 78 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" class="imgNick">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 28/06/2005 18:33</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									</span>
									<div>
										<font>
											(Antes que nada, me pusieron internet en casa!! asi q puedo estar todo el tiempo que quiera
											conectada!! mientras, claro, no descuide el colegio... claro... sisisisi... en fin, estoy muy
											feliz).</span>
									</div>
									<font>
										</span>
										<div>
											<font>
												&nbsp;</span>
										</div>
										<font>
											</span>
											<div>
												<font>
													- Justo cuando empezaba a sentir ganas de nadar - <span class="cursiva">exclama un tanto,
														decepcionada la agente Naya</span></span>
											</div>
											<font>
												</span>
												<div>
													<font>
														<span class="cursiva">- </span>No te preocupes, ya habr&aacute; tiempo para nadar, tengo la
														impresion de que la ola de calor seguira -<span class="cursiva">la teniente es
															interrumpida abruptamente por Sirius</span></span>
												</div>
												<font>
													</span>
													<div>
														<font>
															- ... y seguira... y seguira... y va a seguir siguiendo... aaaaa... - <span class="cursiva">Sirius
																mira al cielo implorando un poco de viento, aunque mas no sea una simple brisa, pero el clima
																parece no prestarle atencion: durante la hroa siguiente aumento 5 grados la temperatura y las
																agentes no pueden con su alma...</span></span>
													</div>
													<font>
														</span>
														<div>
															<font>
																N - Alguien sabe precisamente cuando son las reuniones? -</span>
														</div>
														<font>
															</span>
															<div>
																<font>
																	G - Creo q son ahora -</span>
															</div>
															<font>
																</span>
																<div>
																	<font>
																		N - Ah - </span>
																</div>
																<font>
																	</span>
																	<div>
																		<font>
																			&nbsp;</span>
																	</div>
																	<font>
																		</span>
																		<div>
																			<font>
																				<span class="cursiva">La agente y teniente, ni se inmutan, "no puedo pararme" es la
																					excusa de Ginny, Naya la iguala con un "yo tampoco" hasta que la Sargento Danielle entra
																					en el lugar y las ve tomando sol tranquilamente</span></span>
																		</div>
																		<font>
																			</span>
																			<div>
																				<font>
																					&nbsp;</span>
																			</div>
																			<font>
																				</span>
																				<div>
																					<font>
																						- PERO QUE HACEN!!?? LAS ESTUVE BUSCANDO POR TODAS PARTES!! La reunion es ahora y es una
																						orden de la general que vengan enseguida.</span>
																				</div>
																				<font>
																					</span>
																					<div>
																						<font>
																							N y G - A la orden de la general! -</span>
																					</div>
																					<font>
																						</span>
																						<div>
																							<font>
																								&nbsp;</span>
																						</div>
																						<font>
																							</span>
																							<div>
																								<font>
																									<span class="cursiva">Aunque agotadas y con calor, se levantan, Sirius las
																										saluda y se queda en la pileta.</span></span>
																							</div>
																							<font>
																								</span>
																								<div>
																									<font>
																										&nbsp;</span>
																								</div>
																								<font>
																									</span>
																									<div>
																										<font>
																											Naya de Gin&oacute;bili.</span>
																									</div>
																									<font>
																										</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 65 de 78 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" class="imgNick">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Casie4194
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 28/06/2005 19:20</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									</span>
									<div>
										<font>
											(Sirius ve irse a la Teniente Ginny y la agente Naya, mientras la Sargento Danielle, sin decir una
											palabra, le se&ntilde;ala la salida con gesto de "si no te vas te arreo una patada en el trasero".
											Sirius deja la cerveza de mantequilla y sonr&iacute;e con cinismo)</span>
									</div>
									<font>
										</span>
										<div>
											<font>
												&nbsp;</span>
										</div>
										<font>
											</span>
											<div>
												<font>
													Sirius - S&iacute;, ya me voy, ya me voy... manita... realmente tu mano es muy servicial, igual
													platica contigo que baila y hasta se&ntilde;ala la salida (Sirius le toma el dedo &iacute;ndice a
													la Sargento y se lo agita vigorosamente a manera de despedida) Fue un gusto volver a verte...
													manita, cuida a tu ama, en una de esas te mete en problemas (Sirius se acerca la mano a la boca y
													la murmura) <span class="cursiva">Se ve que tiene un car&aacute;cter de los mil demonios.</span></span>
											</div>
											<font>
												</span>
												<div>
													<font>
														&nbsp;</span>
												</div>
												<font>
													</span>
													<div>
														<font>
															(Sirius sale del castillo carcaje&aacute;ndose burlonamente y se va. La Sargento est&aacute;
															que echa chispas por los ojos y con paso marcial se va rumbo al sal&oacute;n de juntas)</span>
													</div>
													<font>
														</span>
														<div>
															<font>
																&nbsp;</span>
														</div>
														<font>
															</span>
															<div>
																<font>
																	(La Teniente Casie entra apresuradamente al sal&oacute;n de juntas y toma asiento en su
																	lugar) Disculpen la tardanza, tuve que ir al Ministerio antes de llegar aqu&iacute;, llamada
																	urgente, ustedes saben. Fudge no puede resolver ni el m&aacute;s peque&ntilde;o de los
																	problemas, pero bueno, ya estoy aqu&iacute;.</span>
															</div>
															<font>
																</span>
																<div>
																	<font>
																		&nbsp;</span>
																</div>
																<font>
																	</span>
																	<div>
																		<font>
																			(La Teniente mira a la Sargento Danielle y frunce el ce&ntilde;o, luego se acerca a la
																			Teniente Ginny y en voz baja le pregunta) &iquest;Le pas&oacute; algo a la Sargento? Se ve
																			de mal humor... &iquest;Es porque no han llegado las dem&aacute;s?</span>
																	</div>
																	<font>
																		</span>
																		<div>
																			<font>
																				&nbsp;</span>
																		</div>
																		<font>
																			</span>
																			<div>
																				<font>
																					(La Teniente Ginny se encoge de hombros y saca la orden del d&iacute;a)</span>
																			</div>
																			<font>
																				</span>
																				<div>
																					<font>
																						&nbsp;</span>
																				</div>
																				<font>
																					</span>
																					<div>
																						<font>
																							Lady Cassandra Pendleton</span>
																					</div>
																					<font>
																						</span>
																						<div>
																							<font>
																								Duquesa de Strafford y Teniente del grupo V.A.T.A.R.</span>
																						</div>
																						<font>
																							</span>
																							<div>
																								<font>
																									(Casie para los amigos)</span>
																							</div>
																							<font>
																								</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 66 de 78 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" class="imgNick">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 28/06/2005 22:40</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									<div>
										- Holas Casie! Tanto tiempo!, no me sorprende q Fudge no pueda hacer algo solo. Con este tema de
										Voldemort -<span class="cursiva">Algunas agentes tiemblan, pero Naya prosigue&nbsp;casi sin
											percatarse -</span>&nbsp;ha cometido&nbsp;infinidad de errores, no se imaginan la cantidad de veces que
										llamo al profeta suplicando que no publicasemos nada, es un farsante, lo detesto. Aunque comento
										esto, porque, que sea un farsante y que tengamos argumentos en su contra, es muy favorable para
										nosotras y para la misi&oacute;n, quiere decir que el Ministerio no ser&aacute; un problema si
										tenemos con qu&eacute; extorsionar al ministro.&nbsp;Claro que,&nbsp;esta medida&nbsp;la considero
										como una ultima opcion -
									</div>
									<div>
										- Es cierto que es bueno que el ministro no haga las cosas correctamente, al menos podria
										ultilizarse en ultima instancia, en alguna situacion de emergencia que se nos presente - <span
											class="cursiva">Se animo a decir una agente</span>
									</div>
									<div>
										- Ustedes que opinan? - <span class="cursiva">inquiri&oacute; Naya.</span>
									</div>
									<div>&nbsp;</div>
									<div>&nbsp;</div>
									<div>Naya de Gin&oacute;bili.</div>
									<div>&nbsp;</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 67 de 78 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" class="imgNick">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Marina de Potter
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 29/06/2005 0:25</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									<br>Cuando sirius va saliendo se topa con la elfina de la agente Marina una buena amiga suya,
									~~Hola loreine~~ (nombre de la elfina) y Marina ~~ Pregunte Sirius~~ Este en cama como es auror en un
									ataque sufrio unas heridas y esta con licencia hasta el jueves pero va a intentar llegar a las
									reuniones antes ~~ a yo voy a dejar el mensaje al cuartel, tu anda a cuidarla ~~ Gracias se&ntilde;or
									sirius ~~ y con un plop desaparece ~~ espero no toparme con Danielle ~~ murmura cuando justo se topa
									con ella ~~ Disculpa puedes llamar a Casie es urgente ~~ Danielle la va a llamar murmurando una
									cuantas cosas contra sirius ~~<br>Si sirius ~~ pregunta casie [sirius le cuenta lo que le conto
									loreine y la dice que va a ir a comprobar como esta su salud ya que son amigos ^o^] y casie le dice
									que si y entra a la reunion pra transmitir el mensaje de la agente</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 68 de 78 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" class="imgNick">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Casie4194
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 29/06/2005 2:19</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									</span>
									<div>
										<font>
											(La Teniente Casie regresa a la sala de juntas y vuelve a su lugar) Gracias por avisarme que me
											buscaba Sirius, Sargento Danielle (La Sargente vuelve a decir algo entre dientes. La Teniente Casie
											hace o&iacute;dos sordos) Sirius me acaba de decir que se encontr&oacute; a la elfina de la agente
											Marina y que le inform&oacute; que se encuentra indispuesta por el momento, pero que una vez que le
											hayan colocado en su lugar la nariz y las orejas vendr&aacute; en seguida a la reuni&oacute;n,
											Sirius se fue a ver c&oacute;mo estaba... ahora que lo pienso, no creo que fuera conveniente que
											Sirius se presentara en San Mungo como si nada, pudiera ser apresado... &iexcl;Pliniu! (El
											peque&ntilde;o elfo de Casie corre hasta donde est&aacute;) Pliniu, querido, sera mejor que
											alcances a Sirius y le digas que mejor no vaya y vayas t&uacute; en su lugar, puede ser riesgoso...
											(La Teniente Casie suspira) No, mejor no le digas que es riesgoso porque si no, entonces s&iacute;
											va a ir... dile... dile... dile que... Marina ya hizo acto de presencia aqu&iacute;, que luego
											vamos a su casa a verla, que ya se encuentra bien (Las dem&aacute;s agentes miran a Casie con el
											ce&ntilde;o fruncido. Ella les corresponde la mirada y levanta los hombros) Vamos, ustedes lo
											conocen, si sabe que lo pueden atrapar, para &eacute;l ser&aacute; un aliciente ir a burlarse de
											los del Ministerio, tengo que decirle una mentira y que me espere mejor en casa. Anda Pliniu, corre
											a decirle. De lo dem&aacute;s me encargo yo.</span>
									</div>
									<font>
										</span>
										<div>
											<font>
												&nbsp;</span>
										</div>
										<font>
											</span>
											<div>
												<font>
													Lady Cassandra Pendleton</span>
											</div>
											<font>
												</span>
												<div>
													<font>
														Duquesa de Strafford y Teniente del grupo V.A.T.A.R.</span>
												</div>
												<font>
													</span>
													<div>
														<font>
															(Casie para los amigos)</span>
													</div>
													<font>
														</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 69 de 78 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" class="imgNick">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 29/06/2005 3:06</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									<div>
										<span style="font-family: Geneva">&iquest;A&uacute;n quedan rezagadas aqu&iacute;? La
											reuni&oacute;n est&aacute; a punto de empezar en la <a target="_top"
											href="../Sala de reuniones I/01.htm">Sala de reuniones</a>.
										</span>
									</div>
									<div>&nbsp;</div>
									<div>
										<span style="font-family: Geneva"><img src="/vatar/images/Ginny3.png" width="139" height="80">&nbsp;</span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 70 de 78 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" class="imgNick">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Buffy Ane Summers
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 29/06/2005 3:11</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									<table class="noborder">
										<tbody>
											<tr height="100%">
												<td background="" valign="top" width="100%" height="250">
													<div>
														<font face="Courier New, Courier, Monospace">
															<span class="cursiva">La general rompiendo inconcientemente un lapiz que tenia en la
																mano por la mension de la agente Naya hacerca del periodico, la sargento Danielle sigue
																diciendo cosas entre dientes...</span></span>
													</div>
													<div>
														<font face="Courier New, Courier, Monospace">
															</span>&nbsp; 
													</div>
													<div>
														<font face="Courier New, Courier, Monospace">
															- Bueno, como primer punto queria decirles que lo que ustedes tomaron como vacasiones yo lo
															utilize de pensando en los flancos deviles, y he mandado a alguien a inspeccionar..y quizas nos
															ayude a que la sargento Danielle no mate a Sirius...por el momento, aunq dudo que seaparesca en
															el cuartel, si alguna se quiere reunir en las afueras con el para verificar su fiabilidad es
															completamente viable, su nombre es Issac y solo queense por las afueras de Londres en algun
															cafecito... quizas aparesa (si ya se...freaky), bueno, por otro lado, necesitamos establecer el
															dia del ataque, yo propongo que sea en las primeras semanas de julio..Ah..y, agente Naya, le
															rogaria que por el momento no hable del periodico...&not; &not;U o las personas que trabajan
															ahi....</span>
													</div>
												</td>
											</tr>
											<tr>
												<td height="1">
													<div></div>
												</td>
											</tr>
										</tbody>
									</table></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 71 de 78 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" class="imgNick">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 30/06/2005 5:04</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									<div>
										Bueno general, le contestare, en la <a target="_top" href="../Sala de reuniones I/01.htm">sala
											de reuniones</a>.
									</div>
									<div>&nbsp;</div>
									<div>Naya de Gin&oacute;bili.</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 72 de 78 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De: Miaka_Black</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 02/07/2005 3:43</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									</span>
									<div>
										<font>
											<span class="cursiva">Despu&eacute;s de la reuni&oacute;n en la Sala de Reuniones, las
												Agentes, Tenientes, Sargentos y dem&aacute;s rangos, que ya se preguntaban d&oacute;nde
												podr&iacute;a haberse metido la Agente Miaka, salen al jard&iacute;n, y ven un cuerpo flotando en
												la piscina...<br>(La Teniente Casie se acerca un poco m&aacute;s)<br>-
											</span>Cielos! Una suicida se nos ha colado en la mansi&oacute;n!<br> <span class="cursiva">(Coje
												una ramita y con cuidado toca varias veces el cuerpo flotante)</span></span>
									</div>
									<font>
										</span>
										<div>
											<font>
												-AAAAAAAAAAAARRRRRRGGGG!!!!!!!!!! Que susto me ha dado, Teniente!!
												<img src="/vatar/images/emdgust.gif" width="19" height="19">
												- El cuerpo flotante se da la vuelta dejando ver que es la Agente Miaka.<br>- &iquest;Pero
												Agente, qu&eacute; hace en la piscina? &iexcl;Se ha perdido la reuni&oacute;n!- La Teniente Ginny
												la mira con ojos desorbitados al ver el penoso estado en el que se encuentra, y le lanza una
												mirada de reproche.<br>-Yo, la verdad, es que no s&eacute; ni c&oacute;mo he llegado
												aqu&iacute;, recuerdo algo de una mesa, un baile con Sirius, y mucho whisky de fuego, y
												despu&eacute;s... N&aacute;. Lo sieeeeeeentooooooooo. (La Agente Miaka se pone a llorar
												desconsoladamente, una vez que sale de la piscina)<br>-Bueno, yo s&eacute; que el alcohol es
												muy malo, le comprendo Agente, pero esa no es excusa, en cuanto los elfos la lleven a su
												habitaci&oacute;n a cambiarse de ropa, quiero que se presente en mi despacho para hablar sobre su
												castigo. -Le dice la General Buffy.<br> <span class="cursiva">La Agente Miaka asiente
													cabizbaja y se seca las l&aacute;grimas, mientras grita:<br>-
												</span>A Dios pongo por testigo, que no volver&eacute; a beber alcohol!!<br> <br>Offtopic: En
												serio, siento no haberme pasado antes por aqu&iacute;, s&eacute; que no se han olvidado de
												m&iacute; porque he le&iacute;do que han escrito sobre m&iacute; en varios de sus mensajes, y me
												he le&iacute;do 71 mensajes en media hora -_-U. A partir de ahora participar&eacute; m&aacute;s a
												menudo... Y por favor, si alguien pudiera decirme qu&eacute; pas&oacute; en la reuni&oacute;n...<br>Otra
												cosilla, si cometo alg&uacute;n fallo en los rangos etc es porque todav&iacute;a no me los he
												aprendido del todo, perd&oacute;n
												<img src="/vatar/images/emcry.gif" width="19" height="19">
												y perd&oacute;n otra vez por no haber estado en la reuni&oacute;n.<br> <br>Miaka_Black<br>Miembro
												de la Orden Anti-Peter<br>Miembro de la Orden Siriusiana<br>Agente que espera no ser
												despedida de su rango...<br> <br> </span>
										</div>
										<font>
											</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 73 de 78 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" class="imgNick">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 02/07/2005 8:25</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									<table class="noborder">
										<tbody>
											<tr height="100%">
												<td background="" valign="top" width="100%" height="250">
													<div>
														<span class="cursiva">Naya sube las escaleras de la mansion y se detiene al escuchar un
															leve sonido. Se acerca un poco mas y percibe que el sondio es un llanto. Sigue buscando el
															origen del mismo y finalmente se detiene en la puerta&nbsp;con la inscripcion Agente Miaka.</span>
													</div>
													<div>
														<span class="cursiva">Naya entra sin peros&nbsp;y encuentra a miaka, ya cambiada y en la
															cama, lista para dormir, debido a que ya era tarde y con los ojos llorosos.</span>
													</div>
													<div>&nbsp;</div>
													<div>
														<span class="cursiva">- </span>Agente, ya dejese de tonterias, no se preocupes, seguramente a
														muchas de este grupo les agarro una borrachera alguna que otra vez y se perdieron de algo, al
														menos... a mi me ha pasado si eso la hace sentir mejor -
													</div>
													<div>- Gracias, agente, pero es q la mision es realmente muy importante para mi, y me
														duele... -</div>
													<div>- Entiendo, pero debe reponerse...eemmm... mire estoy ak para decirle lo que ha pasado
														en la reunion, y de esta forma sera como si no se la hubiera perdido, de acuerdo? -</div>
													<div>
														- De acuerdo - <span class="cursiva">Miaka esboza una sonrisa.</span>
													</div>
													<div>
														<span class="cursiva">- </span>Se ha estado discutiendo, principalmente el tema de la fecha para
														el ataque. Digamos que yo me quede dormida, por.. bueno, algunos percances, pero lucentio me
														conto, que al final convinieron en que ser&aacute; el 11-7 a las 14hs de arg, 18 de
														espa&ntilde;a y 12 de mexico, le queda bien el horario? -
													</div>
													<div>
														<span class="cursiva">La agente miaka se queda meditando.</span>
													</div>
													<div>&nbsp;</div>
													<div>Naya de Gin&oacute;bili.</div>
												</td>
											</tr>
											<tr>
												<td height="1">
													<div></div>
												</td>
											</tr>
										</tbody>
									</table></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 74 de 78 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" class="imgNick">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 10/07/2005 5:45</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									</span>
									<div>
										<font>
											<span class="cursiva"><span style="font-family: Geneva">La Teniente Ginny charla con
													la Teniente Casie sobre la nueva candidata, Gaby..</span></span></span>
									</div>
									<font>
										</span>
										<div>
											<font>
												&nbsp;</span>
										</div>
										<font>
											</span>
											<div>
												<font>
													<span style="font-family: Geneva">Ginny: As&iacute; que la General le dio la potestad para
														decidir si Gaby entraba o no.</span></span>
											</div>
											<font>
												</span>
												<div>
													<font>
														<span style="font-family: Geneva">Casie: S&iacute;, y creo que est&aacute; lista. Ha
															respondido bien al 88% de las preguntas.</span></span>
												</div>
												<font>
													</span>
													<div>
														<font>
															<span style="font-family: Geneva">G: Ajam. &iquest;Considera que debo mostrarle el
																emplazamiento de nuestro cuartel?</span></span>
													</div>
													<font>
														</span>
														<div>
															<font>
																<span style="font-family: Geneva">C: Sin duda, creo que podr&iacute;a ocupar (aunque
																	nunca del todo) el vac&iacute;o que va a dejar Leonita en la misi&oacute;n.</span></span>
														</div>
														<font>
															</span>
															<div>
																<font>
																	<span style="font-family: Geneva">G: Bien, si la General conf&iacute;a en su criterio,
																		yo tambi&eacute;n. Invitar&eacute; a Gaby a unirse. </span></span>
															</div>
															<font>
																</span>
																<div>
																	<font>
																		&nbsp;</span>
																</div>
																<font>
																	</span>
																	<div>
																		<font>
																			<span style="font-family: Geneva">Gracias, Casie, por todo... (usted sabe a
																				qu&eacute; me refiero <img src="/vatar/images/emwink.gif" width="19" height="19">)
																			</span></span>
																	</div>
																	<font>
																		</span>
																		<div>
																			<font>
																				<span></span>&nbsp;</span>
																		</div>
																		<font>
																			</span>
																			<div>
																				<font>
																					<img src="/vatar/images/Ginny3.png" width="139" height="80">
																					&nbsp;</span>
																			</div>
																			<font>
																				</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;<font size="1">
									&nbsp;Mensaje 75 de 78 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" class="imgNick">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ariel B. Black
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 14/07/2005 3:06</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									<font color="red">
										Este mensaje ha sido eliminado por el administrador o el administrador adjunto.</span></span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 76 de 78 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" class="imgNick">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Cookie
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 15/07/2005 0:09</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									<div>
										Hola quisiera saber quien es <span class="negrita"><span class="subrayado"><font
													color="#666699" face="Arial">TomRyddle23 ya que nunca habia escuchado hablar, puede que
													sea el nuevo mail de alguna de ustedes pero croe que lo mejor es permanecer alerta por eso me
													parecio importamte decirles.</span></span></span>
									</div>
									<div>
										<span class="negrita"><span class="subrayado"><font color="#666699" face="Arial"></span></span></span>&nbsp;
									</div>
									<div>
										<span class="negrita"><span class="subrayado"><font color="#666699" face="Arial">Saludos
													Agente.Cookie</span></span></span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 77 de 78 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 15/07/2005 1:55</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									<div>
										<span style="font-family: Geneva">Me parece muy acertado tu reclamo, est&aacute; bien que
											estemos alertas y sepamos qui&eacute;nes somos. TomRyddle23 soy yo, al igual que Ginny 3&copy; y
											Ginny_4&copy;, porque para subir im&aacute;genes necesito m&aacute;s espacio, y TomRyddle es el que
											uso para subir los libros, lo que pasa es que como es un correo de chico pues no pegaba ponerle
											Ginny jejeje.</span>
									</div>
									<div>&nbsp;</div>
									<div>
										<img src="/vatar/images/Ginny3.png" width="139" height="80">
										&nbsp;
									</div>
									<div>&nbsp;</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 78 de 78 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Cookie
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 15/07/2005 2:39</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									<div>Ok ok sabia que podria ser tuyo yo tambein tengo 3 para mis paginas pk el msn tiene
										espacio limitado...Pero quien sabe... bueno</div>
									<div>Byez</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<div class="paginadorMensajes">
	<div class="Command">
		<a href="javascript:primera();" title="Ir a los primeros 15 mensajes de esta discusi&oacute;n."><img
				src="/vatar/images/1arrow_back_1.gif" class="flechaNav">Primer</a>
	</div>
	<div class="Command">
		<a href="javascript:anterior();" title="Ir a los 15 mensajes anteriores de esta discusi&oacute;n."><img
				src="/vatar/images/1arrow_back_1.gif" class="flechaNav">Anterior</a>
	</div>
	<div class="ThmFgInactiveText actual">&nbsp;&nbsp;62 a 78 de 78&nbsp;&nbsp;</div>
	<div class="ThmFgInactiveText">
		Siguiente
		<img src="/vatar/images/1arrow_forward_1.gif" class="flechaNav">
		&nbsp;
	</div>
	<div class="ThmFgInactiveText">
		&Uacute;ltimo
		<img src="/vatar/images/1arrow_forward_1.gif" class="flechaNav">
		&nbsp;
	</div>
</div>