<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="content" role="main">  
    <div id="inicioVatar"
      style="background-color: black; background-image: url('assets/images/f_100.gif'); background-repeat: repeat;">
      ¡¡Bienvenidas, Agentes!! Este es el cuartel general de la misi&oacute;n V.A.T.A.R. (Vamos A Torturar A Rowling),
      dirigida y protegida bajo el hechizo Fidelio por la Coronel ^Ginny^<br /><br />
      <img src="assets/images/introvatar.gif" width="500" height="400"><br />
      <div align="right"><img src="assets/images/Ginny_jedi.png" alt="Ginny" width="300" height="62">&nbsp;&nbsp;&nbsp;
      </div>
    </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


