<input type="hidden" id="primera" value="perfiles/perfiles01.html" />
<input type="hidden" id="anterior" value="perfiles/perfiles06.html" />
<input type="hidden" id="siguiente" value="perfiles/perfiles08.html" /> 
<input type="hidden" id="ultima" value="perfiles/perfiles08.html" />
<div class="paginadorMensajes">
	<div class="Command"><a href="javascript:primera();" title="Ir a los primeros 15 mensajes de esta discusi&oacute;n."><img src="../images/1arrow_back_1.gif" class="flechaNav">Primer</a></div> 
	<div class="Command"><a href="javascript:anterior();" title="Ir a los 15 mensajes anteriores de esta discusi&oacute;n."><img src="../images/1arrow_back_1.gif" class="flechaNav">Anterior</a></div>
	<div class="ThmFgInactiveText actual" >&nbsp;&nbsp;212 a 232 de 232&nbsp;&nbsp;</div>
	<div class="ThmFgInactiveText">Siguiente<img src="../images/1arrow_forward_1.gif" class="flechaNav">&nbsp;</div>
	<div class="ThmFgInactiveText">&Uacute;ltimo<img src="../images/1arrow_forward_1.gif" class="flechaNav">&nbsp;</div>
</div>

<table border="1" cellpadding="0" cellspacing="0" width="100%"><tbody><tr class="ThmBgAlternate"><td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command" >Respuesta</a><br><img src="../images/c_002.gif" border="0" width="80" height="1"></td><td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">&nbsp;Mensaje 212 de 232 en la discusi&oacute;n&nbsp;</font> </td></tr></tbody></table></td></tr><tr class="ThmBgHighlightLight"><td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%"><tbody><tr><td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">De: <nobr><img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15"><img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">Buffy Ane Summers</nobr></font></td><td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">Enviado: 06/04/2006 0:56</font></td></tr></tbody></table>
<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%"><tbody><tr><td><font size="2" face="Arial,Helvetica,Sans Serif">*Buffy despues d hora y media leyendo los mensajes ya con un tic nervioso en el ojo izquierdo*<br><br>NI&Ntilde;AS! Q SI UNO SE VA 2 DIAS NO LE DEBEN DEJAR TAMA&Ntilde;A TAREA!... Naaa.. bromeo<br>Lady
A! Bienvenida! Hace tanto que no la leia (... se, soy la general,
siempre le hablo con los cargos a la gente y para colmo hablo de usd
XP...Naaa, lo de los cargos es q hay limitadas palabras para q Buffy
(Buffy yo, la persona q escribe, recuerde a los personajes, y con lo d
usd.. es q NECESITO hablar d usd, no saben las penurias q paso en linea
cuando me ponen a hablar d vos con las personas de otros paises _ _U)
Bueno, bienvenida.<br><br>Con respecto al "novio", el personaje si es
Jack Aun-no-tiene-apellido Yo lo tome prestado de Naya puesto q es su
compa&ntilde;ero en El Profeta y por lo tanto su personaje, pero el actor q
escogi para "encarnarlo" es Jonathan Rhys Meyer (see... el amigo-novia
en Alexander)<br><br>Bueno.. ya me alargue con el mensaje, nos leemos, adeus<br><br>G Buffy Ane Summers</font></td></tr></tbody></table></td></tr></tbody></table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%"><tbody><tr class="ThmBgAlternate"><td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command" >Respuesta</a><br><img src="../images/c_002.gif" border="0" width="80" height="1"></td><td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">&nbsp;Mensaje 213 de 232 en la discusi&oacute;n&nbsp;</font> </td></tr></tbody></table></td></tr><tr class="ThmBgHighlightLight"><td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%"><tbody><tr><td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">De: <nobr><img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15"><img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">LadyAngelinaJ</nobr></font></td><td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">Enviado: 06/04/2006 5:55</font></td></tr></tbody></table>
<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%"><tbody><tr><td><font size="2" face="Arial,Helvetica,Sans Serif"><div>GRACIAS A TODAS!!!</div> <div>&nbsp;</div> <div>Por
los mensajes de bienvenida, pero quiero aclararles que yo no soy tan
"r&aacute;pida" como ustedes en el post, o al menos no todav&iacute;a... a pesar de
los res&uacute;menes, de los que saco en claro que Ginny es una trastornada y
que Buffy sigue con sus delirios de grandeza haci&eacute;ndose llamar General,
ja, ja, ja (no es para tanto algo entiendo... Pero me pregunto: &iquest;el tal
Sawyer es algo del conocid&iacute;simo Tom, en versi&oacute;n de Mark Twain, no de
Rowling? Porque si es as&iacute;, ese tipo est&aacute; bastante loco y Ginny est&aacute; en
verdadero peligro...)</div> <div>Pronto mando algo m&aacute;s coherente... era s&oacute;lo para darles las gracias y avisarles que sigo leyendo...</div> <div>&nbsp;</div> <div><font color="#9933cc" size="5" face="Lucida Handwriting, Cursiva">Lady Angelina</font></div> </td></tr></tbody></table></td></tr></tbody></table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%"><tbody><tr class="ThmBgAlternate"><td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command" >Respuesta</a><br><img src="../images/c_002.gif" border="0" width="80" height="1"></td><td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">&nbsp;Mensaje 214 de 232 en la discusi&oacute;n&nbsp;</font> </td></tr></tbody></table></td></tr><tr class="ThmBgHighlightLight"><td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%"><tbody><tr><td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">De: <nobr><img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15"><img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">LadyAngelinaJ</nobr></font></td><td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">Enviado: 06/04/2006 6:20</font></td></tr></tbody></table>
<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%"><tbody><tr><td><font size="2" face="Arial,Helvetica,Sans Serif"></font><div><font size="2" face="Arial,Helvetica,Sans Serif">No
s&eacute; si es respuesta al mensaje de la General (siempre hay que respetar
los rangos, ja, ja, ja, ja) pero me inspir&oacute; a decirles que...</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif">Estuve pensando en qui&eacute;n podr&iacute;a ser mi novio y tengo varias opciones (para que no extra&ntilde;en mis listas): </font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif">1&ordm;
Severus Snape, porque creo que en este momento puedo considerarlo
cautivo de Rowling, pero tambi&eacute;n pienso en &eacute;l como uno de los que
siguen sueltos por all&iacute; con grandes dudas sobre su personalidad y
adhesi&oacute;n a "la causa". Adem&aacute;s porque todav&iacute;a ninguna se ha atrevido con
este enigm&aacute;tico sujeto, aunque Leonita ha coqueteado en m&aacute;s de una
oportunidad, verdad?</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif">2&ordm;
Rashad, porque adoro este personaje, desde que le&iacute; tooodo el fic de
Casie (si todav&iacute;a ella no se decidi&oacute; a publicarlo o a pas&aacute;rselo a
ustedes completo yo se los mando... a pesar de que le debo varios
cap&iacute;tulos corregidos de la primera parte, sorry Casie<img src="../images/emembarrassed.gif" width="19" height="19">) Ah! y porque todav&iacute;a nadie parece derretir ese coraz&oacute;n dedicado al karma o como sea y volverlo un poco m&aacute;s terrenal</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif">3&ordm;&nbsp;Fred
Weasley, por ser el m&aacute;s "loco" de los gemelos, o Gorge Weasley, por
tener un toque de "locura" y un toque de "racionalidad", seriedad y
l&oacute;gica que me encanta (de ser posible me quedo con los dos, como un
personaje de Cien A&ntilde;os de Soledad, je, je)</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif">4&ordm;
Me encanta, para completar, Jean Reno (un actor franc&eacute;s, un poco mayor
para el promedio...), por lo que tambi&eacute;n lo pongo. Ser&iacute;a un persojae
inventado y tendr&iacute;amos un poco de variedad "nacional"</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif">5&ordm; Se aceptan sugerencias...</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif">&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif">Muchos besos</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif">&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font color="#9933cc" size="5" face="Lucida Handwriting, Cursiva">Lady Angelina</font></font></div>
<font size="2" face="Arial,Helvetica,Sans Serif"> </font><font size="2" face="Arial,Helvetica,Sans Serif"></font></td>
</tr></tbody></table></td></tr></tbody></table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%"><tbody><tr class="ThmBgAlternate"><td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command" >Respuesta</a><br><img src="../images/c_002.gif" border="0" width="80" height="1"></td><td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">&nbsp;Mensaje 215 de 232 en la discusi&oacute;n&nbsp;</font> </td></tr></tbody></table></td></tr><tr class="ThmBgHighlightLight"><td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%"><tbody><tr><td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">De: <nobr><img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15"><img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">Leonita1981</nobr></font></td><td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">Enviado: 06/04/2006 9:45</font></td></tr></tbody></table>
<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%"><tbody><tr><td><font size="2" face="Arial,Helvetica,Sans Serif"><div>Lady
Angelina: Os aprecio de veras y cada vez m&aacute;s al ver que nuestros gustos
son muy simetricos. Estoy deseando ver vuestros mensajes en esta
loca,loca misi&oacute;n pero,&nbsp;aunque mis coqueteos con Severus han sido
muy estimulantes, Rashas es MIO, mi tessoroooo, &eacute;l vino a mi (&iexcl;Gollum!
fuera de mi cuerpo)</div> <div>&nbsp;</div> <div>En fin, ahora en
serio,&nbsp;me ha sorprendido que tengamos la misma opini&oacute;n sobre el
personaje de nuestra corregionaria Casie y me lo he agencio como novio
por las mismas razones que t&uacute; das. De hecho, ya tengo escrito en mi fic
c&oacute;mo lo conoc&iacute;.</div> <div>&nbsp;</div> <div>Si quieres saber mi opini&oacute;n, yo me cog&iacute;a a Severus aunque Jean Reno es una opci&oacute;n mu interesante</div></font></td></tr></tbody></table></td></tr></tbody></table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%"><tbody><tr class="ThmBgAlternate"><td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command" >Respuesta</a><br><img src="../images/c_002.gif" border="0" width="80" height="1"></td><td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">&nbsp;Mensaje 216 de 232 en la discusi&oacute;n&nbsp;</font> </td></tr></tbody></table></td></tr><tr class="ThmBgHighlightLight"><td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%"><tbody><tr><td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">De: <nobr><img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15"><img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">Ginny &copy;</nobr></font></td><td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">Enviado: 06/04/2006 13:44</font></td></tr></tbody></table>
<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%"><tbody><tr><td><font size="2" face="Arial,Helvetica,Sans Serif"></font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Geneva, Arial, Sans-serif">Jejeje, bueno, LadyA, ah&iacute; va mi opini&oacute;n:</font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Geneva, Arial, Sans-serif"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Geneva, Arial, Sans-serif">Severus
Snape ser&iacute;a un buen candidato, pero lo cierto es que a algunas no nos
inspira confianza, con todo lo de matar a Dumbledore y eso, no s&eacute;, creo
que crear&iacute;a crispaci&oacute;n (adem&aacute;s, Remus y Sirius est&aacute;n aqu&iacute;). No s&eacute;, a
Ginny no le har&iacute;a mucha gracia tenerle por aqu&iacute; cerca.</font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Geneva, Arial, Sans-serif"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Geneva, Arial, Sans-serif">Mmm, los gemelos ser&iacute;an una buena opci&oacute;n pero teniendo en cuenta que tienen 18 a&ntilde;itos... &iquest;no son algo j&oacute;venes? xD</font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Geneva, Arial, Sans-serif"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Geneva, Arial, Sans-serif">En
fin, de las que has puesto, yo me quedar&iacute;a con Jean Reno, es un
actorazo (aunque sab&eacute; que Gary no est&aacute; cogido, por si acaso te interesa
<img src="../images/emsmilep.gif" width="19" height="19">)</font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Arial"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Arial">Por &uacute;ltimo, bueno,&nbsp;<a target="_top" href="http://www.oceanicflight815.com/downloads/wallpapers/sawyer_pilix768.jpg">Sawyer</a> no es Tom, es uno de los personajes de Perdidos (Lost), interpretado por Josh Holloway (uf).</font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Arial"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Arial">Y bueno, vos decid&iacute;s con cu&aacute;l quer&eacute;s estar (&iquest;has visto? toy intentando mejorar mi argentino jejeje)</font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Arial"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Arial"><img src="../images/Ginny3.png" width="139" height="80">&nbsp;</font></font></div>
<font size="2" face="Arial,Helvetica,Sans Serif"></font></td></tr></tbody></table></td></tr></tbody></table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%"><tbody><tr class="ThmBgAlternate"><td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command" >Respuesta</a><br><img src="../images/c_002.gif" border="0" width="80" height="1"></td><td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">&nbsp;Mensaje 217 de 232 en la discusi&oacute;n&nbsp;</font> </td></tr></tbody></table></td></tr><tr class="ThmBgHighlightLight"><td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%"><tbody><tr><td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">De: <nobr><img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15"><img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">Casie4194</nobr></font></td><td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">Enviado: 06/04/2006 19:06</font></td></tr></tbody></table>
<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%"><tbody><tr><td><font size="2" face="Arial,Helvetica,Sans Serif"></font><div><font size="2" face="Arial,Helvetica,Sans Serif">Mi
Lady, me emociona y honra de sobremanera que te hayas enamorado de
Rashad. Fue un personaje que disfrut&eacute; mucho cre&aacute;ndolo. Sin embargo,
como ya te lo explic&oacute; Leonita, ya se lo agenci&oacute;, aunque no ha le&iacute;do la
historia completa como t&uacute; lo hiciste.</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif">&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif">En
cuanto a que no he publicado todo, cre&eacute;me, lo iba a hacer cuando me lo
sugeriste, pero (y fue culpa tuya) cuando rele&iacute; todo, decid&iacute;
enriquecerlo y tratar de hacerlo mejor. Fue un sentimiento que t&uacute;
sembraste en m&iacute;, gracias a tu maravillosa ayuda, y que ahora me hace
sentir insatisfecha con algunas cosas en mi propia historia y su
redacci&oacute;n. De hecho, estoy corrigiendo los primeros cap&iacute;tulos de La
Orden del F&eacute;nix (No los que t&uacute; me hiciste favor de corregir, sino los
primeros que puse en mi sitio) para poderlos cambiar. En cuanto a que
me debes algo, no te preocupes, yo entend&iacute; bien que estabas pasando por
un momento dif&iacute;cil en tu vida y no me iba a poner de impertinente, as&iacute;
que, don't worry, be happy.</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif">&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif">Si
quieres mi opini&oacute;n con respecto a tu pareja sentimental, te confieso
que incluir a Snape en la historia ser&iacute;a muy interesante. Habr&iacute;a que
ver los problemas que conllevar&iacute;a que llegaras con &eacute;l al cuartel
general. De los otros, pues Jean Reno siempre me ha encantado, se me
hace un t&iacute;o enigm&aacute;tico. De Gary... pues &iquest;qu&eacute; te parece si lo dejamos
por la paz?</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif">&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif">Besos</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif">&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif">Casie</font></div><font size="2" face="Arial,Helvetica,Sans Serif"></font></td></tr></tbody></table></td></tr></tbody></table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%"><tbody><tr class="ThmBgAlternate"><td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command" >Respuesta</a><br><img src="../images/c_002.gif" border="0" width="80" height="1"></td><td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">&nbsp;Mensaje 218 de 232 en la discusi&oacute;n&nbsp;</font> </td></tr></tbody></table></td></tr><tr class="ThmBgHighlightLight"><td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%"><tbody><tr><td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">De: <nobr><img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15"><img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">Naya enferma</nobr></font></td><td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">Enviado: 07/04/2006 5:08</font></td></tr></tbody></table>
<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%"><tbody><tr><td><font size="2" face="Arial,Helvetica,Sans Serif"><div><font face="Geneva, Arial, Sans-serif">Bueno...
creo que de todos los que dijiste el que encaja mejor es Jean Reno,
aaaaaaaauunqueeeee!!... jejejeje... la idea de que Severus traiga
algunos "problemitas-peleas" entre los habitantes de la mansi&oacute;n, me
atrae much&iacute;simo, todos los novios no tienen porqu&eacute; llevarse bien.
Adem&aacute;s... es el malo, no estar&iacute;a mal. De todas formas pienso que si no
permitimos a Sawyer tampoco deber&iacute;amos permitir a Snape... como ver&aacute;s
me debato entre el s&iacute; y el no. </font></div> <div><font face="Arial"></font>&nbsp;</div> <div><font face="Arial">Entre esto y la duda de Hamlet no s&eacute; con cu&aacute;l me quedo. </font></div> <div><font face="Arial"></font>&nbsp;</div> <div><font face="Arial">Jajajajaja!</font></div> <div><font face="Arial"></font>&nbsp;</div> <div><font face="Arial"></font>&nbsp;</div> <div><font color="#006699" face="Arial"><strong><em><u>Comandante Naya de Gin&oacute;bili.</u></em></strong></font></div></font></td></tr></tbody></table></td></tr></tbody></table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%"><tbody><tr class="ThmBgAlternate"><td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command" >Respuesta</a><br><img src="../images/c_002.gif" border="0" width="80" height="1"></td><td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">&nbsp;Mensaje 219 de 232 en la discusi&oacute;n&nbsp;</font> </td></tr></tbody></table></td></tr><tr class="ThmBgHighlightLight"><td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%"><tbody><tr><td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">De: <nobr><img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15"><img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">Rory Black</nobr></font></td><td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">Enviado: 09/04/2006 18:07</font></td></tr></tbody></table>
<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%"><tbody><tr><td><font size="2" face="Arial,Helvetica,Sans Serif"></font><div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Geneva, Arial, Sans-serif">Primero que nada...&iexcl;&iexcl;&iexcl;Bienvenida LadyA!!! (perdona por tardarme tanto <img src="../images/emembarrassed.gif" width="19" height="19">). </font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Geneva, Arial, Sans-serif"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Geneva, Arial, Sans-serif">En segundo lugar...&iexcl;&iexcl;&iexcl;Jean Reno!!! Aunque&nbsp;la idea de&nbsp;Severus es muy atrayente tambi&eacute;n. </font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif">&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Geneva, Arial, Sans-serif">Y en tercer lugar...</font><font size="2" face="Geneva, Arial, Sans-serif">un
favor del tama&ntilde;o del mundo:&nbsp;necesito que me digan&nbsp;qui&eacute;n de
ustedes (las atr&aacute;s del teclado) saldr&aacute;n de vacaciones de Semana Santa.</font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Arial"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Arial">Lo
digo porque por mi parte yo me ir&eacute; del jueves al martes siguientes, por
lo que no voy a poder estar participando. Relamente me gustar&iacute;a mucho
no perderme la boda y me preguntaba si ahora que Sawyer est&aacute; muerto y
Ginny volvi&oacute; a ser la misma...&iquest;Cu&aacute;ndo ser&aacute; la boda?&nbsp;Lo pregunto
porque me imagino que todas quieren asistir por lo que debe de ser un
d&iacute;a que sea favorable para todas &iquest;no creen? As&iacute; que, (en&nbsp;MI caso,
falta ver las fechas convenientes para las dem&aacute;s n_n) &iquest;Creen que la
boda pueda ser para antes del jueves&nbsp;o en su defecto despu&eacute;s del
martes?</font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Arial"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Arial">Besos y gracias por su atenci&oacute;n.</font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif">&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font color="#ff6699" face="Arial Black, Geneva, Arial, Sans-serif"><strong><em>Rory Black.</em></strong></font></font></div></div><font size="2" face="Arial,Helvetica,Sans Serif"></font></td></tr></tbody></table></td></tr></tbody></table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%"><tbody><tr class="ThmBgAlternate"><td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command" >Respuesta</a><br><img src="../images/c_002.gif" border="0" width="80" height="1"></td><td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">&nbsp;Mensaje 220 de 232 en la discusi&oacute;n&nbsp;</font> </td></tr></tbody></table></td></tr><tr class="ThmBgHighlightLight"><td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%"><tbody><tr><td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">De: <nobr><img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15"><img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">Marina de Potter</nobr></font></td><td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">Enviado: 09/04/2006 22:23</font></td></tr></tbody></table>
<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%"><tbody><tr><td><font size="2" face="Arial,Helvetica,Sans Serif">Si
chicas, le doy la razon a Rory, la celebracion deberia ser [segun yo]
despues del Martes, porque mi colegio es religioso y tenemos
actividades todos los dias (por semana santa), y me gustaria estar
presente ^o^ <br>&iquest;Que piensan las dem&aacute;s?<br><br>Marina</font></td></tr></tbody></table></td></tr></tbody></table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%"><tbody><tr class="ThmBgAlternate"><td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command" >Respuesta</a><br><img src="../images/c_002.gif" border="0" width="80" height="1"></td><td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">&nbsp;Mensaje 221 de 232 en la discusi&oacute;n&nbsp;</font> </td></tr></tbody></table></td></tr><tr class="ThmBgHighlightLight"><td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%"><tbody><tr><td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">De: <nobr><img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15"><img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">Marina de Potter</nobr></font></td><td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">Enviado: 09/04/2006 22:25</font></td></tr></tbody></table>
<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%"><tbody><tr><td><font size="2" face="Arial,Helvetica,Sans Serif">Ah.............. se me olvidaba yo votaria por Jean Reno pero la idea de severus en el cuartel me llama la atencon bastantes</font></td></tr></tbody></table></td></tr></tbody></table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%"><tbody><tr class="ThmBgAlternate"><td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command" >Respuesta</a><br><img src="../images/c_002.gif" border="0" width="80" height="1"></td><td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">&nbsp;Mensaje 222 de 232 en la discusi&oacute;n&nbsp;</font> </td></tr></tbody></table></td></tr><tr class="ThmBgHighlightLight"><td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%"><tbody><tr><td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">De: <nobr><img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15"><img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">Ginny &copy;</nobr></font></td><td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">Enviado: 09/04/2006 22:54</font></td></tr></tbody></table>
<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%"><tbody><tr><td><font size="2" face="Arial,Helvetica,Sans Serif"><div>Por favor, intentemos ordenar la comu, mensajes sobre la boda, aqu&iacute;.</div>
</font></td></tr></tbody></table></td></tr></tbody></table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%"><tbody><tr class="ThmBgAlternate"><td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command" >Respuesta</a><br><img src="../images/c_002.gif" border="0" width="80" height="1"></td><td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">&nbsp;Mensaje 223 de 232 en la discusi&oacute;n&nbsp;</font> </td></tr></tbody></table></td></tr><tr class="ThmBgHighlightLight"><td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%"><tbody><tr><td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">De: <nobr><img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15"><img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">Naya enferma</nobr></font></td><td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">Enviado: 14/04/2006 14:20</font></td></tr></tbody></table>
<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%"><tbody><tr><td><font size="2" face="Arial,Helvetica,Sans Serif"></font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Geneva, Arial, Sans-serif">Bueno, no se si lo de las escuelas tiene mucho q ver con los perfiles, pero no voy a armar todo un post por esto, jejeje!</font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Arial"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Arial">Puse
una m&iacute;nima parte de lo que va a ser mi colegio, estoy poniendo no m&aacute;s
las cosas armadas. &Eacute;sas que tienen un 80% de probabilidades de que no
se cambien, jejejeje! Pero bueno, lo toy armando. </font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Arial"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Arial">Les recomiendo que bajen estas dos letras, para poder ver m&aacute;s linda la page m&iacute;a:</font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Arial"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Arial">Walt Disney Script</font></font></div>
<font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Arial"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Arial">KellyAnnGothic</font></font></div>
<font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Arial"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Arial">Eso es todo!! Espero q les est&eacute; gustando! <img src="../images/emteeth.gif" width="19" height="19">&nbsp;No me enojo si dan opiniones o criticas constructivas! Por m&iacute;... mejor! <img src="../images/emteeth.gif" width="19" height="19"></font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Arial"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Arial"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font color="#006699" face="Arial"><strong><em><u>Comandante Naya de Gin&oacute;bili.</u></em></strong></font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"></font></td></tr></tbody></table></td></tr></tbody></table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%"><tbody><tr class="ThmBgAlternate"><td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command" >Respuesta</a><br><img src="../images/c_002.gif" border="0" width="80" height="1"></td><td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">&nbsp;Mensaje 224 de 232 en la discusi&oacute;n&nbsp;</font> </td></tr></tbody></table></td></tr><tr class="ThmBgHighlightLight"><td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%"><tbody><tr><td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">De: <nobr><img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15"><img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">Ginny &copy;</nobr></font></td><td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">Enviado: 14/04/2006 17:22</font></td></tr></tbody></table>
<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%"><tbody><tr><td><font size="2" face="Arial,Helvetica,Sans Serif"></font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Geneva, Arial, Sans-serif">Naya,
te iba a escribir un correo pero el ahjsidg de hotmail no me deja. Lo
ideal es que pongas&nbsp;un enlace a las fuentes en la propia p&aacute;gina,
para que si alguien que no ha le&iacute;do este mensaje entra, sepa que las
puede descargar. Los enlaces a las fuentes son:</font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Geneva, Arial, Sans-serif"></font>&nbsp;</font></div>
<font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Geneva, Arial, Sans-serif"></font>&nbsp;</font></div>
<font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Geneva, Arial, Sans-serif"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Geneva, Arial, Sans-serif"><img src="../images/Ginny3.png" width="139" height="80">&nbsp;</font></font></div>
<font size="2" face="Arial,Helvetica,Sans Serif"></font></td></tr></tbody></table></td></tr></tbody></table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%"><tbody><tr class="ThmBgAlternate"><td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command" >Respuesta</a><br><img src="../images/c_002.gif" border="0" width="80" height="1"></td><td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">&nbsp;Mensaje 225 de 232 en la discusi&oacute;n&nbsp;</font> </td></tr></tbody></table></td></tr><tr class="ThmBgHighlightLight"><td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%"><tbody><tr><td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">De: <nobr><img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15"><img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">Rory Black</nobr></font></td><td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">Enviado: 22/04/2006 1:33</font></td></tr></tbody></table>
<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%"><tbody><tr><td><font size="2" face="Arial,Helvetica,Sans Serif"><div><font size="2" face="Geneva, Arial, Sans-serif">&iexcl;&iexcl;&iexcl;Chicas!!! Les quer&iacute;a avisar que.. acabo de subir mi fic ^o^. Espero y les guste n_n.</font></div> <div><font size="2" face="Arial"></font>&nbsp;</div> <div><font size="2" face="Arial">Un besote.</font></div> <div><img src="../images/Rory.png" width="163" height="70">&nbsp;</div>
</font></td></tr></tbody></table></td></tr><tr class="ThmBgDivider"><td colspan="3"></td></tr>
</tbody></table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%"><tbody><tr class="ThmBgAlternate"><td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command" >Respuesta</a><br><img src="../images/c_002.gif" border="0" width="80" height="1"></td><td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">&nbsp;Mensaje 226 de 232 en la discusi&oacute;n&nbsp;</font> </td></tr></tbody></table></td></tr><tr class="ThmBgHighlightLight"><td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%"><tbody><tr><td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">De: <nobr><img src="../images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15"><img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">Casie4194</nobr></font></td><td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">Enviado: 22/04/2006 6:37</font></td></tr></tbody></table>
<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%"><tbody><tr><td><font size="2" face="Arial,Helvetica,Sans Serif"><div>Hola Rory:</div> <div>&nbsp;</div> <div>Muy bonito tu fic, me gust&oacute;.</div> <div>&nbsp;</div> <div>Por
cierto, s&oacute;lo te quiero hacer notar un peque&ntilde;o detalle: Los ojos de
Sirius no son azules, son grises. Mira si lo sabr&eacute; yo, que lo he
tenido, as&iacute;, as&iacute; de cerca. Bueno, es broma, qu&eacute; m&aacute;s quisiera yo. En
realidad fue una aclaraci&oacute;n que hizo la misma Rowling y puedes verla en
el Diccionario del Mago, el cual puedes encontrar en un sitio que se
llama Harry Latino o en los mismos libros.</div> <div>&nbsp;</div> <div>Besos</div> <div>&nbsp;</div> <div>Casie</div></font></td></tr></tbody></table></td></tr></tbody></table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%"><tbody><tr class="ThmBgAlternate"><td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command" >Respuesta</a><br><img src="../images/c_002.gif" border="0" width="80" height="1"></td><td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">&nbsp;Mensaje 227 de 232 en la discusi&oacute;n&nbsp;</font> </td></tr></tbody></table></td></tr><tr class="ThmBgHighlightLight"><td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%"><tbody><tr><td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">De: <nobr><img src="../images/cool_global_nick.gif"  align="absmiddle" border="0" width="15" height="15"><img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">Rory Black</nobr></font></td><td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">Enviado: 22/04/2006 16:19</font></td></tr></tbody></table>
<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%"><tbody><tr><td><font size="2" face="Arial,Helvetica,Sans Serif"></font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Geneva, Arial, Sans-serif">Hola
Casie, me alegra que te haya gustado n_n. En cuanto a los ojos de
Sirius: s&iacute; s&eacute; que son grises, pero por alguna raz&oacute;n yo me lo imagino
con los ojos azules (es una de esas cosas con las que me enterco y de
ah&iacute; ni Rowling me saca XDD).</font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Arial"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Arial">Besos.</font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"></font></td></tr></tbody></table></td></tr></tbody></table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%"><tbody><tr class="ThmBgAlternate"><td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command" >Respuesta</a><br><img src="../images/c_002.gif" border="0" width="80" height="1"></td><td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td align="right">&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">&nbsp;Mensaje 228 de 232 en la discusi&oacute;n&nbsp;</font> </td></tr></tbody></table></td></tr><tr class="ThmBgHighlightLight"><td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%"><tbody><tr><td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">De: <nobr><img src="../images/cool_global_nick.gif"  align="absmiddle" border="0" width="15" height="15"><img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">Marina de Potter</nobr></font></td><td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">Enviado: 22/04/2006 18:33</font></td></tr></tbody></table>
<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%"><tbody><tr><td><font size="2" face="Arial,Helvetica,Sans Serif">Rory!!!!!!!!:<br><br>Me
encanto tu fic, ojala yo pudiera terminar m&aacute;s rapido mi fic y
publicarlo pronto, pero entre trabajos, maquetas, y talleres que tengo
qu organizar para que mi compa&ntilde;eras entiendan &not;&not;**, se me va todo el
tiempo, lo unico que no me gusto fue que fuera tancorto, me estaba
entretaniendo leyendolo XD<br><br>Bueno, eso es todo <br><br>Saludos a todas las agentes<br><br>Marina</font></td></tr></tbody></table></td></tr></tbody></table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%"><tbody><tr class="ThmBgAlternate"><td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command" >Respuesta</a><br><img src="../images/c_002.gif" border="0" width="80" height="1"></td><td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td align="right"><a class="Command" title="Eliminar este mensaje"><img src="../images/small_delete_1.gif" align="middle" border="0" width="12" height="12" hspace="2"><b>Eliminar</b></a>&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">&nbsp;Mensaje 229 de 232 en la discusi&oacute;n&nbsp;</font> </td></tr></tbody></table></td></tr><tr class="ThmBgHighlightLight"><td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%"><tbody><tr><td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">De: <nobr><img src="../images/cool_global_nick.gif"  align="absmiddle" border="0" width="15" height="15"><img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">Naya enferma</nobr></font></td><td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">Enviado: 22/12/2006 5:51</font></td></tr></tbody></table>
<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%"><tbody><tr><td><font size="2" face="Arial,Helvetica,Sans Serif"><div><font face="Geneva, Arial, Sans-serif">Bueno
nada, que cambi&eacute; una cosita del perfil pero quiero saber si no les
molesta ni nada, puse que Naya estudi&oacute; Periodismo y Artes Oscuras, fin.
Saqu&eacute; pociones y puse artes oscuras en gral., con lo que el puesto en
el ministerio era un puesto menor en pociones, s&iacute;, pero menor. </font></div> <div><font face="Arial"></font>&nbsp;</div> <div><font face="Arial">Ahh
y voy a poner que es sangre pura, pero traidora a la sangre. Eso, es
que bueno, no s&eacute;, me parece que este perfil va m&aacute;s con el personaje.
Como que cuando lo invent&eacute;, no hab&iacute;a escrito nada en el vatar y poco a
poco el perso de Naya se fue desviando un poco del perfil inicial, as&iacute;
que bueno, me parece que este va m&aacute;s con ella.</font></div> <div><font face="Arial"></font>&nbsp;</div> <div><font face="Arial"></font>&nbsp;</div> <div><font color="#006699" face="Arial"><strong><em><u>Naya.</u></em></strong></font></div></font></td></tr></tbody></table></td></tr></tbody></table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%"><tbody><tr class="ThmBgAlternate"><td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command" >Respuesta</a><br><img src="../images/c_002.gif" border="0" width="80" height="1"></td><td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td align="right"><a class="Command" title="Eliminar este mensaje"><img src="../images/small_delete_1.gif" align="middle" border="0" width="12" height="12" hspace="2"><b>Eliminar</b></a>&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">&nbsp;Mensaje 230 de 232 en la discusi&oacute;n&nbsp;</font> </td></tr></tbody></table></td></tr><tr class="ThmBgHighlightLight"><td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%"><tbody><tr><td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">De: <nobr><img src="../images/cool_global_nick.gif"  align="absmiddle" border="0" width="15" height="15"><img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">Ginny &copy;</nobr></font></td><td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">Enviado: 24/12/2006 15:32</font></td></tr></tbody></table>
<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%"><tbody><tr><td><font size="2" face="Arial,Helvetica,Sans Serif"></font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Geneva, Arial, Sans-serif">Nononononono, Naya, no puedes hacer eso, ya es tarde, demasiado&nbsp;tarde, MUAJAJAJAJA...</font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Geneva, Arial, Sans-serif"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Geneva, Arial, Sans-serif">Jajajaja es co&ntilde;a, de toas formas ya me lo hab&iacute;as comentao ^^&nbsp; </font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Geneva, Arial, Sans-serif"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font size="2" face="Geneva, Arial, Sans-serif"><img src="../images/Ginny3.png" width="139" height="80">&nbsp;</font></font></div>
<font size="2" face="Arial,Helvetica,Sans Serif"></font></td></tr></tbody></table></td></tr></tbody></table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%"><tbody><tr class="ThmBgAlternate"><td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command" >Respuesta</a><br><img src="../images/c_002.gif" border="0" width="80" height="1"></td><td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td align="right"><a class="Command" title="Eliminar este mensaje"><img src="../images/small_delete_1.gif" align="middle" border="0" width="12" height="12" hspace="2"><b>Eliminar</b></a>&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">&nbsp;Mensaje 231 de 232 en la discusi&oacute;n&nbsp;</font> </td></tr></tbody></table></td></tr><tr class="ThmBgHighlightLight"><td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%"><tbody><tr><td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">De: <nobr><img src="../images/cool_global_nick.gif"  align="absmiddle" border="0" width="15" height="15"><img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">Buffy Ane Summers</nobr></font></td><td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">Enviado: 30/12/2006 1:34</font></td></tr></tbody></table>
<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%"><tbody><tr><td><font size="2" face="Arial,Helvetica,Sans Serif">PERO COMO SE TE OCURRE? EH?<br><br>AQUI NO ACEPTAMOS TRAIDORES A LA SANGRE NI SANGRE SUCIAS!!<br><br>(todo
el cuartel viendo mal a la persona q escribe, por atras aparecen dos
enfermeros y le inyectan cosas, la que escribe carraspea y se
reincorpora)<br><br>... lo siento, son cosas que pasan cuando uno rolea mucho como Bella... no volvera a pasar *cruzando los dedos* <br><br>Jajajaja... bue.. si, siempre me habia preguntado como es q Naya habia ingresdo a un colegio asi no siento pure blood XP<br><br>BAS</font></td></tr></tbody></table></td></tr></tbody></table>
<br>
<table border="1" cellpadding="0" cellspacing="0" width="100%"><tbody><tr class="ThmBgAlternate"><td align="center" background="../images/reply_bg.gif" nowrap="nowrap"><a class="Command" >Respuesta</a><br><img src="../images/c_002.gif" border="0" width="80" height="1"></td><td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td align="right"><a class="Command" title="Eliminar este mensaje"><img src="../images/small_delete_1.gif" align="middle" border="0" width="12" height="12" hspace="2"><b>Eliminar</b></a>&nbsp;&nbsp;&nbsp;<font size="1" face="Arial,Helvetica,Sans Serif">&nbsp;Mensaje 232 de 232 en la discusi&oacute;n&nbsp;</font> </td></tr></tbody></table></td></tr><tr class="ThmBgHighlightLight"><td colspan="2" width="100%"><table border="0" cellpadding="4" cellspacing="0" width="100%"><tbody><tr><td width="100%" nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">De: <nobr><img src="../images/cool_global_nick.gif"  align="absmiddle" border="0" width="15" height="15"><img src="../images/c_002.gif" align="middle" border="0" width="2" height="15">Naya enferma</nobr></font></td><td nowrap="nowrap"><font size="1" face="Arial,Helvetica,Sans Serif">Enviado: 31/12/2006 6:04</font></td></tr></tbody></table>
<table class="ThmBgStandard" border="0" cellpadding="10" cellspacing="0" width="100%"><tbody><tr><td><font size="2" face="Arial,Helvetica,Sans Serif"></font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Geneva, Arial, Sans-serif">Jajajaja,
sii, por eso lo cambi&eacute;, pero es que a parte, Lin, &iquest;c&oacute;mo hubiese podido
yo convivir con mi cuerpo sabiendo que en mis sangre hab&iacute;a sangre de
muggle? &iexcl;UN HORROR! &iexcl;Pyxis no lo hubiera sorportado como honorable hija
de Bellatrix...!</font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Arial"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Arial">...</font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Arial"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Arial">*Ginny record&aacute;ndole que esto es el vatar y que la que escribe no es la hija de Bella sino, Nadia*</font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Arial"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Arial">&iexcl;Ahhh! Ya, ya, &iquest;entonces estoy orgullosa de ser una muggle sin ning&uacute;n poder m&aacute;gico ahora?</font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Arial"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Arial">Ya,
les dec&iacute;a... &iexcl;qu&eacute; maravilloso el mundo muggle! Sin embargo, Naya es
sangre limpia, por lo que dijo Buffy y porque no encajaba con el perfil
que a lo largo del vatar le fui dando.</font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Arial"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Arial">^^</font></font></div>
<font size="2" face="Arial,Helvetica,Sans Serif"> </font><font size="2" face="Arial,Helvetica,Sans Serif"> </font>
<div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Arial"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font color="#006699" face="Arial"><strong><u><em>Naya.</em></u></strong></font></font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Arial"></font>&nbsp;</font></div><font size="2" face="Arial,Helvetica,Sans Serif"> </font><div><font size="2" face="Arial,Helvetica,Sans Serif"><font face="Arial">Pd.: Sepan que es culpa de Buffy que ahora est&eacute; en ocho mil roles diferentes!!!! Jajajajajaja ^^.</font></font></div></td></tr></tbody></table></td></tr></tbody></table>
<br>

<div class="paginadorMensajes">
	<div class="Command"><a href="javascript:primera();" title="Ir a los primeros 15 mensajes de esta discusi&oacute;n."><img src="../images/1arrow_back_1.gif" class="flechaNav">Primer</a></div> 
	<div class="Command"><a href="javascript:anterior();" title="Ir a los 15 mensajes anteriores de esta discusi&oacute;n."><img src="../images/1arrow_back_1.gif" class="flechaNav">Anterior</a></div>
	<div class="ThmFgInactiveText actual" >&nbsp;&nbsp;212 a 232 de 232&nbsp;&nbsp;</div>
	<div class="ThmFgInactiveText">Siguiente<img src="../images/1arrow_forward_1.gif" class="flechaNav">&nbsp;</div>
	<div class="ThmFgInactiveText">&Uacute;ltimo<img src="../images/1arrow_forward_1.gif" class="flechaNav">&nbsp;</div>
</div>