body {
	width: 100%;
	box-sizing: border-box;
	    margin: 0px;
}


footer {
	border: 0px;
    border-spacing: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 0.7em;
    font-family: Tahoma, Arial, Helvetica, Sans Serif;
}

hr {
	width: 98%;
	margin-bottom: -4px;
}

section {
	display: flex;
	height: 100%;
	background-color: #ECF1F6;
}

aside {
	display: flex;
	flex-direction: column;
	width: 11%;	
	min-width: 160px;
}

table {
	border-spacing: 0px;
	padding: 0px;
}

.caja {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-around;
}

.cajaColumna {
	display: flex;
	flex-direction: column;
}

.menuElement {
	padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    text-align: left;
    padding-right: 10px;
}

#inicioVatar {
	border: 2;
	text-align: center;
	padding: 60px;
	padding-left: 80px;
	padding-right: 80px;
	color: #ffcc00;
	font-size: 1.5em;
	/*background: black url("images/f_100.gif") repeat;*/
	height: 100%;
}

.mensaje {
	padding: 5px;
}

.centrar {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.tituloVatar {
	padding-bottom: 5px;
	padding-left: 10px;
	height: 30px;
	vertical-align: middle;
	white-space: nowrap;
}

.filaTitulo {
	font-size: 0.7em;
	display: flex;
	color: white;
	background-color: #846a9f;
}

.tituloVatar2 {
	margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 10px;
}

.candadito {
	border: 0;
	width: 16px;
	height: 16px;
	padding-left: 3px;
    vertical-align: sub;
}

.fila {
	display: table-row;
	width: 100%
}

.celda {
	display: table-cell;
}

.subrayado {
	text-decoration: underline;
}

.cursiva {
	font-style: italic;
}

.contenidoTexto {
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 40px;
	padding-top: 20px;
}

.alinearDer {
    margin-left: auto;
    text-align: right;
}

.fontVerdana {
	font-family: Geneva;
}

.negrita {
	font-weight: bold;
}

.rojo {
	color: red;
}

@font-face {
	font-family: "kagothic";
	src: url("assets/otros/KAGothic.ttf") format("truetype");
}

@font-face {
	font-family: "naya";
	src: url("assets/otros/tallpaul.ttf") format("truetype");
}

@font-face {
	font-family: "mtcorsva";
	src: url("assets/otros/mtcorsva.ttf") format("truetype");
}

@font-face {
	font-family: "julius_thysen";
	src: url("assets/otros/JuliusBThyssen.TTF") format("truetype");
}

@font-face {
	font-family: "lucida_handwriting";
	src: url("assets/otros/lucida-handwriting.ttf") format("truetype");
}

@font-face {
	font-family: "geneva";
    src: url("assets/otros/Geneva.ttf");
    /*otros/Geneva.ttf") format("truetype");*/
}

#biblioteca {
	background: black url("assets/images/biblioteca.gif") repeat;
	padding: 50px;
	width: 100%;
	font-family: mtcorsva;
}

.biblio1 {
	color: #663300;
	background-color: #ffffcc;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
}

.letraGrande {
	font-size: 1.5em;
}

.biblio2 {
	background-color: #ffff66;
	padding: 20px;
	color: #663300;
	width: 40%;
    text-align: center;
	margin-left: auto;
	margin-right: auto;
} 

.biblio3 {
	background-color: #ccffff;
	border-style: double;
	border-color: #004e75;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	padding: 15px;	
	font-size: 1.5em;
	text-align: center;
}

.verde1 {
	color: #009900;
}

.verde2 {
	color: #99ffcc;
	text-align: justify;
}

.rosa {
	color: #ff6699;
}

.blanco {
	color: #ffffff;
}

.listaLibros {
	font-family: geneva;
	font-size: 0.9em;
	width: 30%;
}

.recomendado {
	width: 25%;
	border-style: double;
	border-color: #552400;
}

#contenidoHombres {
	background-color: #37244a;
	font-family: lucida_handwriting;	
	width: 100%;	
	padding: 30px;
	text-align: center;
}

#contenidoHombres .header {
	color: #ffcccc;
	font-size: 1.5em;
}

#contenidoHombres .tabla {
	display: table;
	color: #ccccff;
	font-size: 1.2em;
	text-decoration: underline;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
    border-width: 1px;
    border-collapse: separate;
    border-spacing: 1px;
}

#contenidoHombres .fila {
	display: table-row;
}

#contenidoHombres .celda {
	display: table-cell;
	border-style: solid;
    border-width: 1px;
    border-collapse: separate;
    border-spacing: 1px;
    padding: 10px;
    vertical-align: middle;
}

#imgTitulo {
	width: 800px;
	height: 76px;
}

@media screen and (max-width: 700px)  {

	aside {
		display: none;
	}
	
	#panelMensajes .asunto {
	    width: 70%;
	    font-weight: bold;
	}
	
	#panelMensajes .mensajes {
	    width: 30%;
	}
	
	#panelMensajes .iniciada {
		display: none;
	}
	
	#panelMensajes .ultimaRespuesta {
		display: none;
	}
	
	#imgTitulo {
		width: 100vw;
	}
}

ul {
    margin: 0px!important;
    background: none;
    border: none;
    padding: 0px;
    background: none;
    border: none;
}

li button {
    border: none;
	background: none;
	color: #666699;
	font-weight: bold;
	padding-top: 0.9em;
	text-decoration: underline;
}


ul hr {
    padding: 0;
    margin-left: -0.8em;
    width: 120%;
}
