<input type="hidden" id="primera" value="recepcion/recepcion01.html" />
<input type="hidden" id="anterior" value="recepcion/recepcion01.html" />
<input type="hidden" id="siguiente" value="recepcion/recepcion02.html" />
<input type="hidden" id="ultima" value="recepcion/recepcion02.html" />
<div class="paginadorMensajes">
	<div class="Command">
		<a href="javascript:primera();" title="Ir a los primeros 15 mensajes de esta discusi&oacute;n."><img
				src="/vatar/images/1arrow_back_1.gif" class="flechaNav">Primer</a>
	</div>
	<div class="Command">
		<a href="javascript:anterior();" title="Ir a los 15 mensajes anteriores de esta discusi&oacute;n."><img
				src="/vatar/images/1arrow_back_1.gif" class="flechaNav">Anterior</a>
	</div>
	<div class="ThmFgInactiveText actual">&nbsp;&nbsp;32 a 53 de 53&nbsp;&nbsp;</div>
	<div class="ThmFgInactiveText">
		Siguiente
		<img src="/vatar/images/1arrow_forward_1.gif" class="flechaNav">
		&nbsp;
	</div>
	<div class="ThmFgInactiveText">
		&Uacute;ltimo
		<img src="/vatar/images/1arrow_forward_1.gif" class="flechaNav">
		&nbsp;
	</div>
</div>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 32 de 53 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 05/05/2006 4:31</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									<div>Bueno, Casie, he hecho lo que he podido:</div>
									<img src="/vatar/images/Caie.gif" width="200" height="280">
									<img src="/vatar/images/Casie-boda2.gif" width="200" height="280">
									<div>&nbsp;</div>
									<div>&nbsp;</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 33 de 53 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Casie4194
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 06/05/2006 1:55</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									<div>&iexcl;Oh! Ginny, estoy segura que has hecho lo posible, pero, no logro visualizar el
										vestido. &iquest;Es mi computadora o t&uacute; tampoco lo ves?</div>
									<div>&nbsp;</div>
									<div>Besos</div>
									<div>&nbsp;</div>
									<div>Casie</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 34 de 53 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Rory Black
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 06/05/2006 2:13</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									<div>
										<span style="font-family: Geneva">Bueno, perdonen que me meta donde no me llaman (lo digo por
											que la pregunta era para Ginny n_nU)&nbsp;pero... yo tampoco puedo ver los vestidos. De
											reci&eacute;n que Ginny mand&oacute; el post si pod&iacute;a hacerlo, pero ahora no s&eacute; que
											pas&oacute; que no puedo <img src="/vatar/images/emcrook.gif" width="19" height="19">.
										</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<span>Al menos no es s&oacute;lo tu computadora Casie n_nU.</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<span>Un beso.</span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 35 de 53 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 06/05/2006 2:33</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									<div>Ups, lo siento, el servidor donde est&aacute;n alojadas las im&aacute;genes dice estar en
										mantenimiento. Las pondr&eacute; con el m&eacute;todo tradicional:</div>
									<div>&nbsp;</div>
									<div>
										<img src="/vatar/images/Casie.gif" width="200" height="280">
										<img src="/vatar/images/Casie (1).gif" width="200" height="280">
										&nbsp;&nbsp;
									</div>
									<div>&nbsp;</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgDivider">
			<td colspan="3"></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 36 de 53 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Casie4194
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 06/05/2006 2:46</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									<div>Ginny, cre&eacute;me, eres una verdadera maga. &iexcl;Est&aacute;n preciosos! En lo
										particular, me gusta el segundo, aunque le falta el velo, pero se ve mejor. Gracias. Creo que me
										quedo con el segundo.</div>
									<div>&nbsp;</div>
									<div>Besos</div>
									<div>&nbsp;</div>
									<div>Casie</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 37 de 53 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Leonita1981
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 06/05/2006 13:17</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									<div>
										buena elecci&oacute;n, milady, si me permite decirlo (Adoro esta expresi&oacute;n de los ingleses.
										<font color="#000000">
											<span class="cursiva"><font>Please let me say you that</span>)</span></span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 38 de 53 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 06/05/2006 17:05</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									<div>Ah, y bueno, tambi&eacute;n se puede cambiar el peinao si no te convence ese.</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 39 de 53 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 06/05/2006 20:12</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									<div>
										<span style="font-family: Geneva">- Ay! Q lindas! Bueh, a m&iacute; me encanta &eacute;se
											peinado, jejeje, pero sin el velo. Y el vestido para m&iacute; es hermoso!! Q linda elecci&oacute;n
											para una boda! -</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<span>- Felicitations Casie... Es q viste... ahora q se puso de moda el ingl&eacute;s ejem
											ejem - <span class="cursiva">dice Naya mirando significativamente a Leonita, quien responde</span><span
											class="cursiva">&nbsp;mirando a Naya y &eacute;sta &uacute;ltima cree ver que su amiga
												est&aacute; realmente echando humo por las orejas, por lo que... simple y lentamente comienza a
												caminar hacia un costado con el fin de salir lo m&aacute;s&nbsp;r&aacute;pido posible de la vista
												de Leonita...&nbsp;</span>
										</span>
									</div>
									<div>
										<span class="cursiva"><span></span></span>&nbsp;
									</div>
									<div>
										<span class="cursiva"><span></span></span>&nbsp;
									</div>
									<div>
										<font color="#006699" face="Arial">
											<span class="negrita"><span class="cursiva"><span class="subrayado">Comandante
														Naya.</span></span></span></span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 40 de 53 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Casie4194
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 07/05/2006 4:42</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									<div>&iexcl;Ay! Gracias chicas. El vestido est&aacute; divino &iquest;verdad?. En cuanto al
										peinado, realmente me gusta y ya me ha hecho m&aacute;s de un gui&ntilde;o, pero &iquest;Soy la
										novia o no? Quisiera ver un cat&aacute;logo de peinados para escoger. La tiara es maravillosa y esa
										me la quedo.</div>
									<div>&nbsp;</div>
									<div>A que no hab&iacute;an visto una novia m&aacute;s desesperante que yo &iquest;eh?</div>
									<div>&nbsp;</div>
									<div>Besos</div>
									<div>&nbsp;</div>
									<div>Casie</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right"><font size="1">
									&nbsp;Mensaje 41 de 53 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Marina de Potter
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 07/05/2006 19:39</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									<font color="red">
										Este mensaje ha sido eliminado por el administrador o el administrador adjunto.</span></span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 42 de 53 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Marina de Potter
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 07/05/2006 19:42</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									Si casie creo que te ves espectacular con ese vestidos, (se escucan muchos aplausos para casie), y
									tambien me encanta el peinado.<br> <br>Pero bueno, si tu quieres cambiarlo es cosa tuya, y
									creo que todas te apoyariamos ^^UU<br> <br>Aqui es donde surge mi duda, el vestido de las
									damas de honor, &iquest;cual va a ser?<br> <br>Espero que se desida pronto<br> <br>y
									creo que pronto voy a subir una imagenes de unos recuerdos para los invitados que me encanta, pero
									solo es una sugerencia para ti.<br> <br>Marina<br> <br>Marina</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 43 de 53 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Ginny &copy;
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 07/05/2006 20:27</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									<div>El vestido de las damas, por mayor&iacute;a, es el n&uacute;mero 1 del mensaje 21.</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 44 de 53 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Cookie
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 21/05/2006 18:07</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									<div>
										<font face="Comic Sans MS">
											Creo que el vestido de Casiee es <span class="negrita"><font size="5">preshiiioosiisimoo</span></span>...</span>
									</div>
									<div>
										<font face="Comic Sans MS">
											Me encanta.. y creo que el tocado lo arruina un poco queda mejor sin el ;)</span>
									</div>
									<div>
										<font face="Comic Sans MS">
											Y Nayita de mi corazzon... es Congratulations!! jaja ... cuakk. parecees una amiga mia.</span>
									</div>
									<div>
										<font face="Comic Sans MS">
											Bueenoo me retiiro a ver is hay mas movimiento siii??</span>
									</div>
									<div>
										<font face="Comic Sans MS">
											Besoote</span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 45 de 53 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Naya enferma
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 23/05/2006 0:03</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									<div>
										<span style="font-family: Geneva">La gracia era escribirlo mal, Cookie... &not;&not;...
											jajajajajaja, est&aacute; bien que no sepa mucho ingl&eacute;s, pero bueno che &iquest;para tanto?
											jajajajaja, eso si que lo s&eacute;! jajaja</span>
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<span></span>&nbsp;
									</div>
									<div>
										<font color="#006699" face="Arial">
											<span class="negrita"><span class="cursiva"><span class="subrayado">Comandante
														Naya.</span></span></span></span>
									</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>
<table border="1" class="tablaMensajesMsn">
	<tbody>
		<tr class="ThmBgAlternate">
			<td align="center" background="/vatar/images/reply_bg.gif" nowrap="nowrap"><a class="Command">Respuesta</a><br>
				<img src="/vatar/images/c_002.gif" border="0" width="80" height="1"></td>
			<td width="100%"><table class="noborder">
					<tbody>
						<tr>
							<td align="right">&nbsp;&nbsp;&nbsp;<font size="1">
									&nbsp;Mensaje 46 de 53 en la discusi&oacute;n&nbsp;</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
		<tr class="ThmBgHighlightLight">
			<td colspan="2" width="100%"><table class="msgDeEnviado">
					<tbody>
						<tr>
							<td width="100%" nowrap="nowrap"><font size="1">
									De:
									<nobr>
										<img src="/vatar/images/cool_global_nick.gif" align="absmiddle" border="0" width="15" height="15">
										<img src="/vatar/images/c_002.gif" align="middle" border="0" width="2" height="15">
										Cookie
									</nobr>
									</span></td>
							<td nowrap="nowrap"><font size="1">
									Enviado: 23/05/2006 0:26</span></td>
						</tr>
					</tbody>
				</table>
				<table class="ThmBgStandard">
					<tbody>
						<tr>
							<td><font>
									<div>por eso queridaa.. mi amiga dice cosas como:</div>
									<div>&nbsp;Miss i finish the punto dos</div>
									<div>
										&nbsp;O la de hoy que mataba:<br>&nbsp;Miss you me portouu good. soy good.
									</div>
									<div>&nbsp;</div>
									<div>Beshossss</div>
									</span></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
<br>

<div class="paginadorMensajes">
	<div class="Command">
		<a href="javascript:primera();" title="Ir a los primeros 15 mensajes de esta discusi&oacute;n."><img
				src="/vatar/images/1arrow_back_1.gif" class="flechaNav">Primer</a>
	</div>
	<div class="Command">
		<a href="javascript:anterior();" title="Ir a los 15 mensajes anteriores de esta discusi&oacute;n."><img
				src="/vatar/images/1arrow_back_1.gif" class="flechaNav">Anterior</a>
	</div>
	<div class="ThmFgInactiveText actual">&nbsp;&nbsp;32 a 53 de 53&nbsp;&nbsp;</div>
	<div class="ThmFgInactiveText">
		Siguiente
		<img src="/vatar/images/1arrow_forward_1.gif" class="flechaNav">
		&nbsp;
	</div>
	<div class="ThmFgInactiveText">
		&Uacute;ltimo
		<img src="/vatar/images/1arrow_forward_1.gif" class="flechaNav">
		&nbsp;
	</div>
</div>